.payment-status .select2-container {
    width: 163px !important;
}

body {
    background-color: #dadcdc;
    background-image: url('../../../assets/img/main-bg.png');
    background-position: top center;
    background-repeat: repeat;
    background-attachment: scroll;
}

img {
    max-width: 100%;
}

.article-register-btn {
    width: 100%;
    height: 40px;
    background: #FFB400 !important;
    border: none;
    border-radius: 0px;
    color: #ffffff !important;
    font-size: 1.5em !important;
    padding: 1em 1em !important;
    content: "";
    font-weight: bold;
}

.btn-custom {
    background-color: #FFB400;
    border-color: #FFB400;
    color: white;
    font-weight: bold;
   /* font-size: 14px;*/
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #e6a200;
    border-color: #cc9000;
    color: white;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #FFB400;
    border-color: #FFB400;
}



.banner {
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;

}

.banner div {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.btn-inscrib, .btn-clima{
    padding-left: 6em;
    padding-right: 6em;
    font-weight: bold;
}

.btn-clima{
    padding-left: 5em;
    padding-right: 5em;
    background: #FFB400;
    color: #ffffff;
    font-size: 18px;
}

.bg-clima{

    background: #afce3e;
    color: #ffffff;
    font-size: 18px;
}




.conf-article{
    border: 1px solid #0086af;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.conf-article h5{
    color: #0086af;
    margin-left: 1em;
    font-weight: bold;
}

.conf-quote, .testim-quote{
    padding: 0.7em;
    border-top: 8px solid #0086af;
    font-size: 0.8em;
}

.container {
    padding-right: 4em;
    padding-left: 4em;
}


.testim-article{
    margin: 2em 0;
    font-style: italic;
}

.testim-quote{
    border-top: none;
    font-size: 14px;

}

.banner img {
    height: 160px;
}

.banner .bottom {
    font-weight: bold;
    margin: 0;
    padding: 0.7em 0;
    font-size: 1.6em;
}

.btn-active {
    background-color: #fff;
    border-color: #ccc;
    border: none;
    outline: 0;
    color: #333;
}

.capacitacion-border {
    border: 1px solid #b1c90e;
}

.capacitacion-botton {
    background-color: #b1c90e;
}

.click-here{
    font-size: 14px;
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}

.cmsms_breadcrumbs a {
    color: #337ab7 !important;
}

.conf-client .client-row{
    padding: 30px;
}

.conferencia-border {
    border: 1px solid #bb0843;
}

.conferencia-botton {
    background-color: #bb0843;
}

.consultoria-border {
    border: 1px solid #2882ac;
}

.consultoria-botton {
    background-color: #2882ac;
}

.conf-checks li{
    list-style: url(img/check.png);
}

.conf-checks{
    margin-left: 1.6em;
}

.conf-logos{
    max-height: 50px;
}

.conf-detail-logos {
    height: 100px;
}

div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: left;
}

.dropdown-menu > li > a {
    font-size: 13px;
}

.email-us{
    /*width: 67%;*/
    /*padding: 1em 0;*/
    font-size: 1.2em;
    font-weight: bold;
}

#errorSubmit, .errorSubmit{
    color:red;
}

.errorFormSubm{
    margin-top: 0px;

}

textarea{
    min-height: 0px;
}

.container {overflow: hidden; width: 100%}
.flexslider {margin: 0 auto}


.flex-direction-nav li {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
}

.flex-direction-nav li:first-child {
    left: 0;
}

.flex-direction-nav li:last-child {
    right: 0;
}

.flex-direction-nav li a {
    display: block;
    height: 100%;
    width: 100%;

    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.flex-direction-nav li a::before, .flex-direction-nav li a::after {
    /* left and right arrows in css only */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: white;
}

.flex-direction-nav li a::before {
    transform: translateY(-35px) rotate(45deg);
}

.flex-direction-nav li a::after {
    transform: translateY(-27px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::before {
    transform: translateY(-35px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::after {
    transform: translateY(-27px) rotate(45deg);
}

.form-group .form-control {
    width: 100% !important;
}

#client-section {
    padding-bottom: 0px;
}

.client-row [class*='col-'] {
    height: 100px;
    line-height: 100px;
}

.client-row img {
    vertical-align: middle;
    margin-bottom: 0.25em;
}

#header > .header_inner {
    height: 145px;
}

#header > .header_inner > a.logo {
    top: 27px;
    left: 0px;
}

#header > .header_inner > a.logo,
#header > .header_inner > a.logo > img {
    width: 210px;
    height: 116px;
}

#header nav {
    top: 90px;
    right: 0%;
}

#header nav.login-user {
    top: 20px;
    right: 0%;
}

#header .social_icons {
    top: 10px;
    right: 0px;
}

#middle{
    border-top: 1px solid #00c3f4;
}

.header_html {
    top: 20px;
    right: 0px;
}

.header_login {
    top: 50px;
    right: 0;
    text-align: right;

    display: inline-block;
    position: absolute;
    margin: 0 1.6em;
}

.header_login a {
    font: 15px/20px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;
    font-weight: normal;
    font-style: normal;

}

#header a:hover {
    text-decoration: none;
}

.header_login li {
    list-style: none;
    padding-bottom: 0px;
}

.header_login .divider {
    padding: 0px;
}

.index-subtitle{
    margin-top: 1.2em;
}

.imgholder img{
    text-align: center;
    margin: auto;
}

.left-inner-addon {
    position: relative;
    text-align: left;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.left-inner-addon input {
    padding-left: 30px;
}

.libro-recl {
    text-align: left;
    padding-top: 25px;
}

.list-descripcion{
    margin-bottom: 2em;
}

.navbar-toggle {
    background-color: #00c3f4;
}

.navbar-toggle .icon-bar {
    background-color: white;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid #0086af !important;
    border-right: 1px solid #0086af !important;
    border-top: 1px solid #0086af !important;
    border-bottom: none;
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #0086af;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #0086af;
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: 1.1em;
}

.nav-tabs>li >a {
    color: #CCCCCC;
    font-weight: bold;
    background-color: #f9f9f9;
    font-size: 1.1em;
}


.news-post h4{
    margin: 2em 0 0.5em 0;
    line-height:30px;
}


.news-post{
    text-align: justify;
}



.medio-pago img{
    width: 70px;
    height: 30px;
}

.mission {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.mission-col {
    border-right: 1px solid #DDDDDD;
    min-height: 490px;
}

.modal-header-3c {
    background-color: #337ab7;
    color: white;
}

.payment-option{
 position: relative !important;
}

.payment-way img {
    max-width: 65px;
    display: inline-block;
}

.payment-row div {
    margin-bottom: 1em;
}

.program-list{
    margin-bottom: 1.2em;
}

.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

div.tooltip-inner {
    max-width: 100px;
}

.cd-testimonials  div{
    margin-top: 1em;
    text-align: center;
    line-height: 28px;
}

.quote{
    font-size: 1.5em;
    line-height: 28px;
    padding: 0;
}

.name-testimonial{
    font-size: 1.2em;
    line-height: 22px;
    padding: 0;
}



.company-testimonial{
    font-size: 1.7em;
    line-height: 22px;
    padding: 0;
    font-weight: bold;
}


.registration-col{
    margin-top: 84px;
}

.reg-zone {
    background-color: #f5f5f5;
    padding: 2em 3em;
}

.confirm-zone {
    background-color: #f5f5f5;

}

.register-title{
    color: #0086af;
    font-weight: bold;
}


.subscribe-btn {
    width: 100%;
    height: 40px;
    background: #FFB400 !important;
    border: none;
    border-radius: 0px;
    color: #ffffff !important;
    font-size: 1.3em !important;
    padding: 5px 2em !important;
    content: "";
}

.subscribe-zone{
    background-color: #0086af;
    color: white;
}

.subscribe-zone a {
    color: white;
    text-decoration: none;
}

.subscribe-zone a:hover {
    color: white;
    text-decoration: none;
}

.subscribe-zone .row{
    margin: 0px;
}

.subscribe-landing-btn {
    width: 100%;
    height: 40px;
    background: #FFB400 !important;
    border: none;
    border-radius: 0px;
    color: #ffffff !important;
    font-size: 1.3em !important;
    padding: 1em 3.5em !important;
    content: "";
    font-weight: bold;
}

.taller-divider {
    margin-top: 0;
}

#prefooter .textwidget {
    text-align: center !important;
}

#testimonials {
    padding: 0.5em 0;
    color: #87898c;
}

#testimonials .quote {
    font-size: 1.2em;
}

#testimonials .name-testimonial {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.widgettitle {
    font-size: 1.5em !important;
}

.bg-test{
    background-image: url("../img/portada.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 38.64%;
}

.mitad{
    position: relative;
    top: 50%;
    left: 63%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-150%);

}

.flat-consultoria, .flat-capacitacion, .flat-conferencias  {
    color: #fff;
    background-color: #08a5d0;
 /*   text-shadow: -1px 1px #417cb8;*/
    border: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.flat-capacitacion{
    background-color: #99cc54;
}

.flat-conferencias{
    background-color: #b82c58;
}

.banner-video {
    left: 63%;
   /* top: 35% !important;*/

}

.flat-consultoria:hover, .flat-capacitacion:hover, .flat-conferencias:hover {
   /* background-color: #346392;
    text-shadow: -1px 1px #27496d;*/
    text-decoration: none;
}

/*

.flat button:hover,
.flat button.hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
}

.flat button:active,
.flat button.active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}*/


.main-footer .rights{
    float: left !important;
}

.main-footer .terms{
    text-align: right;
}
.ytb-video{
    max-height: 415px;
    padding-bottom: 15px;
}

/* Blog */
.entry-content{
    padding-top: 10px;
}


.captcha input{
    width: auto;
}

.related-art{
    padding-bottom: 0px !important;
}

.related-art aside{
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.related-art h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

textarea.form-control {
    padding: 7px 12px;
}

@media screen and (max-width: 479px) {
    .client-row [class*='col-'] {
        min-height: 80px;
        height: auto;
        line-height: normal;
        margin-top: 30px;
    }
    .news-post{
        min-height: 320px;
        max-height: 440px;
    }
    .well-sm {
        padding: 0px !important;
        font-size: 14px;
    }
    .well-sm .btn-lg{
        font-size: 14px;
    }

    .wrap_lay_slider div {
        top: 6% !important;
    }
}
@media (min-width: 480px) and (max-width: 767px) {



    .flex-viewport {overflow: visible !important}

    .client-row img{
        max-height: 75px;
    }
    
    .client-row [class*='col-'] {
        min-height: 80px;
        max-height: 110px;
        height: auto;
        line-height: normal;
        margin-top: 30px;
    }
    .news-post{
        min-height: 390px;
        max-height: 480px;
    }


}

@media only screen and (max-width: 767px) {



  /*  .wrap_lay_slider div {
        top: 12%;

    }

    .wrap_lay_slider img {
        width: 50px;
    }*/

    .bg-test img {
        width: 50px;
    }

    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.5em;
    }
    .btn-rspnsive{
        font-size: 15px;
    }
    .wrap_lay_slider {
        padding-top: 2em;
    }

    .libro-recl {
        text-align: center;
    }

    .posts-row > div[class*='col-'] {
        margin-bottom: 1em;
    }
    
    .mission-col {
        border-right: 0px;
    }
    .conf-client{
        margin-top:15px;
    }
    .conf-client .client-row{
        padding: 10px;
    }
    
    .main-footer .rights{
        text-align: center;
        margin-top:5px;
    }

    .main-footer .terms{
        text-align: center;
    }
    .payment-way img {
        max-width: 70px;
        display: inline-block;
    }
    .news-post{
        margin-bottom: 1em;
        margin-top: 0.5em;
    }
    .news-post h4{
        margin: 1em 0 0.5em 0;
        line-height: 20px;
    }
    .news-post p{
        height: auto;
        margin-bottom: 10px;
    }
    .news-post .cmsms_more{
    }
    /* Blog */
    .entry-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .entry-title{
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
@media (min-width:768px) and (max-width:991px){

    #navigation > li > a {

        font-size: 12px;
    }

    .wrap_lay_slider div {

        top: 16%;

    }

    .mission-col{
        border: 0px;
        min-height: auto;
    }
    .conf-client{
        margin-top: 15px;
    }
    /* Blog */
    .entry-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .entry-title{
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .mission-col{
        min-height: 510px;
    }
}




@media only screen and (max-width: 1023px) {

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    #navigation, #navigation ul {
        margin: -10px;
    }

    #header > .header_inner > a.logo {
        top: auto;
        left: auto;
    }

    #header > .header_inner {
        height: auto;
    }

    #header nav, .header_html,
    #header .social_icons {
        top: auto;
        right: auto;
    }

    #content, #sidebar {
        width: 100%;
    }

    .mission-col{
        border-right: 0px;
    }


}

@media only screen and (min-width: 992px) {
    .client-row [class*='col-'] {
        height: 80px;
        line-height: 80px;
        padding: 0px 15px;

    }

    .client-row{
        /*margin: 0 -2.5em;*/
        margin: 0 3.5em;
    }

    .mitad {

        transform: translateY(-290%);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #navigation > li > a {

        font-size: 12px;
    }

    #header nav {
        right: -4%;
    }

    #header > .header_inner > a.logo, #header > .header_inner > a.logo > img {
        width: 168px;
        height: 105px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1250px) {
    #navigation > li > a {

        font-size: 12px;
    }
}


@media only screen and (max-width: 1200px) {
    .formulario-p {

        padding: 0em 0em;
    }
}

