


/* ===================> Fonts <================== */



/* ====> Content <==== */



body,

li p,

.widget_custom_posts_tabs_entries li,

.cmsms_breadcrumbs a {

	font:14px/18px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;


}



.cmsms_comments,

.tour > li a,

.tabs li a span,

.tog,

.button, 

.button_small, 

.button_medium, 

.button_large, 

.comment-reply-link, 

#cancel-comment-reply-link, 

input[type="submit"] {

	font-family:'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

}



table.table th {

	font-family:'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-size:14px;

	line-height:21px;

}



.post .entry-header,

.cmsms_comments_wrap,

.post .published,

.cmsms_price_outer,

.pricing_button,

.more_button {

	font-family:'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

}



/* ====> Links <==== */



a {

	font:12px/18px Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



/* ====> Navigation <==== */



#navigation > li > a {

	font:15px/20px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}



#navigation ul li a {

	font:13px/20px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}





/* ====> Headings <==== */



h1,

h1 a,

.logo .title {

	font:40px/58px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:300;

	font-style:normal;

}



.logo .title {font-weight:normal;}



h2,

h2 a {

	font:30px/36px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}



h3,

h3 a,

.colored_button {

	font:26px/36px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:300;

	font-style:normal;

}



h4,

h4 a,

.cmsms_sitemap > li > a,

#sidebar .widgettitle,

#top_sidebar .widgettitle,

#middle_sidebar .widgettitle {

	font:22px/36px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}



h5,

h5 a,

.cmsms_sitemap > li > ul > li > a {

	font:15px/18px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}



h6,

h6 a,

.table thead th {

	font:14px/18px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:normal;

	font-style:normal;

}





/* ====> Other <==== */



blockquote, 

q {

	font:14px/24px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



q:after, 

blockquote:after {

	font-family:'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

}



span.dropcap {

	font:48px/46px 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;

	font-weight:bold;

	font-style:normal;

}



code {

	font:12px/18px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



small,

small a {

	font:11px/18px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



input, 

textarea, 

select {

	font:12px/18px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



#footer,

#footer a {

	font:12px/18px 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;

	font-weight:normal;

	font-style:normal;

}



/* ===================> Colors <================== */



/* ====> Content <==== */

	

body,  

.tog.current,

.accordion .tog,

.tabs li a,

div.jp-playlist li a.jp-playlist-current,

.tour > li a,

.cmsms_comments,

.cmsmsLike,

ul.p_filter li a {

	color:#484d4f;

}



/* ====> Links <==== */



a, 

.post .entry-title a:hover,

.cmsmsLike:hover,

.cmsmsLike.active,

.related_posts_content h6 a:hover,

ul.p_filter li a:hover,

ul.p_filter li.current a,

.project .entry-title a:hover {

	color:#00a6cb;

}



a:hover,

.post .entry-header .atricle_box_inner .cmsms_comments:hover {

	color:#004b6c;

}



.color_3 {

	color:#00c3f4;

}



/* ====> Navigation <==== */



#navigation > li > a {

	/*color:#ACABAB;*/
    color: #034d6e;
    font-size: 17px;

}



#navigation > li.current_page_item > a,

#navigation > li.current-menu-ancestor > a,

#navigation > li:hover > a,

#navigation > li > a:hover {

	color:#ffffff;

}



#navigation ul li > a {

	color:#004b6c;
}



#navigation ul li.current_page_item > a,

#navigation ul li.current-menu-ancestor > a,

#navigation ul li:hover > a {

	color:#ffffff;

}



/* ====> Headings <==== */



h1,

.logo {

	color:#3c4143;

}



h2,

.post .entry-title a {

	color:#3c4143;

}



h3 {

	color:#3C4143;

}



h4,

.project .entry-title a {

	color:#3c4143;

}



h5 {

	color:#3c4143;

}



h6,

.related_posts_content h6 a {

	color:#3c4143;

}





/* ====> Other <==== */



.color_2, 

q:before, 

blockquote:before, 

q, 

blockquote {

	color:#3c4143;

}



span.dropcap {

	color:#484d4f;

}



span.dropcap2 {

	color:#ffffff;

}



code {

	color:#484d4f;

}



small {

	color:#484d4f;

}



input, 

textarea, 

select,

select option {

	color:#484d4f;

}



input:focus, 

textarea:focus, 

select:focus {

	color:#181818;

}





/* ====> Footer Content <==== */



#footer,

#footer a {

	color:#ffffff;

}





/* ====> Footer Links <==== */



#footer a:hover,

#footer h1 a:hover, 

#footer h2 a:hover, 

#footer h3 a:hover, 

#footer h4 a:hover, 

#footer h5 a:hover, 

#footer h6 a:hover {

	color:#00c3f4;

}



/* ===================> Backgrounds and Borders <================== */



.cmsmsLike {background-color:#cccccc;}



.post .entry-header {background-color:#3d4244;}



.percent_item_colored,
#slide_top,
.table th, 
span.dropcap2,
.cmsmsLike:hover,
.cmsmsLike.active,
.cmsms_more:hover,
.post .published,
.cmsms_content_slider_parent ul.cmsms_slides_nav li.active a, 
.cmsms_content_slider_parent ul.cmsms_slides_nav li:hover a,
#navigation > li.current_page_item > a,
#navigation > li.current-menu-ancestor > a,
#navigation > li:hover > a,
#navigation > li > a:hover {

	background-color:#00c3f4;

}



code {

	border-top-color:#00c3f4;

}



input[type="text"]:focus, 

input[type="password"]:focus, 

textarea:focus,

#slide_top:hover {

	border-color:#00c3f4;

}



/* ---------- Small Tablet & Mobile (Note: Design for a width less than 768px) ---------- */



@media only screen and (max-width: 767px) {

	

	#navigation ul li a,

	#navigation > li > a {font-size:15px;}

	

	#navigation > li.current_page_item > a,

	#navigation > li.current-menu-ancestor > a,

	#navigation li.current_page_item > a,

	#navigation li.current-menu-ancestor > a,

	#navigation > li:hover > a,

	#navigation > li > a:hover {

		/*background-color:#fdfdfd;*/

		color:#004b6c;

	}

	

}



/* ---------- Mobile (Note: Design for a width less than 541px) ---------- */



@media only screen and (max-width: 540px) {



	.cmsms_comments_wrap {color:#004b6c;}

	

	.cmsms_comments {color:#ffffff;}

	

	.responsiveSlider h1 {

		font-size:12px;

		line-height:18px;

	}

}



