/**
 * @package WordPress
 * @subpackage Halsey
 * @since Halsey 1.0
 * 
 * High Resolution (Retina) Displays CSS Rules
 * Created by CMSMasters
 * 
 */


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), 
	only screen and (-moz-min-device-pixel-ratio: 1.5), 
	only screen and (-o-min-device-pixel-ratio: 3/2), 
	only screen and (min-device-pixel-ratio: 1.5) {
	
	#slide_top {
		background-image:url(../img/retina/slide_up%402x.png);
		background-size:35px 35px; 
	}
	
	.cmsms_post_format_img {
		background-image:url(../img/retina/post_format%402x.png);
		background-size:37px 272px;
	}
	
	.cmsms_content_prev_slide span, 
	.cmsms_content_next_slide span,
	.project_navi a[rel="prev"],
	.project_navi a[rel="next"],
	ul.page-numbers a.next{
		background-image:url(../img/retina/arrow_content_slider%402x.png);
		background-size:10px 60px;
	}
	
	.more_button span {
		background-image:url(../img/retina/arrow_more%402x.png);
		background-size:7px 11px;
	}
	
	.pricing_button {
		background-image:url(../img/retina/arrow_pricing%402x.png);
		background-size:10px 17px;
	}
	
	a.cmsms_prev_slide span, 
	a.cmsms_next_slide span {
		background-image:url(../img/retina/arrow_slide%402x.png);
		background-size:11px 38px;
	}
	.p_cat_filter.button span,
	.p_cat_filter.button_small span,
	.p_sort a[name="p_name"] span, 
	.p_sort a[name="p_date"] span {
		background-image:url(../img/retina/arrow_sort%402x.png);
		background-size:11px 34px;
	}
	
	.cmsmsLike {
		background-image:url(../img/retina/heart%402x.png);
		background-size:14px 11px;
	}
	
	.icon_banner {
		background-image:url(../img/retina/icon_banner%402x.png);
		background-size:41px 552px;
	}
	
	.search_line input[type="submit"]{
		background-image:url(../img/retina/icon_search%402x.png);
		background-size:17px 16px;
	}
	
	.cmsms-form-builder .check_parent input[type="radio"]+label:before,
	.cmsms-form-builder .check_parent input[type="radio"]:checked+label:before,
	.cmsms-form-builder .check_parent input[type="checkbox"]+label:before,
	.cmsms-form-builder .check_parent input[type="checkbox"]:checked+label:before {
		background-image:url(../img/retina/radio_check%402x.png); 
		background-size:19px 130px;
	}
	
	.box.error_box tr td:first-child {
		background-image:url(../img/retina/error%402x.png); 
		background-size:32px 32px; 
	}

	.box.success_box tr td:first-child {
		background-image:url(../img/retina/success%402x.png); 
		background-size:32px 32px; 
	}

	.box.notice_box tr td:first-child {
		background-image:url(../img/retina/notice%402x.png); 
		background-size:32px 32px; 
	}

	.box.warning_box tr td:first-child {
		background-image:url(../img/retina/warning%402x.png); 
		background-size:32px 32px; 
	}

	.box.download_box tr td:first-child {
		background-image:url(../img/retina/download%402x.png); 
		background-size:32px 32px; 
	}
	
}

