{% block checkbox_widget %}
{% spaceless %}
<div class="checkbox">
    <label>
        <input type="checkbox" {{ block('widget_attributes_checkbox') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label|trans }}
    </label>
</div>
{% endspaceless %}
{% endblock checkbox_widget %}