{% block radio_widget %}
{% spaceless %}
    <label class="btn btn-default">
    <input type="radio" {{ block('widget_attributes_radio') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|trans }}
</label>
{% endspaceless %}
{% endblock radio_widget %}