
{% extends "::admin_base.html.twig" %}

{% block body %}
 
    {% block breadcrum %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Conferencias
            <small>Lista de conferencias</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

    {% endblock breadcrum %}


    {% block content %}
            <!-- Main content -->
            <section class="content">
asdasdasda
asd
a
sd
asd
asd
as
d
asd

            </section><!-- /.content -->

    {% endblock content %}

{% endblock body %}
