{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set attachment = wp_find_post_thumbnail(post) %}
{% set content = post.content %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block description %}{{ content|length > 150 ? (content|slice(0, 150)) ~ '...' : content }}{% endblock %}

{% block socialmeta %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    {% if (attachment != null) %}
        <meta property="og:image" content="{{ wp_url~'/wp-content/uploads/'~attachment.url }}"/>
    {% endif %}
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost()~path("blog_get", {id:post.slug}) }}"/>
    {% autoescape false %}
    <meta property="og:description" content="{{ content|length > 150 ? (content|slice(0, 150)) ~ '...' : content }}"/>
    {% endautoescape %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block container %}

    <section id="middle">
        <div class="cmsms_breadcrumbs">
            <a href="http://www.3ccultura.com/inicio/" class="cms_home">Inicio</a>
            <span class="breadcrumbs_sep"> / </span>
            <a href="http://www.3ccultura.com/blog/" title="Ver todas las entradas en Blog">Blog</a>
            <span class="breadcrumbs_sep"> / </span>
            <span>{{ post.title }}</span>
        </div>
        <div class="row post-row">
            <div class="col-xs-12 col-md-9">
                <section id="post-article-section" class="post">
                    <!--_________________________ Start Standard Article _________________________ -->
                    <article>
                        <h3 class="entry-title">{{ post.title }}</h3>
                        <header class="entry-header">
                            <span class="post_triangle"></span>

                            <div class="atricle_box">
                                <span class="cmsms_post_format_img"></span>

                                <div class="atricle_box_inner">
                                        <span class="user_name">Por <a href="../../consultores/"
                                                                       title="Entradas de Iris Reyna"
                                                                       rel="author"> {{ post.user.displayName }}</a></span>
                                </div>
                            </div>
                            <abbr class="published" title="">{{ postDate }}</abbr>
                        </header>

                        {% if (attachment != null) %}
                            <figure>
                                <span class="image_container_img">
                                    <span id="img1" class="p_img_container">
                                        <img src="{{ wp_url~'/wp-content/uploads/'~attachment.url }}"
                                             title="" alt=""
                                             class="fullwidth wp-post-image" style="opacity: 1;">
                                    </span>
                                </span>
                            </figure>
                        {% endif %}
                        <div class="entry-meta">
                            <div class="entry-content">
                                {% autoescape false %}
                                {{ post.content }}
                                {% endautoescape %}
                                <br>
                                <hr>
                                <div class="col-lg-3">
                                    <br>
                                    <br>
                                    Gracias por Compartir:
                                </div>
                                <div class="col-lg-9">
                                    <div class='shareaholic-canvas' data-app-id='8b22b322b04e39ba991559270b2097fb'
                                         data-app='share_buttons'
                                         data-title='{{ post.title }}'
                                         data-link='{{ app.request.getSchemeAndHttpHost()~path("blog_get", {id:post.slug}) }}'
                                         data-summary='{{ content|length > 150 ? (content|slice(0, 150)) ~ '...' : content }}'></div>
                                </div>
                                <br>
                                <hr>

                                <div class="wp_rp_wrap  wp_rp_plain" id="wp_rp_first">
                                    <div class="wp_rp_content">
                                        <h4 class="related_post_title">Más artículos que te podrían interesar</h4>
                                        <ul class="related_post wp_rp">

                                            <li data-position="2" data-poid="in-4094" data-post-type="none">
                                                <a href="../cultura-del-aprendizaje/" class="wp_rp_title">Cultura
                                                    del aprendizaje</a>
                                            </li>
                                            <li data-position="3" data-poid="in-3969" data-post-type="none">
                                                <a href="../cultura-del-miedo/" class="wp_rp_title">Cultura del
                                                    miedo</a>
                                            </li>
                                            <li data-position="4" data-poid="in-4052" data-post-type="none">
                                                <a href="../cultura-de-la-confianza/" class="wp_rp_title">Cultura de
                                                    la Confianza</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cmsms_cc">

                                </div>
                            </div>
                        </div>
                    </article>
                    <!--_________________________ Finish Standard Article _________________________ -->
                    <aside class="about_author">
                        <h4>Acerca del autor</h4>

                        <div class="about_author_inner">
                            <figure class="alignleft">
                                {% set hasImage = false %}
                                {% for meta in post.user.metas %}
                                    {% if meta.key == "wp_user_avatar" %}
                                        {% set hasImage = true %}
                                        {% set avatarValue = meta.value %}
                                        {% set userAvatar = wp_find_one_post_by_id(avatarValue) %}
                                        {% set postMeta = wp_find_one_post_meta_by({post:userAvatar}) %}
                                        <img src="{{ wp_url~'/wp-content/uploads/'~postMeta.value }}"
                                             class="fullwidth wp-post-image" height="100" width="100">
                                    {% endif %}
                                {% endfor %}

                                {% if (hasImage == false) %}
                                    <img src="http://wiseheartdesign.com/images/articles/default-avatar.png"
                                         class="fullwidth wp-post-image" height="100" width="100">
                                {% endif %}
                            </figure>
                            <h5>{{ post.user.displayName }}</h5>

                            <p>
                                {% for meta in post.user.metas %}
                                    {% if meta.key == "description" %}
                                        {{ meta.value }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </aside>
                    <div id="respond" class="comment-respond">
                        <h4 id="reply-title" class="comment-reply-title">Déjanos tu comentario.</h4>

                        <!--discuss-->
                        <div id="disqus_thread">
                            <iframe id="dsq-2" data-disqus-uid="2" allowtransparency="true" frameborder="0"
                                    scrolling="no" tabindex="0" title="Disqus" width="100%"
                                    src="http://disqus.com/embed/comments/?base=default&amp;version=b2269d7bccf5cf6e7bf746017b258dd1&amp;f=3ccultura&amp;t_u=http%3A%2F%2Fwww.3ccultura.com%2Fblogs%2Fprocrastinando%2F&amp;t_d=%C2%BFPROCRASTINANDO%3F%20-%20Consultores%20Cultura%20Corporativa%20-%20Iris%20Reyna&amp;t_t=%C2%BFPROCRASTINANDO%3F%20-%20Consultores%20Cultura%20Corporativa%20-%20Iris%20Reyna&amp;s_o=default#2"
                                    style="width: 100% !important; border: none !important; overflow: hidden !important; height: 621px !important;"
                                    horizontalscrolling="no" verticalscrolling="no"></iframe>
                        </div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = '3ccultura'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the &lt;a href="http://disqus.com/?ref_noscript"&gt;comments
                            powered by Disqus.&lt;/a&gt;</noscript>
                        <!--fin discuss-->
                    </div>
                    <!-- #respond -->
                </section>
            </div>
            <div class="col-xs-12 col-md-3">
                <br>
                <br>
                <section role="complementary">
                    <div class="one_first">
                        <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}"
                           style="display: block;">
                            <object class="text-center" width="100%" height="250"
                                    data="{{ asset('assets/banner.swf') }}" style="pointer-events: none;"></object>
                        </a>

                    </div>
                    <div class="col-xs-12">
                        <aside id="search-2" class="widget widget_search">
                            <div class="search_line">
                                <form method="get" action="#">
                                    <p>
                                        <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                               type="text">
                                        <input value="" type="submit">
                                    </p>
                                </form>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12">
                        <aside id="text-13" class="widget widget_text formulario-int">
                            <div class="textwidget">
                                <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                      class="validate" target="_blank" novalidate="">
                                    <input type="hidden" name="id" value="364fdbb796">
                                    <hr/>
                                    <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                    <p>
                                        <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                               placeholder="Ingresa tu Nombre" required=""><br>
                                        <input type="text" name="MERGE0" id="MERGE0" class="email"
                                               placeholder="Ingresa tu E-mail" required=""><br>
                                        <input type="submit" name="submit" class="boton" value="Subscríbete">
                                    </p>

                                    <p>No Spam ¡Prometido!</p>
                                </form>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12">
                        <aside id="recent-posts-2" class="widget widget_recent_entries">
                            <h3 class="widgettitle">Entradas recientes</h3>
                            <div class="col-xs-12">
                            <ul>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/encuesta-de-clima-laboral-ventajas-y-desventajas"
                                       title="Encuesta de clima laboral ventajas y desventajas">Encuesta de clima
                                        laboral
                                        ventajas y desventajas</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-del-aprendizaje/"
                                       title="Cultura del aprendizaje">Cultura del aprendizaje</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-de-la-innovacion/"
                                       title="Cultura de la innovación">Cultura de la innovación</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-de-la-incoherencia/"
                                       title="Cultura de la incoherencia">Cultura de la incoherencia</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-del-miedo/"
                                       title="Cultura del miedo">Cultura
                                        del miedo</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-xs-12">
                        <aside id="text-5" class="widget widget_text">
                            <h3 class="widgettitle">Enlaces de Interés</h3>

                            <div class="col-xs-12 textwidget">
                                <ul>
                                    <li><a href="http://youtu.be/s7_1xvQvgBs">Conferencia de Iris Reyna sobre Cultura
                                            Corporativa y Rentabilidad en la Conferencia Expo Capital Humano 2014</a>
                                    </li>
                                    <li>
                                        <a href="http://www.esan.edu.pe/conexion/actualidad/2013/04/22/importancia-gestion-buena-cultura-corporativa/">Importancia
                                            de una buena gestión de la Cultura Corporativa</a></li>
                                    <li>
                                        <a href="http://www.tendencias21.net/La-cultura-organizacional-es-clave-para-el-exito-de-una-empresa_a4976.html">La
                                            Cultura Organizacional es clave para el éxito de una empresa</a></li>
                                    <li><a href="http://blogs.hbr.org/2013/05/six-components-of-culture/">Six components
                                            of
                                            Culture</a></li>
                                    <li><a href="http://blogs.hbr.org/2011/12/what-great-companies-know-abou/">What
                                            great
                                            companies know about</a></li>
                                    <li><a href="http://blogs.hbr.org/2007/06/is-corporate-culture-still-imp/">Is
                                            corporate
                                            culture still imp</a></li>
                                    <li><a href="http://blogs.hbr.org/2013/12/the-three-pillars-of-a-teaming-culture/">The
                                            three pillars of a teaming culture</a></li>
                                    <li><a href="http://blogs.hbr.org/2012/01/three-steps-to-a-high-performa/">Three
                                            steps
                                            to a high performa/</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>
{% endblock %}