{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block socialmeta %}
    <meta property="og:title" content="3C Cultura - Blog"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ wp_url~'/wp-content/uploads/2015/04/cultura_de_innovacion-620x350.jpg' }}"/>
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost()~path("blog") }}"/>
    {% autoescape false %}
    <meta property="og:description" content="Blog de 3C Cultura"/>
    {% endautoescape %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/puzzle-grid/puzzleGrid.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome/css/font-awesome.css') }}"/>
{% endblock %}

{% block container %}
    <div class="cmsms_breadcrumbs">
        <a href="../" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Blog</span>
    </div>
    <div class="row post-list">

        <div class="col-xs-12 col-md-9">

            {% block kayue_wordpress_bundle_content %}
                {% for post in posts %}
                    {% set attachment = wp_find_featured_image_by_post(post) %}

                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <br>
                            {% if attachment is not null %}
                                <a href="{{ path("blog_get", {id:post.slug}) }}" class=""><img
                                            src="{{ wp_url~'/wp-content/uploads/'~attachment.thumbnailUrl }}"/></a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <header class="entry-header">
                                <h4 class="entry-title">
                                    <a href="{{ path("blog_get", {id:post.slug}) }}" title="">{{ post.title }}</a>
                                </h4>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <i><i class="fa fa-calendar"></i>
                                            &nbsp; {{ post.date|date("d/m/Y", "America/Lima") }}</i>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <i><i class="fa fa-user"></i>&nbsp; {{ post.user.displayName }}</i>
                                    </div>
                                </div>
                            </header>
                            <div class="entry-content">
                                <p class="">
                                    {% autoescape false %}
                                        {% set content = post.content %}
                                        {% set aux = content |split('\n') %}
                                        {{ aux[0] }}
                                    {% endautoescape %}
                                </p>
                            </div>
                            <a class="cmsms_more" href="{{ path("blog_get", {id:post.slug}) }}">Leer Más</a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endblock %}
            <div class="col-xs-12 col-md-12">
                <div class='shareaholic-canvas' data-app-id='8b22b322b04e39ba991559270b2097fb' data-app='share_buttons'
                     data-title='3C Cultura - Blog'
                     data-link='{{ app.request.getSchemeAndHttpHost()~path("blog") }}'
                     data-summary='Blog de 3C Cultura'></div>
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <br>
            <br>
            <section role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}"
                                style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="col-xs-12">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-xs-12">
                    <aside id="text-13" class="widget widget_text formulario-int">
                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate="">
                                <input type="hidden" name="id" value="364fdbb796">
                                <hr/>
                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required=""><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required=""><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="row">
                    <aside id="recent-posts-2" class="widget widget_recent_entries">
                        <h3 class="widgettitle">Entradas recientes</h3>
                        <div class="col-xs-12">
                            <ul>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/encuesta-de-clima-laboral-ventajas-y-desventajas"
                                       title="Encuesta de clima laboral ventajas y desventajas">Encuesta de clima laboral
                                        ventajas y desventajas</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-del-aprendizaje/"
                                       title="Cultura del aprendizaje">Cultura del aprendizaje</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-de-la-innovacion/"
                                       title="Cultura de la innovación">Cultura de la innovación</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-de-la-incoherencia/"
                                       title="Cultura de la incoherencia">Cultura de la incoherencia</a>
                                </li>
                                <li>
                                    <a href="http://www.3ccultura.com/blogs/cultura-del-miedo/" title="Cultura del miedo">Cultura
                                        del miedo</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="row">
                    <aside id="text-5" class="widget widget_text">
                        <h3 class="widgettitle">Enlaces de Interés</h3>
                        <div class="col-xs-12">
                            <div class="textwidget">
                                <ul>
                                    <li><a href="http://youtu.be/s7_1xvQvgBs">Conferencia de Iris Reyna sobre Cultura
                                            Corporativa y Rentabilidad en la Conferencia Expo Capital Humano 2014</a></li>
                                    <li>
                                        <a href="http://www.esan.edu.pe/conexion/actualidad/2013/04/22/importancia-gestion-buena-cultura-corporativa/">Importancia
                                            de una buena gestión de la Cultura Corporativa</a></li>
                                    <li>
                                        <a href="http://www.tendencias21.net/La-cultura-organizacional-es-clave-para-el-exito-de-una-empresa_a4976.html">La
                                            Cultura Organizacional es clave para el éxito de una empresa</a></li>
                                    <li><a href="http://blogs.hbr.org/2013/05/six-components-of-culture/">Six components of
                                            Culture</a></li>
                                    <li><a href="http://blogs.hbr.org/2011/12/what-great-companies-know-abou/">What great
                                            companies know about</a></li>
                                    <li><a href="http://blogs.hbr.org/2007/06/is-corporate-culture-still-imp/">Is corporate
                                            culture still imp</a></li>
                                    <li><a href="http://blogs.hbr.org/2013/12/the-three-pillars-of-a-teaming-culture/">The
                                            three pillars of a teaming culture</a></li>
                                    <li><a href="http://blogs.hbr.org/2012/01/three-steps-to-a-high-performa/">Three steps
                                            to a high performa/</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </div>
    </div>
    {% block sidebar %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>


    </script>
{% endblock %}