{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}
    <div class="modal-content-form">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalContentLabel">Editar Testimonio</h4>
        </div>
        {% form_theme edit_form 'AppBundle:Form:fields.html.twig' %}
        {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate' }}) }}

        <div class="box box-primary">
            <div class="box-header">
                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                    <div class="mensaje field-hide">{{ flashMessage }}</div>
                {% endfor %}
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="page-info-wc">
                            Los campos marcados con (<span class="requerido">*</span>) son obligatorios.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% set isError = edit_form.texto.vars.errors|length %}
                        <div class="form-group {{ isError ? 'has-error': '' }}">
                            {{ form_label(edit_form.texto, '', {'label_attr': {'class': 'control-label required' }}) }}
                            <div class="form-widget">
                                {{ form_widget(edit_form.texto) }}
                                <div class="icon-result">
                                    {{ form_errors(edit_form.texto) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% set isError = edit_form.footer.vars.errors|length %}
                        <div class="form-group {{ isError ? 'has-error': '' }}">
                            {{ form_label(edit_form.footer, '', {'label_attr': {'class': 'control-label required' }}) }}
                            <div class="form-widget">
                                {{ form_widget(edit_form.footer) }}
                                <div class="icon-result">
                                    {{ form_errors(edit_form.footer) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <a href="{{ path("testimonio") }}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
                    </div>
                    <div class="col-lg-6 text-right">

                        {{ form_widget(edit_form.save, { 'attr': {'class': 'btn-primary'} }) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
