{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}
    {% block breadcrum %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Testimonios
                <small>Lista de testimonios</small>

                <small>
                    <a href="{{ path('testimonio_new') }}" class="btn btn-block btn-primary btn-xs"><i
                                class="fa fa-plus-circle"></i> Agregar</a>
                </small>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
                <li class="active">Testimonios</li>
            </ol>
        </section>

    {% endblock breadcrum %}

    {% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="table-conferencistas" class="table table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th class="numeracion">#</th>
                                <th>Texto</th>
                                <th>Footer</th>
                                <th class="acciones">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('testimonio_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                    </td>
                                    <td>{{ entity.texto }}</td>
                                    <td>{{ entity.footer }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="{{ path('testimonio_edit', { 'id': entity.id }) }}"> <i
                                                        class="fa fa-edit"></i> </a>
                                            <a class="btn btn-default btn-eliminar btn-sm"
                                               href="{{ path('testimonio_delete', { 'id': entity.id }) }}"> <i
                                                        class="fa fa-trash-o"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    {% endblock content %}
{% endblock content_page %}

{% block before_js %}
    <script>

        $(function () {
            $(document).ready(function () {
                $('.btn-eliminar').click(function (e) {
                    e.preventDefault();
                    if (confirm('¿Está seguro de eliminar éste testimonio?')) {
                        var url = $(this).attr('href');
                        window.location=url;
                        //$('#content').load(url);
                        return true;
                    }
                });
            });
        })
    </script>
{% endblock before_js %}