{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}

    {% block breadcrum %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Crear Testimonio

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
                <li class="active">Testimonios</li>
            </ol>
        </section>

    {% endblock breadcrum %}


    {% block content %}

        {% form_theme form 'AppBundle:Form:fields.html.twig' %}

        <!-- Main content -->
        <section class="content">

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="box box-primary">
                <div class="box-header">
                    <span class="">Los campos marcados con (<span class="requerido">*</span>) son obligatorios.</span>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="page-info-wc">
                                Los campos marcados con (<span class="requerido">*</span>) son obligatorios.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {% set isError = form.texto.vars.errors|length %}
                            <div class="form-group {{ isError ? 'has-error': '' }}">
                                {{ form_label(form.texto, '', {'label_attr': {'class': 'control-label required' }}) }}
                                <div class="form-widget">
                                    {{ form_widget(form.texto) }}
                                    <div class="icon-result">
                                        {{ form_errors(form.texto) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {% set isError = form.footer.vars.errors|length %}
                            <div class="form-group {{ isError ? 'has-error': '' }}">
                                {{ form_label(form.footer, '', {'label_attr': {'class': 'control-label required' }}) }}
                                <div class="form-widget">
                                    {{ form_widget(form.footer) }}
                                    <div class="icon-result">
                                        {{ form_errors(form.footer) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <div class="pull-right">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn-primary'} }) }}
                    </div>
                    <a href="{{ path('testimonio') }}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
                </div>

                {{ form_end(form) }}

            </div>
        </section>
    {% endblock content %}

{% endblock content_page %}



