{% set AppName = "3C CULTURA" %}
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}3C CULTURA</title>
    <meta name="description"
          content="{% block description %}Trabajamos con nuestros clientes para implementar soluciones a la medida de sus necesidades en temas de Cultura y Clima, Liderazgo y Talento.{% endblock %}">
    <link rel="icon" href="{{ asset("assets/img/3ccultura.ico") }}" type="image/x-icon"/>

    {% block socialmeta %}
        <meta property="og:title" content="3C CULTURA"/>
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://www.3ccultura.com/wp-content/uploads/2013/12/logo.png"/>
        <meta property="og:url" content="http://www.3ccultura.com"/>
        <meta property="og:description"
              content="Trabajamos con nuestros clientes para implementar soluciones a la medida de sus necesidades en temas de Cultura y Clima, Liderazgo y Talento."/>
    {% endblock %}

    {% for flashMessage in app.session.flashbag.get('registro_success') %}

        <!-- Facebook Conversion Code for Conferencia Virtual Gestión del Tiempo -->
        <script>(function() {
                var _fbq = window._fbq || (window._fbq = []);
                if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6023065975833', {'value':'0.01','currency':'USD'}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023065975833&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

    {% endfor %}

    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>