{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'consultoria' %}
{% block container %}

    <style>
        .shareaholic-share-buttons-container.wrapped {
    float: none;
}
    </style>

    <div class="headline">
        <h1>Consultoria</h1>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="../inicio/" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="../servicios/" class="cms_home">Consultoria</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Clima Laboral</span>
    </div>
    <div class="content_wrap r_sidebar">

        <section id="content" role="main" class="mission-col">
            <div class="entry">
            </div>
            <div class="cmsms_cc">
                <div class="one_first first_column" data-folder="column" data-type="">
                    <div data-folder="text" data-type="">
                        <h2>Clima Laboral</h2>

                        <p>Es el nivel de motivación que tienen los colaboradores y que deriva principalmente de las
                            percepciones que el colaborador con respecto a la empresa, su área, su jefe, sus colegas y
                            su trabajo.</p>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item ytb-video"
                                    src="https://www.youtube.com/embed/756BZlti0NI"
                                    allowfullscreen></iframe>
                        </div>
                        <!--Social Buttons-->
                        <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                             data-title='Conferencias Virtuales'
                             data-link='{{ app.request.getBaseURL() }}{{ url('conferencia_virtual') }}'
                             data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                        </div>
                        <!--Social Buttons-->
                        <p class="text-justify">El clima laboral es un indicador de la calidad de la cultura
                            organizacional de la empresa e impactan directamente en los resultados del negocio.
                            Innumerables estudios demuestran el impacto que tienen los diversos componentes del clima
                            laboral en la rentabilidad de la empresa.</p>

                        <div class="row" style="display:none;">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group bg-clima" style="padding-top: 0.1em; padding-bottom: 0.1em;">
                                    <h3 class="text-center"><b>MIDE EL CLIMA LABORAL</b></h3>
                                    <h4 class="text-center"><b>Y POTENCIA TU ESTRATEGIA DE RRHH</b></h4>
                                    <h5 class="text-center"><b>INSCRÍBETE EN NUESTRA CONFERENCIA VIRTUAL GRATUITA</b>
                                    </h5>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="" id="loginZone">
                                                  
                                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=c5272e05fa"
                                                  method="post" id="mc-embedded-subscribe-form-2"
                                                  name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                                  novalidate>

                                                <div class="form-group btn-clima"
                                                     style="padding-top: 0.1em; padding-bottom: 0.1em;">
                                                    <h4 class="text-center">Inscríbete</h4>
                                                </div>

                                                <div class="form-group ">
                                                    <input type="text" value="" name="FNAME" placeholder="Nombre"
                                                           class="form-control" id="mce-FNAME">
                                                </div>

                                                <div class="form-group ">
                                                    <input type="text" value="" name="EMPRESA" placeholder="Empresa"
                                                           class="form-control" id="mce-EMPRESA">
                                                </div>
                                                <div class="form-group ">
                                                    <input type="email" value="" name="EMAIL"
                                                           placeholder="Correo Electrónico"
                                                           class="form-control required email" id="mce-EMAIL">
                                                </div>

                                                <div class="form-group ">
                                                    <input type="text" value="" name="CARGO" placeholder="Cargo"
                                                           class="form-control" id="mce-CARGO">
                                                </div>

                                                <div class="form-group text-center">

                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;"><input type="text"
                                                                                                           name="b_9a89fe16526903ae9e84bd495_c5272e05fa"
                                                                                                           tabindex="-1"
                                                                                                           value="">
                                                    </div>

                                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                            class="btn btn-clima">Enviar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <p class="help-block text-justify">Por favor ingresa los siguientes datos y te llegará un correo con el LINK para ingresar a la conferencia
                                </p>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-descripcion">
                            <li style="text-align: left;">Según Great Place to Work “El retorno promedio de las empresas con alto clima laboral
                                aumento 4 veces más que las empresas listadas en Russel 3000 o S&P 500”.
                            </li>

                            <li>“Un estudio de Watson Wyatt mostró que las empresas con alto nivel de confianza
                                (elemento fundamental del clima laboral) tenían retornos tres veces mayores que las
                                empresas donde los empleados tenían bajo nivel de confianza”.
                            </li>

                            <li>“Las empresas con mayor “compromiso” de sus colaboradores mejoraron en 19.2% el
                                crecimiento de su EBIT mientras que las que puntuaron bajo declinaron el crecimiento de
                                su EBIT en 32.7%”. Towers Perrin, 2006.
                            </li>

                            <li>“Las empresas que puntuaron más alto en el nivel de “compromiso” de los empleados
                                presentaban 18% de mayor productividad, 12% de mayor rentabilidad y una tasa de
                                crecimiento de utilidades por acción 2.6 veces más alto que las que se encontraban bajo
                                el promedio”. Gallup Organisation, 2006.
                            </li>
                        </ul>
                        <h3><strong>¿Cuándo recurrir a este servicio?</strong></h3>

                        <p>Cuando la empresa:</p>
                        <ul class="list-descripcion">
                            <li>Piensa desarrollar estrategias para la mejora del clima laboral y desea medir el clima
                                actual y optimizar sus recursos invirtiendo en temas neurálgicos de muy alto impacto.
                            </li>
                            <li>Desea mejorar sus prácticas laborales para mejorar el clima laboral, aumentar la
                                productividad, eliminar accidentes, retener el talento, etc.
                            </li>
                            <li>Debe implementar un cambio y requiere del compromiso de todos los empleados.</li>
                        </ul>
                        <h3><strong>Consultoría en clima laboral:</strong></h3>

                        <p class="text-justify">Medimos el clima laboral de manera cualitativa y cuantitativa y
                            analizamos los factores que están influyendo positiva y negativamente. Sobre esta base,
                            apoyamos a la empresa a desarrollar e implementar estrategias y planes de acción para
                            mejorar el clima laboral.</p>

                        <p>La consultoría clima laboral incluye las siguientes actividades claves:</p>
                        <ul class="list-descripcion">
                            <li>Elaboración y aplicación de una encuesta de clima laboral, tanto cuantitativa como
                                cualitativa.
                            </li>
                            <li>Análisis de las prácticas laborales u otros factores que estén influenciando el clima
                                laboral de manera positiva y negativa.
                            </li>
                            <li>Desarrollo de estrategias y planes de acción para mejorar el clima en el corto, mediano
                                y largo plazo.
                            </li>
                            <li>Asesoría durante la implementación.</li>
                            <li>Monitoreo y evaluación de resultados.</li>
                        </ul>
                    </div>
                </div>

            </div>




        </section>
        {% block sidebar %}
            <section id="sidebar" role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}"
                                style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="one_first">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_first">
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_third">
                    <aside id="text-10" class="widget widget_text">
                        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                        <div class="textwidget text-center">
                            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                <iframe frameborder="0" height="390" width="100%"
                                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>

                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </section>
        {% endblock %}
        {% block prefooter %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </div>
    <hr>
    <br>
    <br>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript">
        $("#mc-embedded-subscribe-form-2").validate({
                    rules: {
                        FNAME: {
                            required: true
                        },
                        EMAIL: {
                            required: true,
                            email: true
                        },
                        EMPRESA: {
                            required: true
                        },
                        CARGO: {
                            required: true
                        }
                    },
                    errorClass: 'errorSubmit',
                    messages: {
                        EMAIL: {
                            required: "Ingrese un email",
                            email: "Ingrese un email válido"
                        },
                        FNAME: "Ingrese un Nombre",
                        EMPRESA: "Ingrese una Empresa",
                        CARGO: "Ingrese un Cargo"
                    }
                }
        );


        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>

    </script>
{% endblock %}