{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'service' %}
{% block container %}
    <style>
        label {
            font-weight: normal;
        }

        .shareaholic-canvas{
            text-align: center;
        }

        .shareaholic-share-buttons-container.wrapped {
            float: none;
        }

        .news-post {
            margin-bottom: 1em;
        }

       /* ul li {
            list-style: none;
        }*/

    </style>

    <div class="headline">
        <h1>Consultoria</h1>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="#" class="cms_home">Consultoria</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Cultura Organizacional</span>
    </div>
    <div class="content_wrap r_sidebar">
        <section id="content" role="main" class="mission-col">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="" class="content-justify">
                            <h2>Cultura Organizacional</h2>

                            <p>La cultura organizacional es un factor determinante del éxito de una empresa. Los CEOs de
                                las empresas más exitosas del mundo soportan categóricamente esta afirmación.</p>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item ytb-video"
                                        src="https://www.youtube.com/embed/Ck8S6N2GNKo"
                                        allowfullscreen></iframe>
                            </div>

                            <!--Social Buttons-->
                            <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                                 data-title='Conferencias Virtuales'
                                 data-link='{{ app.request.getBaseURL() }}{{ url('cons_cultura_organizacional') }}'
                                 data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                            </div>


                            <p>- Jack Welch, CEO de General Electric, decía: “Una empresa puede impulsar la
                                productividad mediante reestructuraciones, eliminación de burocracia o reducción de
                                personal, pero no puede mantener una productividad alta sin un cambio cultural”.</p>

                            <p>- Louis Gerstner, ex CEO de IBM, decía: "Lo que aprendí en IBM fue que la cultura lo era
                                todo".</p>

                            <p>La cultura organizacional es la forma de trabajo que predomina en la organización,
                                resultado de los valores y costumbres de sus miembros. La manera cómo trabaja una
                                organización sin lugar a dudas determina los resultados financieros del negocio.</p>

                            <p>En 3C Consultores en Cultura Corporativa le ayudaremos a desarrollar una cultura
                                organizacional que mejore los resultados de su negocio y el clima laboral.</p>

                            <br>

                            <div class="row" style="display:none;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group bg-clima" style="padding-top: 0.1em; padding-bottom: 0.1em;">
                                        <h3 class="text-center"><b>CULTURA CORPORATIVA Y RENTABILIDAD</b></h3>
                                        <!--<h4 class="text-center"><b>Y POTENCIA TU ESTRATEGIA DE RRHH</b></h4>-->
                                        <h5 class="text-center"><b>INSCRÍBETE EN NUESTRA CONFERENCIA VIRTUAL
                                                GRATUITA</b>
                                        </h5>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div class="" id="loginZone">
                                                <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=65b94c7dce"
                                                      method="post" id="mc-embedded-subscribe-form"
                                                      name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                                      novalidate>

                                                    <div class="form-group btn-clima"
                                                         style="padding-top: 0.1em; padding-bottom: 0.1em;">
                                                        <h4 class="text-center">Inscríbete</h4>
                                                    </div>

                                                    <div class="form-group ">
                                                        <input type="text" value="" name="FNAME" placeholder="Nombre"
                                                               class="form-control" id="mce-FNAME">
                                                    </div>

                                                    <div class="form-group ">
                                                        <input type="text" value="" name="EMPRESA" placeholder="Empresa"
                                                               class="form-control" id="mce-EMPRESA">
                                                    </div>
                                                    <div class="form-group ">
                                                        <input type="email" value="" name="EMAIL"
                                                               placeholder="Correo Electrónico"
                                                               class="form-control required email" id="mce-EMAIL">
                                                    </div>

                                                    <div class="form-group ">
                                                        <input type="text" value="" name="CARGO" placeholder="Cargo"
                                                               class="form-control" id="mce-CARGO">
                                                    </div>

                                                    <div class="form-group ">
                                                        <input type="text" name="MMERGE4" value=""
                                                               placeholder="Teléfono"
                                                               class="form-control" id="mce-MMERGE4">
                                                    </div>



                                                    <div class="form-group text-center">
                                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;"
                                                             aria-hidden="true"><input type="text"
                                                                                       name="b_9a89fe16526903ae9e84bd495_65b94c7dce"
                                                                                       tabindex="-1" value=""></div>

                                                        <button type="submit" name="subscribe"
                                                                id="mc-embedded-subscribe"
                                                                class="btn btn-clima">Enviar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="help-block text-justify">Por favor ingresa los siguientes datos y te
                                        llegará un correo con el LINK para ingresar a la conferencia
                                    </p>
                                </div>
                            </div>

                            <h2>¿Cuándo recurrir a este servicio?</h2>

                            <p>Cuando la empresa:</p>
                            <ul class="list-descripcion">
                                <li>Requiere responder a un cambio significativo como una fusión,
                                    crecimiento acelerado, apertura a nuevos mercados, adaptación a nuevas
                                    leyes, entre otros.
                                </li>
                                <li>Desea mejorar su clima laboral, aumentar la productividad, eliminar
                                    accidentes o retener el talento.
                                </li>
                                <li>Planea introducir nuevas prácticas y comportamientos que no han sido
                                    parte de su cultura anteriormente. Por ejemplo: innovación, salud y
                                    seguridad, responsabilidad social y ambiental, trabajo en equipo,
                                    inclusión y diversidad, balance vida y trabajo, etc.
                                </li>
                            </ul>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-HLWiTA-qag" style="max-height: 350px;"
                                        allowfullscreen></iframe>
                            </div>
                            <!--Social Buttons-->
                            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='7824021'></div>
                            <!--Social Buttons-->


                            <h2>Consultoría en alineamiento cultural</h2>

                            <p>Apoyamos a la empresa a desarrollar e implementar un Sistema Integrado de
                                Gestión de la Cultura Organizacional que le permita alinear la cultura
                                actual con la deseada.</p>

                            <p>La consultoría en alineamiento cultural incluye las siguientes actividades
                                claves:</p>
                            <ul class="list-descripcion">
                                <li>Análisis del negocio y definición de la cultura que maximizará los
                                    resultados.
                                </li>
                                <li>Diagnóstico de la cultura actual.</li>
                                <li>Desarrollo de estrategias y planes de acción para cerrar la brecha entre
                                    la cultura actual y la deseada.
                                </li>
                                <li>Asesoría durante la implementación.</li>
                                <li>Monitoreo y evaluación de resultados.</li>
                            </ul>

                            <br>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        {% block sidebar %}
            <section id="sidebar" role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}"
                                style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="one_first">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_first">
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_third">
                    <aside id="text-10" class="widget widget_text">
                        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                        <div class="textwidget text-center">
                            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                <iframe frameborder="0" height="390" width="100%"
                                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>
                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </section>
        {% endblock %}
        {% block prefooter %}
        {% endblock %}
        {% block footer %}
        {% endblock %}

    </div>
    <hr>
    <br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>

    <script>
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>


        $(window).bind("load", function () {
            // code here
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });

        $(window).resize(function () {
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });


        $("#mc-embedded-subscribe-form").validate({
                    rules: {
                        FNAME: {
                            required: true
                        },
                        EMAIL: {
                            required: true,
                            email: true
                        },
                        EMPRESA: {
                            required: true
                        },
                        CARGO: {
                            required: true
                        },
                        MMERGE4: {
                            required: true
                        },
                        "group[18413]": {
                            required: true
                        }
                    },
                    errorClass: 'errorSubmit',
                    messages: {
                        EMAIL: {
                            required: "Ingrese un email",
                            email: "Ingrese un email válido"
                        },
                        FNAME: "Ingrese un Nombre",
                        EMPRESA: "Ingrese una Empresa",
                        CARGO: "Ingrese un Cargo",
                        MMERGE4: "Ingrese un Teléfono",
                        "group[18413]": "Indique un rango de colaboradores"
                    }
                }
        );

    </script>

{% endblock %}