{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'service' %}
{% block container %}
    <style>
        label {
            font-weight: normal;
        }

        .shareaholic-share-buttons-container.wrapped{
            float: none;
        }
    </style>

    <div class="headline">
        <h1>Consultoria</h1>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="../inicio/" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="../servicios/" class="cms_home">Consultoria</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Liderazgo</span>
    </div>
    <div class="content_wrap r_sidebar">
        <section id="content" role="main" class="mission-col">
            <div class="entry">
                <h2>Liderazgo</h2>

                <p>La labor del supervisor es clave para lograr los resultados esperados de los colaboradores y
                    transmitir correctamente la cultura, los valores y las formas de trabajo deseados, desde la alta
                    gerencia hasta la base ancha de la organización donde se encuentran la mayoría de colaboradores.</p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item ytb-video" src="https://www.youtube.com/embed/R2wmpsYoXqQ?autohide=1"
                        allowfullscreen></iframe>
                </div>
                <!--Social Buttons-->
                <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                     data-title='Conferencias Virtuales'
                     data-link='{{ app.request.getBaseURL() }}{{ url('cons_liderazgo') }}'
                     data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                </div>

                <p>Aunque parezca inverosímil, la gran mayoría de jefes y supervisores de primera línea nunca han
                    recibido entrenamiento para dirigir equipos de trabajo. La práctica más común que vemos en nuestro
                    entorno es que se promueve al mejor colaborador a una posición donde debe supervisar a un equipo sin
                    preparación previa.</p>

                <p>Sin embargo, el pasar de “hacer” a “lograr que otros hagan” requiere de destrezas significativamente
                    diferentes a las que hicieron a esa persona un excelente colaborador.
                    Por lo tanto, si se desea asegurar el éxito del equipo, es fundamental fortalecer las capacidades de
                    los líderes en todos los niveles de la organización.</p>

                <h3><strong>¿Cuándo recurrir a este servicio?</strong></h3>

                <p>Cuando la empresa:</p>
                <ul class="list-descripcion">
                    <li>Tiene planes de crecimiento y requiere promover a sus mejores colaboradores a jefaturas y
                        gerencias.
                    </li>
                    <li>Requiere mejorar la productividad de un área.</li>
                    <li>Desea mejorar el clima laboral.</li>
                    <li>Cuenta con jefaturas competentes en lo técnico pero débiles en liderazgo y desea mejorar sus
                        habilidades para motivar a sus equipos.
                    </li>
                    <li>Cuando se desea fortalecer el trabajo en equipo.</li>
                    <li>Cuando se requiere implementar cambios importantes que los líderes deberán implementar en sus
                        áreas.
                    </li>
                </ul>
                <h3><strong>Consultoría en liderazgo:</strong></h3>

                <p>Ayudamos a la empresa a alinear los estilos de liderazgo actuales con aquellos que desea
                    desarrollar.</p>

                <p>La consultoría en alineamiento de liderazgo incluye las siguientes actividades claves:</p>
                <ul class="list-descripcion">
                    <li>Definición del tipo de liderazgo que sea coherente con la cultura deseada y maximice la
                        productividad en el corto, medio y largo plazo.
                    </li>
                    <li>Diagnóstico de los estilos de liderazgos usados por los líderes en los diversos niveles y áreas
                        de la organización.
                    </li>
                    <li>Diseño de estrategias y planes de acción para desarrollar a los líderes desde sus prácticas
                        actuales hasta las deseadas.
                    </li>
                    <li>Monitoreo y evaluación de resultados.</li>
                </ul>
                <!--Social Buttons-->
                <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='7824021'></div>
                <!--Social Buttons-->
                <!--Fin Acordion-->
                <br>
            </div>
            <br>

        </section>
        {% block sidebar %}
            <section id="sidebar" role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}" style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="one_first">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_first">
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_third">
                    <aside id="text-10" class="widget widget_text">
                        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                        <div class="textwidget text-center">
                            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                <iframe frameborder="0" height="390" width="100%"
                                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>
                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </section>
        {% endblock %}
        {% block prefooter %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </div>
    <hr>
    <br>
    <br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>

{% endblock %}