{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% set section = 'curso' %}
{% block container %}

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Detalle de Pago</span>
    </div>

    <section id="middle_content service-section" role="main">
        <div class="content_wrap fullwidth">
            {% if mensaje is defined %}
                <br>
                <div class="alert alert-success" role="alert">{{ mensaje }}</div>
                <br>
                <a href="{{ path("index") }}" class="btn btn-primary">Volver</a>
            {% else %}
                <form name="form" method="post">
                    <input type="hidden" name="idOrden" value="{{ idOrden }}"/>
                    <div class="row text-center">
                        <div class="col-md-4 col-md-offset-4">
                            <br>
                            <button type="button" class="btn btn-success btn-lg btn-block" id="boletaBtn">Boleta</button>
                            <br>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <br>
                            <button type="button" class="btn btn-success btn-lg btn-block" id="facturaBtn">Factura</button>
                            <br>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <br>
                            <button type="button" class="btn btn-success btn-lg btn-block" id="exteriorBtn">Pago en el
                                Exterior
                            </button>
                            <br>
                        </div>
                        <hr>
                        <div class="col-md-4 col-md-offset-4" id="boletaForm" style="display: none">
                            <div class="panel panel-primary">
                                <div class="panel-body confirm-zone">
                                    <h4 class="register-title text-center">Datos para Boleta</h4>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="boletaNombreCompleto"
                                               name="boletaNombreCompleto"
                                               placeholder="Nombre Completo" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="boletaDNI"
                                               name="boletaDni" placeholder="DNI"
                                               maxlength="10">

                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4" id="facturaForm" style="display: none">
                            <div class="panel panel-primary">
                                <div class="panel-body confirm-zone">
                                    <h4 class="register-title text-center">Datos para Factura</h4>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="facturaRazonSocial"
                                               name="facturaRazonSocial"
                                               placeholder="Razón Social" maxlength="150">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="facturaRUC"
                                               name="facturaRUC" placeholder="RUC"
                                               maxlength="15">
                                    </div>
                                    <div class="form-group">
                                 <textarea class="form-control" rows="2" id="facturaDirecc"
                                           name="facturaDirecc" placeholder="Dirección Completa"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4" id="exteriorForm" style="display: none">
                            <div class="panel panel-primary">
                                <div class="panel-body confirm-zone">
                                    <h4 class="register-title text-center">Datos para Pago del Exterior</h4>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="exteriorNombre"
                                               name="exteriorNombre" placeholder="Nombre de la persona o empresa"
                                               maxlength="150">
                                    </div>
                                    <div class="form-group">
                                <textarea class="form-control" rows="2" id="exteriorDirecc"
                                          name="exteriorDirecc" placeholder="Dirección Completa"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               id="exteriorPais"
                                               name="exteriorPais" placeholder="País"
                                               maxlength="150">
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
            <br>
        </div>
    </section>

    {% block prefooter %}
    {% endblock %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>
    <script>
        $("#boletaBtn").on("click", function () {
            $("#facturaForm").hide();
            $("#boletaForm").show();
            $("#exteriorForm").hide();
        });

        $("#facturaBtn").on("click", function () {
            $("#facturaForm").show();
            $("#boletaForm").hide();
            $("#exteriorForm").hide();
        });

        $("#exteriorBtn").on("click", function () {
            $("#exteriorForm").show();
            $("#facturaForm").hide();
            $("#boletaForm").hide();
        });


        // validate signup form on keyup and submit
        $("form[name=form]").validate({
            ignore: ":hidden",
            rules: {
                boletaDni: {
                    required: true,
                    digits: true
                },
                boletaNombreCompleto: "required",
                facturaDirecc: "required",
                facturaRazonSocial: "required",
                facturaRUC: {
                    required: true,
                    digits: true
                },
                exteriorNombre: "required",
                exteriorDirecc: "required",
                paymentOption: "required",
                exteriorPais: "required"
            },
            errorClass: 'errorSubmit',
            messages: {
                boletaDni: "Ingrese un DNI",
                boletaNombreCompleto: "Ingrese un Nombre",
                facturaDirecc: "Ingrese una Dirección",
                facturaRazonSocial: "Ingrese una Razon Social",
                facturaRUC: "Ingrese un RUC",
                exteriorNombre: "Ingrese un Nombre",
                exteriorDirecc: "Ingrese una Dirección",
                exteriorPais: "Ingrese un Pais",
                paymentOption: "Seleccione un tipo de comprobante"
            },
            submitHandler: function (form) {
                $.ajax({
                    method: "POST",
                    url: "save-session",
                    data: $("form[name=form]").serialize()
                })
                        .done(function (msg) {

                            console.log("valor = " + msg);
                            // return false;
                            //alert( "Data Saved: " + msg );
                            // return true;
                        });

                form.ajaxSubmit();
            }
        });

    </script>
{% endblock %}