<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <title>Web & Logics</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .ReadMsgBody {
            width: 100%;
            background-color: #ebebeb;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        @media screen and (max-width: 599px) {
            table[class="force-row"],
            table[class="container"] {
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        @media screen and (max-width: 400px) {
            td[class*="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

        .ios-footer a {
            color: #aaaaaa !important;
            text-decoration: underline;
        }
    </style>

</head>
<body style="margin:0; padding:0;" bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr>
        <td align="center" valign="top" bgcolor="#FFFFFF" style="background-color: #FFFFFF;">

            <!-- 600px container (white background) -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container"
                   style="width:600px;max-width:600px">
                <tr>
                    <td class="container-padding header" align="left"
                        style="background-color:#FFFFFF; font-family:Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;padding-top: 12px;padding-bottom:12px;color:#DF4726;padding-left:24px;padding-right:24px">
                        <!--<img src="https://dl.dropboxusercontent.com/u/6374032/3ccultura-logo.png" style="width: 190px;"/>-->
                        <div style="color:white; font-size:18px; text-align: center;"></div>
                    </td>
                </tr>
                <tr>
                    <td class="container-padding content" align="left"
                        style="padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#EEEEEE !important;">
                        <br>

                        <div class="title"
                             style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550">
                            {% block subject %}Estimado(a) {{ nombre_usuario(app.user.id) }},{% endblock %}
                        </div>
                        <br>

                        <div class="body-text"
                             style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333">
                            {% block body_text %}
                                {% autoescape false %}

                                Te recomiendo imprimir el material adjunto que te ayudará a aprovechar al máximo la conferencia.
                                    <br>
                                    <br>
                                    Para ingresar a la conferencia virtual haz click: <a href="http://app.webinarjam.net/register/14102/dc21694723">AQUÍ</a>
                                    <br>
                                    <br>
                                    OJO! Tienes una semana para visualizar la conferencia, puedes pausarlo las veces que lo necesites, sin embargo no lo puedes avanzar ni retroceder.
                                    <br>
                                    <br>
                                    Adjuntamos archivos conteniendo el material y las recomendaciones para esta conferencia
                                    <br>
                                    <br>
                                    Para enviarte tu recibo de pago, haz click <a target="_blank" href="{{ baseUrl ~ path("payment_detalle_pago", {'o': orden.id}) }}"><b>AQUÍ</b></a>
                                    <br>
                                    <br>
                                    En caso de tener alguna duda puedes comunicarte con nosotros de la siguiente manera:
                                    <br>
                                    Whatsapp:	948 948 538
                                    <br>
                                    Teléfono:	948 948 538
                                    <br>
                                    Email:		3c@3ccultura.com
                                    <br>
                                    <br>
                                    Saludos cordiales,
                                    <br>
                                    <br>
                                    Luis
                                    <br>
                                    Mesa de Ayuda
                                    <br>
                                    3C Conferencias Virtuales
                                    <br>
                                    <br>
                                {% endautoescape %}
                            {% endblock %}
                        </div>

                        <div class="hr" style="height:1px;border-bottom:1px solid #cccccc"> </div>
                        <br>
                        <br>
                    </td>
                </tr>
            </table>
            <!--/600px container -->
        </td>
    </tr>
</table>
<!--/100% background wrapper-->

</body>
</html>


{% block body_html %}{% endblock %}