<div data-folder="text" data-type="">
    <h4 class="title-transaccion">Resultado de la transacción</h4>

      <div id="container-seguricash" style='font-family: sans-serif;'>
            <div class="col-md-8 col-md-offset-2">
            {% if resultado == 1 %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Felicitaciones por su compra</h3>
                        <h4 class="text-center">En unos segundos te llegará un correo electrónico con el acceso a la conferencia</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-md-6 pull-lef">
                            <img src="{{ asset('bundles/app/img/sp_logo.png') }}">
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('assets/img/logo.jpg') }}" class="pull-right">
                        </div>
                        </div>
                        <br>
                        <div class="clearfix"></div>
                        La transacción fue exitosa :<br><br>
                        <dl class="dl-horizontal">
                            <dt>Número de Pedido:</dt>
                            <dd>{{ num_pedido }}</dd>
                            <dt>Aprobada por:</dt>
                            <dd>{{ medio_de_pago }}</dd>
                            <dt>Fecha y Hora:</dt>
                            <dd>{{ fecha_transaccion }}</dd>
                            <br>

                            <dt>Código de SeguriPago:</dt>
                            <dd>{{ num_transaccion }}</dd>
                            <dt>Importe:</dt>
                            <dd>{{ moneda }} {{ importe }}</dd>
                            <br>

                            <dt>Autorización:</dt>
                            <dd>{{ cod_autoriza }}</dd>
                            
                            <dt>Número de Tarjeta enmascarada:</dt>
                            <dd>{{ num_tarjeta }}</dd>
                            <dt>Nombre del tarjetahabiente:</dt>
                            <dd>{{ nom_tarjetahabiente }}</dd>
                        </dl>
                        <br>
                        
                    </div>
                </div>
                {#{{ nombre_usuario }}, la siguiente informaci&oacute;n es importante:
                <section style="line-height: 18px;margin: 5px 0px;">
                  <strong>Datos de 3ccultura</strong><br/>
                  N&uacute;mero de Referencia: {{ id_u_curso }}<br/>
                </section>
              <section style="line-height: 18px;margin: 5px 0px">
                  <strong>Datos de Seguripago:</strong><br/>
                  N&uacute;mero de Transacci&oacute;n: {{ num_transaccion }}<br/>
              </section>
              <section style="line-height: 18px;margin: 5px 0px">
                  <strong>Medio de pago: {{ medio_de_pago }}</strong><br>
                  N&uacute;mero de Tarjeta: {{ num_tarjeta }}<br/>
                  Nombre del Titular: {{ nom_tarjetahabiente }}<br/>
                  N&uacute;mero de Referencia: {{ num_referencia }}<br/>
                  Fecha y hora: {{ fecha_transaccion }} <br/>
                  Importe Total: {{ moneda }} {{ importe }} <br/>
              </section>#}

            {% else %}
        
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Lamentamos que no haya realizado su pago</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-md-6 pull-lef">
                        <img src="{{ asset('bundles/app/img/sp_logo.png') }}">
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/img/logo.jpg') }}" class="pull-right">
                    </div>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                    El pago no fue aceptado:<br><br>
                    <dl class="dl-horizontal">
                        <dt>Número de Pedido:</dt>
                        <dd>{{ num_pedido }}</dd>

                        <dt>Rechazada por:</dt>
                        <dd>{{ medio_de_pago }}</dd>

                        <dt>Fecha y Hora:</dt>
                        <dd>{{ fecha_transaccion }}</dd>
                        <br>
                        <dt>Código de SeguriPago:</dt>
                        <dd>{{ num_transaccion }}</dd>

                        {#<dt>Importe:</dt>
                        <dd>{{ moneda }} {{ importe }}</dd>#}
                        <br>
                        <dt>Razón del rechazo:</dt>
                        <dd>{{ txt_respuesta }}</dd>
                    </dl>
                    <br>
                    <div class="text-center">Al no realizar el pago no existe ningún cobro adicional.</div>
                </div>
            </div>
        
        

            {#<p style="margin-bottom: 9px;">
                <strong style="color: #333333;">{{ nombre_usuario }}, ¡Lo sentimos no se realizó el pago!</strong>
            </p>
              La siguiente informaci&oacute;n es importante:
              <section style="line-height: 18px;margin: 5px 0px">
                  <strong>El pago del pedido NO fue aceptado por:</strong><br/>
                  {{ medio_de_pago }}<br/>
                  Razón:  {{ txt_respuesta }}<br/>
                  Dicha transacción fue realizado el: {{ fecha_transaccion }}<br/>
              </section>
              <span >Al <strong>NO</strong> poder efectuar la compra, no habrá ningún cobro.</span>#}

            {% endif %}
            </div>
        </div>
    </div>
</div>
