{% block container %}

<center>
    <img src="{{ asset('bundles/app/img/sp_logo.png') }}" style="margin: 100px 0px 0px 0px;"/>
    </br>
    Redirigiendo a la pasarela SeguriPago
</center>

<form class="md-form" id="seguripago_form" name="seguripago_form" action="{{ sp_api.urlEnvioDatos }}" method="post">
  <input type="hidden" name="I1" value="{{ sp_api.apiId }}">
  <input type="hidden" name="I2" value="{{ sp_api.numeroPedido }}">
  <input type="hidden" name="I3" value="{{ sp_api.fechaVenta }}">
  <input type="hidden" name="I4" value="{{ sp_api.tipoMoneda }}">
  <input type="hidden" name="I5" value="{{ sp_api.importeTotal }}">
  <input type="hidden" name="I6" value="{{ sp_api.cliente }}">
  <input type="hidden" name="I7" value="{{ sp_api.articulo }}">
  <input type="hidden" name="I8" value="{{ sp_api.fechaVencimiento }}">
  <input type="hidden" name="I9" value="{{ sp_api.generarHashEnvio }}">
  <input type="hidden" name="I10" value="{{ sp_api.pantalla }}">
  <input type="hidden" name="I11" value="{{ sp_api.obviar }}">
</form>

<script type="text/javascript">
  window.onload = function() {
    document.seguripago_form.submit();
  };
</script>

{% endblock %}

