{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block container %}

<style type="text/css">

    .table thead th{
        background: none;
        color: #000000;
        font-weight: bold;
    }
    .table th{
        background: none;
        color: #000000;
    }
</style>
<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Cursos</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Historial de Pagos</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="one_first first_column" data-folder="column" data-type="">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Historial de pagos</h3>
                        </div>
                        <div class="panel-body">
                          {% if cursos|length > 0 %}
                            <table class="table  table-hover table-responsive">
                                <thead>
                                  <tr>
                                    <th style="text-align:center;">#Cod</th>
                                    <!-- <th style="text-align:center;">#CursoID</th> -->
                                    <th style="text-align:center;">Tipo Moneda</th>
                                    <th style="text-align:center;">Importe</th>
                                    <th style="text-align:center;">Medio de Pago</th>
                                    <th style="text-align:center;">Código Pago</th>
                                    <th style="text-align:center;">Fecha Pago</th>
                                    <th style="text-align:center;">Estado Pago</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for curso in cursos %}
                                        <tr>
                                            <td scope="row" style="text-align:center;">{{ curso.id }}</td>
                                            {#<td scope="row" style="text-align:center;">{{ curso.curso.id }}</td>#}
                                            <td scope="row" style="text-align:center;">{{ curso.TipoMoneda }}</td>
                                            <td scope="row" style="text-align:center;">{{ curso.importe }}</td>
                                            <td scope="row" style="text-align:center;">{{ curso.MetodoPago }}</td>
                                            <td scope="row" style="text-align:center;">{{ curso.CodigoPago }}</td>
                                            <td scope="row" style="text-align:center;">{{ curso.fechapago|date("m/d/Y") }}</td>
                                            <td scope="row" style="text-align:center;">{{ curso.EstadoPago }}</td>
                                        </tr>

                                    {% endfor %}

                                </tbody>
                              </table>

                          {% else %}
                                No tiene ningun pago realizado
                          {% endif %}
                        </div>
                    </div>
                  </div>

              </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <br>
            <br>
            <br>
        </section>
        <div class="cl"></div>
    </div>
</section>
{% endblock %}

