
<h4 class="title-transaccion">Intrucciones para realizar el pago</h4>

        <center>
            <div id="container-seguricash" style="font-family: sans-serif;min-width:500px;max-width:500px;">
                <div style="width: 100%; overflow-y: hidden;overflow-x: hidden;color: #666;line-height: 18px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
                    <div id="print" style="background: white;text-align: center;with:100%;">
                        <div style="width: 100%;margin-bottom: 10px;overflow: hidden;">
                            <div style="overflow: hidden;padding: 2px;border-width: 1px;border-style: dotted;border-color: #999999;border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">

                                <div style="width: 100%;margin-bottom: 5px;overflow: hidden;">
                                    <div style="text-align: center;">
                                        <img title="SeguriPago" alt="SeguriPago"  style="max-width:100%;vertical-align: middle;" src="{{ asset('bundles/app/img/sp_logo.png') }}">
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div style="w#idth:50%; float: left; text-align:left;">
                                    <div style="text-align: center;line-height: 26px;">
                                        <small style="font-size: 14px;">Código de pago Seguripago</small>
                                        <h3 style="margin:0px;font-size: 30px;line-height: 1.1;text-shadow: 1px 1px 5px #aaa;">{{ num_transaccion }}</h3>
                                        <small style="color:#666;font-size: 12px;">Vencimiento: {{ fecha_vencimiento }}</small>
                                    </div>
                                </div>
                                <div style="width:50%; float: right;text-align:right;">
                                    <div style="text-align: center;line-height: 26px;">
                                        <small style="font-size: 14px;">Importe a pagar</small>
                                        <h3 style="margin:0px;font-size: 24px;font-weight: 500;line-height: 1.1;color: inherit;">S/. {{ importe }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div id="opciones_pago" style="width: 100%;margin-bottom: 5px;overflow: hidden;text-align: left;font-size: 13px;">
                            <h5 style="margin: 0px;font-weight: 500;line-height: 1.1;color: inherit;font-size: 13px;">Su recibo está disponible inmediatamente en:</h5>
                            <ul style='margin: 5px 0px 0px 0px; list-style: circle inside; list-style-type: initial; margin-left: 30px;font-size: 13px;'>
                                <li style="padding: 0px 0px;">Ventanilla</li>
                                <li style="padding: 0px 0px;">Agentes</li>
                                <li style="padding: 0px 0px;">Banca por Internet</li>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width: 100%;margin-bottom: 5px;overflow: hidden;font-size: 13px;">
                            <h5 style="margin: 0px;font-weight: 500;line-height: 1.1;color: inherit;text-align: left;font-size: 13px;">Puedes pagar en cualquiera de estos bancos:</h5>
                            <div style="padding: 5px 15px 0px;">

                                <div style="cursor:pointer; text-align: center;" onclick="$('.bankdetail').slideToggle();">
                                    <img style="height:35px;margin: 0px 2px 0px 0px;" src="{{ asset('bundles/app/img/scotiabank_90X40.jpg') }}">
                                    <img style="height:35px;margin: 0px 2px 0px 0px;" src="{{ asset('bundles/app/img/bcp_90X40.jpg') }}">
                                    <img style="height:35px;margin: 0px 2px 0px 0px;" src="{{ asset('bundles/app/img/bbva_90X40.jpg') }}">
                                    <p id="ver_intrucciones" style="font-style: italic;">Click en las imagenes para ver instrucciones.</p>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;margin-bottom: 10px;overflow: hidden;">
                            <div style="width:50%; float: left;">
                                <div style="border-color: #b3b3b3;border-right-width: 1px;border-right-style: solid;padding-left: 15px;padding-right: 15px;">
                                    <div class="bankdetail f-xs marg-t" style="display:none;font-size: 11px;line-height: 1.4;color: #333;text-align:left;">
                                        <div style="text-align:center;">
                                            <img style="height: 33px;margin: 0px 0px 4px;" src="{{ asset('bundles/app/img/bbva_90X40.jpg') }}">
                                        </div>
                                        <p style="margin: 0px;"><b>1. Pagar en una Agencia del BBVA o Agente Express:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Informe que realizará un pago de recaudación SEGURIPAGO-SOLES.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Comunique el Código de SEGURIPAGO: <strong>{{ num_transaccion }}</strong> y confirme el importe a pagar.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Confirme el ticket de transacción: EMISORA: SEGURIPAGO-SOLES y el importe correcto.</li>
                                        </ul>
                                        <p style="margin: 0px;"><b>2. Pagar por banca electrónica:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingrese a su cuenta, seleccione Pago de Servicios, De Instituciones y Empresas.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Busque el Servicio SEGURIPAGO y seleccione SEGURIPAGO - SOLES.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingresa el Código de SEGURIPAGO: <strong>{{ num_transaccion }}</strong> y confirme</li>
                                        </ul>
                                    </div>
                                    <div class="bankdetail f-xs marg-t" style="display:none;font-size: 11px;line-height: 1.4;color: #333;text-align:left;">
                                        <div style="text-align:center;">
                                            <img style="height: 33px;margin: 0px 0px 4px;" src="{{ asset('bundles/app/img/scotiabank_90X40.jpg') }}">
                                        </div>
                                        <p style="margin: 0px;"><b>1. En las ventanillas de las Agencias de Scotiabank o Cajero Express:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Acérquese a una agencia Scotiabank o Cajero Express.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que desea realizar el pago de Seguripago. Seguripago-Soles. <strong>(BT 50/186)</strong>.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que el servicio a pagar es Seguripago-soles.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indicar su código de pago <strong></strong> y se le entregará su voucher de Pago.</li>
                                        </ul>
                                        <p style="margin: 0px;"><b>2. Vía Scotia en Línea (Banca Por Internet Scotiabank):</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingrese a Scotia en Línea</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Seleccione su Tarjeta de Acceso y Débito e ingrese los 8 últimos dígitos de su tarjeta y la "clave principal".</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">En el menú principal, seleccione Pagos – Otras Instituciones.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">En el tipo de Institución seleccione Otros y consulte.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Seleccionar la institución según servicio: Seguripago. Seguripago-Soles.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingrese su código de pago <strong></strong> y el sistema le mostrará una pantalla que podrá imprimir o enviar a una dirección de correo electrónico como constancia de pago.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div style="width:50%; float: right;">
                                <div style="padding-left: 15px;padding-right: 15px;">
                                    <div class="bankdetail f-xs marg-t" style="display:none;font-size: 11px;line-height: 1.4;color: #333;text-align:left;">
                                        <div style="text-align:center;">
                                            <img style="height: 33px;margin: 0px 0px 4px;" src="{{ asset('bundles/app/img/bcp_90X40.jpg') }}">
                                        </div>
                                        <p style="margin: 0px;"><b>1. En una Agencia BCP:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Imprima esta boleta.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Diríjase a una agencia BCP</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que va a realizar un pago a la  empresa: Seguripago</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que el servicio a pagar es SEGURIPAGO - soles</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique el código de pago de SEGURIPAGO: <strong>{{ num_transaccion }}</strong>   </li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Se le remitirá su voucher de Pago.</li>
                                        </ul>
                                        <p style="margin: 0px;"><b>2. En un Agente BCP:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Imprima esta boleta.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Diríjase a un agente BCP</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que va a realizar un pago a la  empresa: Seguripago, código de agente 08051.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique que el servicio a pagar es SEGURIPAGO - soles</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Indique el código de Pago de SEGURIPAGO: <strong>{{ num_transaccion }}</strong>  </li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Se le remitirá; su voucher de Pago</li>
                                        </ul>
                                        <p style="margin: 0px;"><b>3. Vía internet BCP, seguir los siguientes pagos:</b></p>
                                        <ul>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingresa en tu cuenta.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Selecciona la opción Pago de Servicios ubicada en la columna izquierda.</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Selecciona Empresas Diversas, buscar Seguripago</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Selecciona el servicio SEGURIPAGO - soles</li>
                                            <li style="line-height: 18px;font-size: 11px;padding-bottom: 5px;margin-left: 20px;">Ingresa el siguiente Código de Pago: <strong>{{ num_transaccion }}</strong>  </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div class="row">
                    <div style="float:right;">
                        <button class="btn btn-sm btn-warning" id="imprimir">Imprimir</button>
                    </div>
                </div>
            </div>
        </center>