{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript">

        (function ($, window, document, undefined) {

            $(function () {
            });

        })(jQuery, window, document);

    </script>

    <style type="text/css">
        .title-transaccion {
            text-transform: uppercase;
            padding: 0px 0px 5px 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #d6d4d4;
            overflow: hidden;
        }

        .dl-horizontal dt {
            text-align: left;
            /*width: 200px;*/
            width: 44%;
        }

        .dl-horizontal dd {
            /*margin-left: 220px;*/
            margin-left: 45%;
        }

        .panel-title {
            font-size: 130%;
        }

        .panel-body {
            /*margin: auto;*/
            font-size: 120%;
            padding: 30px;
        }

    </style>
{% endblock %}
{% block container %}
<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Conferencia Virtual</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Resultado de la transacción</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry well">
                <div class="cmsms_cc">
                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="">
                            <h4 class="title-transaccion">Resultado de la transacción</h4>

                              <div id="container-seguricash" style='font-family: sans-serif;'>
                                    <div class="col-md-8 col-md-offset-2">
                                    {% if resultado == 1 %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Felicitaciones por su compra</h3>
                                            <h4 class="text-center">En unos segundos te llegará un correo electrónico con el acceso a la
                                                conferencia</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 pull-lef">
                                                    <img src="{{ asset('bundles/app/img/sp_logo.png') }}">
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('assets/img/logo.jpg') }}" class="pull-right">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="clearfix"></div>
                                            La transacción fue exitosa :<br><br>
                                            <dl class="dl-horizontal">
                                                <dt>Número de Pedido:</dt>
                                                <dd>{{ num_pedido }}</dd>
                                                <dt>Aprobada por:</dt>
                                                <dd>Paypal</dd>
                                                <dt>Fecha y Hora:</dt>
                                                <dd>{{ fecha_transaccion|date("d/m/Y  h:m a") }}</dd>
                                                <dt>Importe:</dt>
                                                <dd>$ {{ importe }}</dd>
                                                <dt>Autorización:</dt>
                                                <dd>{{ cod_autoriza }}</dd>
                                            </dl>
                                            <br>
                                        </div>
                                    </div>
                                    {% else %}

                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Lamentamos que no haya realizado su pago</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 pull-lef">
                                                    <img src="{{ asset('bundles/app/img/sp_logo.png') }}">
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('assets/img/logo.jpg') }}" class="pull-right">
                                                </div>
                                            </div>
                                            <br>

                                            <div class="clearfix"></div>
                                            El pago no fue aceptado:<br><br>
                                            <dl class="dl-horizontal">
                                                <dt>Rechazada por:</dt>
                                                <dd>Paypal</dd>
                                                <dt>Fecha y Hora:</dt>
                                                <dd>{{ fecha_transaccion|date("d/m/Y  h:m a") }}</dd>
                                                <br>
                                                <dt>Razón del rechazo:</dt>
                                                <dd>{{ mensaje }}</dd>
                                            </dl>
                                            <br>

                                            <div class="text-center">Al no realizar el pago no existe ningún cobro adicional.</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
              </div>



            <div class="clearfix"></div>

        </section>
    </div>
</section>
{% endblock %}




