{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
<script type="text/javascript">

(function($, window, document, undefined){

    $(function(){

        $( "#imprimir" ).click(function() {

            var w = 900;
            var h = 500;
            var left = Number((screen.width/2)-(w/2));
            var tops = Number((screen.height/2)-(h/2));

            var htmlImprimir = $('#container-seguricash');
            htmlImprimir.find('.bankdetail').show();
            htmlImprimir.find('#opciones_pago').hide();
            htmlImprimir.find('#ver_intrucciones').hide();
            htmlImprimir.find('#imprimir').hide();

            var ventImprimir = window.open("", "Seguripago", 'title="hola", toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
            ventImprimir.document.write(htmlImprimir.html());
            ventImprimir.document.close();
            ventImprimir.print();
            ventImprimir.close();

            htmlImprimir.find('.bankdetail').hide();
            htmlImprimir.find('#opciones_pago').show();
            htmlImprimir.find('#ver_intrucciones').show();
            htmlImprimir.find('#imprimir').show();

        });

        var jqxhr = $.ajax({
            url             : '{{ url_acuse }}',
            type            : 'POST',
            async           : true,
            dataType        : 'jsonp',
            data : {
                    I1:'{{ idsocio }}',
                    I2:'{{ num_transaccion }}',
                    I3:'{{ hash_acuse }}'
                }
            });

    });

})(jQuery, window, document);

</script>

<style type="text/css">
  .title-transaccion{
    text-transform: uppercase;
    padding: 0px 0px 5px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d4d4;
    overflow: hidden;
  }
    .dl-horizontal dt {
        text-align: left;
        /*width: 200px;*/
        width: 44%;
    }
    .dl-horizontal dd {
        /*margin-left: 220px;*/
        margin-left: 45%;
    }
    .panel-title{
        font-size: 130%;
    }
    .panel-body{
        /*margin: auto;*/
        font-size: 120%;
        padding: 30px;
    }

</style>
{% endblock %}
{% block container %}
<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Conferencia Virtual</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Resultado de la transacción</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry well">
                <div class="cmsms_cc">

                    <div class="one_first first_column" data-folder="column" data-type="">
                    {{ mensaje}}
                    {% if cod_producto == 1 %}
                        {% include 'AppBundle:Payment:payment_resultado_seguricredito.html.twig' %}
                    {% elseif cod_producto == 2 %}
                        {% include 'AppBundle:Payment:payment_resultado_seguricash.html.twig' %}
                    {% elseif cod_producto == 6 %}
                        {% set cod_producto = 'Seguripago - SeguriDebito' %}
                        {% include 'AppBundle:Payment:payment_resultado_seguridebito.html.twig' %}
                    {% else %}

                          <br>
                          <p>{{ mensaje}}</p>
                          <br>
                          <br>
                          <br>

                      {% endif %}

                  </div>

              </div>
            </div>

            <div class="clearfix"></div>

        </section>
    </div>
</section>
{% endblock %}




