<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}3C CULTURA{% endblock %}</title>
    <meta name="description" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.3ccultura.com/"/>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {% block stylesheets %}
        <!-- Bootstrap 3.3.2 -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/bower_components/admin-lte/bootstrap/css/bootstrap.min.css') }}">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css">
        <!-- DATA TABLES -->
        <link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/bower_components/admin-lte/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/bower_components/admin-lte/dist/css/skins/skin-blue.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/bootstrap3-wysihtml5.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/bootstrap3-wysihtml5-editor.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/bower_components/admin-lte/plugins/iCheck/square/blue.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/custom.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/3c.css') }}">

    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="skin-blue fixed">

    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>3C</b>Cultura</a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                <img src="{{ asset('bundles/admin/img/logo_user.png') }}"  class="user-image" alt="" />
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ nombre_usuario(app.user.id) }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{{ asset('bundles/admin/img/logo_user.png') }}"  class="img-circle" alt="" />
                    <p>
                      {% if app.user and is_granted('ROLE_ADMIN') %}
                       Administrador
                      {% endif %}
                      <small></small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('fos_user_security_logout')}}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    
        {% block block_menu %}
            {% include 'AdminBundle:Base:menu_left_base.html.twig' %}
        {% endblock block_menu %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content_page %}
            
            {% block breadcrum %}
            {% endblock breadcrum %}

            {% block content %}
            {% endblock content %}

        {% endblock content_page %}
    </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          3CCultura
        </div>
        <!-- Default to the left --> 
        <strong>Administrador de contenido.</strong>
    </footer>

    </div><!-- ./wrapper -->
    

    <!-- REQUIRED JS SCRIPTS -->
    {% block javascripts %}
        <!-- jQuery 2.1.3 -->
        <script type="text/javascript" src="{{ asset('bundles/admin/bower_components/admin-lte/plugins/jQuery/jQuery-2.1.3.min.js') }}"></script>
        <!-- Bootstrap 3.3.2 JS -->
        <script type="text/javascript" src="{{ asset('bundles/admin/bower_components/admin-lte/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script type="text/javascript" src="{{ asset('bundles/admin/bower_components/admin-lte/dist/js/app.min.js') }}"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/bower_components/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/bower_components/admin-lte/plugins/fastclick/fastclick.min.js') }}"></script>

        <script src="{{ asset('bundles/admin/bower_components/admin-lte/plugins/ckeditor/ckeditor.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/admin/bower_components/admin-lte/plugins/iCheck/icheck.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/js/application.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/admin/js/wysihtml5x-toolbar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/js/bootstrap3-wysihtml5.js') }}" type="text/javascript"></script>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/admin/js/plupload/plupload.full.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/js/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/bower_components/notifyjs/dist/notify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/bower_components/notifyjs/dist/styles/bootstrap/notify-bootstrap.js') }}" type="text/javascript"></script>
        
        <!-- date-range-picker -->
        <script src="{{ asset('bundles/admin/js/moment-with-locales.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/admin/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('assets/js/3c.js') }}" type="text/javascript"></script>
    {% endblock %}
    {% block before_js %}

    {% endblock %}
    
    <!-- Optionally, you can add Slimscroll and FastClick plugins. 
          Both of these plugins are recommended to enhance the 
          user experience -->
  </body>
</html>