 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
         <img src="{{ asset('bundles/admin/img/logo_user.png') }}"  class="img-circle" alt="" />
        </div>
        <div class="pull-left info">
          <p>{{ nombre_usuario(app.user.id) }}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <!-- /.search form -->

    {% set ruta = app.request.attributes.get('_route') %}

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">CONFERENCIA</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="{% if (ruta == 'testimonio') %} active {% endif %}"><a href="{{ path('testimonio') }}"><span>Testimonios</span></a></li>
        <li class="{% if (ruta == 'conferencia') %} active {% endif %}"><a href="{{ path('conferencia') }}"><span>Conferencias</span></a></li>
        <li class="{% if (ruta == 'conferencista') %} active {% endif %}"><a href="{{ path('conferencista') }}"><span>Conferencistas</span></a></li>
        <li class="header">USUARIO</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="{% if (ruta == 'usuarioperfil') %} active {% endif %}"><a href="{{ path('usuarioperfil')  }}"><span>Usuarios</span></a></li>
        <li class="header">ORDEN</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="{% if (ruta == 'orden') %} active {% endif %}"><a href="{{ path('orden') }}"><span>Ordenes</span></a></li>
      </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  


