{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block container %}

{% trans_default_domain 'FOSUserBundle' %}

<style>
    #mostrar-errores{
        padding: 8px 15px;
    }
</style>

<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Usuario</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Recuperar contraseña</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <br>
                    <br>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="login-form-content">
                            <div class="alert alert-danger col-xs-8 col-xs-offset-2">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                La contraseña para este usuario ya ha sido solicitada en las últimas 24 horas.
                            </div>

                        </div>
                    </div>
 
                 </div>

            <div class="clearfix"></div>
            <br><br><br><br>
            </div>

        </section>
        <div class="cl"></div>
    </div>


{% endblock container %}
