{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block container %}

{% trans_default_domain 'FOSUserBundle' %}


{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<style>
    #mostrar-errores{
        padding: 8px 15px;
    }
    label {
        font-weight: normal;
    }
    h4.title-datos{
        font-size: 18px;
    }
    .requerido{
        color: red;
    }
    .icon-result{
        color: #a94442;
    }
</style>
<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Usuario</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Recuperar contraseña</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                        <div class="login-form-content">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                                <div class="form-group text-center">
                                    <div class="col-xs-12">
                                        <h3>¿Olvidaste tu contraseña?</h3>
                                        <p>Introduce tu dirección de correo para restablecer tu contraseña. Puede que tengas que comprobar tu carpeta de spam.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    {% if invalid_email is defined %}
                                      <div id="mostrar-errores" class="alert alert-danger col-xs-8 col-xs-offset-2">
                                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                           El usuario o dirección de correo no existe.
                                      </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% for flashMessage in app.session.flashbag.get('envio_exitoso') %}
                                      <div id="mostrar-errores" class="alert alert-success col-xs-8 col-xs-offset-2">
                                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            {{ flashMessage }}
                                      </div>
                                    {% endfor %}
                                </div>

                                <div class="col-xs-12">

                                    {% set isError = form.email.vars.errors|length %}
                                    <div class="form-group {{ isError ? 'has-error': '' }}">
                                        {{ form_label(form.email, '', {'label_attr': {'class': 'control-label required'}}) }}
                                        <div class="form-widget">
                                            {{ form_widget(form.email) }}
                                            <div class="icon-result">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group pull-right">
                                    {{ form_widget(form.save, { 'attr': {'class': 'btn-primary  btn-md','style': 'width: 82px;'} }) }}
                                    </div>
                                </div>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>

            <div class="clearfix"></div>
            <br><br><br><br>
            </div>

        </section>
        <div class="cl"></div>
    </div>


{% endblock container %}
