{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block container %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<style>
    label {
        font-weight: normal;
    }
    h4.title-datos{
        font-size: 18px;
    }
    .requerido{
        color: red;
    }
    .icon-result{
        color: #a94442;
    }
</style>

<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Usuario</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Recuperar contraseña</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <div class="login-form-content">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                                <div class="">
                                    <h3>Ingrese su nueva contraseña</h3>
                                </div>
                                
                                <br>
                                <div class="row">
                                    <div class="col-xs-12">

                                        {% set isError = form.plainPassword.first.vars.errors|length %}
                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                            {{ form_label(form.plainPassword.first, '', {'label_attr': {'class': 'control-label required'}}) }}
                                            <div class="form-widget">
                                                {{ form_widget(form.plainPassword.first) }}
                                                <div class="icon-result">
                                                    {{ form_errors(form.plainPassword.first) }}
                                                </div>
                                            </div>
                                        </div>
                                        {% set isError = form.plainPassword.second.vars.errors|length %}
                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                            {{ form_label(form.plainPassword.second, '', {'label_attr': {'class': 'control-label required'}}) }}
                                            <div class="form-widget">
                                                {{ form_widget(form.plainPassword.second) }}
                                                <div class="icon-result">
                                                    {{ form_errors(form.plainPassword.second) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                    </div>
                                </div>

                            {{ form_end(form) }}

                        </div>
                    </div>


                </div>

            <div class="clearfix"></div>
            <br><br><br><br>
            </div>

        </section>
        <div class="cl"></div>
    </div>

{% endblock container %}
