<div class="formulario-p">
            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="hidden" name="id" value="364fdbb796"> 
                <div class="campos">
                    <input type="text" name="MERGE2" id="MERGE2" class="nombre" placeholder="Ingresa tu Nombre"  required>
                </div>
                <div class="campos2">
                    <input type="text" name="MERGE0" id="MERGE0" class="email" placeholder="Ingresa tu E-mail"   required>
                </div>
                <div class="boton">
                    <input type="submit" name="submit" value="Suscríbete GRATIS">
                </div>
                <div class="campos3">
                    No Spam ¡Prometido!
                </div>
            </form>          
        </div>  