{% extends "::base.html.twig" %}
{% set section = section is defined ? section : 'index' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" media="screen"/>
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic"
          type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/plugins/revslider/rs-plugin/css/settingsa560.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/plugins/revslider/rs-plugin/css/captionsa560.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fonts8a54.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/adaptive8a54.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/retina8a54.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jackbox8a54.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.isotope5d6b.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.fancybox.css') }}">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ asset('assets/css/ie.css') }}">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ asset('assets/css/ieCss3.css') }}">
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/3c.css') }}">
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page" class="csstransition hfeed site">
            {% block header %}
                <header id="header">
                    <div class="header_inner">
                        <a href="{{ path('index') }}" title="" class="logo">
                            <img src="{{ asset('assets/img/logo.png') }}" alt="Consultores en Cultura Corporativa"/>
                        </a>

                        <div class="header_login">
                            {% if app.user %}
                                <div class="dropdown clearfix">
                                    <a class="btn btn-active dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                                       aria-expanded="true">
                                        Hola, {{ nombre_usuario(app.user.id) }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{{ path('payment_historial') }}">Historial
                                                de Pago</a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="{{ path('orden') }}">Panel de
                                                    Administración</a>
                                            </li>
                                        {% endif %}
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1"
                                               href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{{ path('curso_registro') }}">Regístrate</a>
                                <span>/</span>
                                <a href="{{ path('fos_user_security_login') }}">Ingresa</a>
                            {% endif %}
                        </div>
                        {% include 'AppBundle:AppTemplate:menu.html.twig' with {'section': section} only %}
                        <div class="cl"></div>
                    </div>
                </header>
            {% endblock %}

            <section id="middle">
                {% if app.session.flashBag.has('registro_success') %}
                    <div class="alert alert-success">
                        {% for flashMessage in app.session.flashbag.get('registro_success') %}
                            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block container %}

                    {% block sidebar %}
                        <section id="sidebar" role="complementary">
                            {% include 'AppBundle:Site:regular_sidebar.html.twig' %}
                        </section>
                    {% endblock %}

                {% endblock %}
            </section>
            {% block prefooter %}
                <section id="prefooter text-justify">
                    <div class="content_wrap fullwidth">
                        <div class="cmsms_cc">
                            <div class="one_third">
                                <aside id="text-8" class="widget widget_text"><h3 class="widgettitle"> Acerca de 3C
                                        Consultores
                                        en Cultura Corporativa</h3>

                                    <div class="text-justify">
                                        <p>Trabajamos con nuestros clientes para implementar soluciones a la medida de sus necesidades en temas de Cultura y Clima, Liderazgo y Talento.</p>
                                        <p>Asimismo, ofrecemos conferencias virtuales enfocadas en la mejora de la productividad personal y profesional, tanto para empresas como para el público en general.</p>
                                        <p>Somos un equipo multidisciplinario de consultores con amplia experiencia nacional e internacional en la gestión de personas.</p>
                                    </div>
                                </aside>
                                <br><br>
                            </div>
                            <div class="one_third">
                                <aside id="text-9" class="widget widget_text"><h3 class="widgettitle">Nos puedes encontrar
                                        en la
                                        siguiente dirección</h3>

                                    <div class="textwidget">
                                        <ul class="no-icon">
                                            <li><strong>Dirección :</strong><br> Av. Angamos Oeste 1267 Of. 502<br>Miraflores,
                                                Lima - Perú
                                            </li>
                                            <li><strong>Teléfonos : </strong><br> (+51) 4219030</li>
                                            <li><strong>E-mail :</strong> <br><a
                                                        href="mailto:3c@3ccultura.com">3c@3ccultura.com</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="one_third">
                                <aside id="text-10" class="widget widget_text text-center">
                                    <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                                    <div class="textwidget">
                                        <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                            <iframe frameborder="0" height="390"
                                                    src="http://www.3ccultura.com/formulario/index.php"></iframe>
                                        </div>
                                    </div>
                                    <hr>
                                </aside>
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock prefooter %}
            <div class="cl"></div>
            {% block footer %}
            <hr>
            <div class="content_wrap fullwidth">
                <div class="row payment-row">
                    <div class="col-xs-12 col-sm-9 payment-way">
                       <h4 class="widgettitle">Medios de pago:</h4>
                       <div class="col-xs-12">
                           
                        <span>
                            <a href="https://www.seguripago.pe/" target="_black">
                                <img src="{{ asset('bundles/app/img/sp_logo.png') }}">
                            </a>
                        </span>
                         <span>
                             <a href="http://www.visanet.com.pe/" target="_black">
                                 <img src="{{ asset('bundles/app/img/visa.png') }}">
                             </a>
                         </span>
                         <a href="http://www.mastercard.com/pe/consumidores/index.html"
                            target="_black">
                             <img src="{{ asset('bundles/app/img/mastercard_90x40.png') }}">
                         </a>
                         <img src="{{ asset('bundles/app/img/bbva_90X40.png') }}">
                         <img src="{{ asset('bundles/app/img/bcp_90X40.png') }}">
                         <img src="{{ asset('bundles/app/img/scotiabank_90X40.png') }}">

                       </div>
                    </div>
                    <div class="col-sm-3 libro-recl">
                        <a href="{{ path('libro_reclamacion') }}">
                            <img src="{{ asset('assets/img/libro_reclamacion.png') }}" style="display: inline-block;">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            {% endblock footer %}

            <a href="javascript:void(0);" id="slide_top"></a>
            <footer id="" role="contentinfo" class="main-footer">
                <div class="col-xs-12 col-sm-8 col-md-6 rights">
                    <span>3C CULTURA © 2014 | Todos los derechos reservados</span>
                    <p>Teléfono de contacto: (+51) 4219030 | Correo Electrónico: 3c@3ccultura.com </p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-6 terms">
                    <a href="{{ path('termino_condicion') }}">Términos y Condiciones</a>
                </div>
            </footer>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.all.min16b9.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/respond.minf488.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-migrate.min1576.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/css/helpers/jquery.fancybox-media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/easySlider1.7.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/gen_validatorv31.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery.easing.min6f3e.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jackbox-lib8a54.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jackbox8a54.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.script8a54.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/videos.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/analytics.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/3c.js') }}"></script>
{% endblock %}