{% set section = section|default('index') %}
<a class="responsive_nav" href="javascript:void(0);"></a>
<nav role="navigation">
    <ul id="navigation" class="navigation">
        <li id="menu-item-3834" class="menu-item {% if section == 'index' %}current_page_item{% endif %}">
            <a href="{{ path('index') }}"><span>Inicio</span></a>
        </li>
        <li id="menu-item-3872" class="menu-item {% if section == 'blog' %}current_page_item{% endif %}">
            <a href="http://blog.3ccultura.com/" target="_blank"><span>Blog</span></a>
        </li>
        <li id="menu-item-3816" class="menu-item {% if section == 'about' %}current_page_item{% endif %}">
            <a href="{{ path('about') }}"><span>Nosotros</span></a>
            <ul class="sub-menu">
                <li id="menu-item-3843" class="menu-item">
                    <a href="{{ path('consultant') }}"><span>Consultores</span></a>
                </li>
            </ul>
        </li>
        <li id="menu-item-3964" class="menu-item {% if section == 'consultoria' %}current_page_item{% endif %}">
            <a href="#"><span>Consultoria</span></a>
            <ul class="sub-menu">

                <li id="menu-item-3843" class="menu-item">
                    <a href="{{ path('cons_cultura_organizacional') }}"><span>Cultura Organizacional</span></a>
                </li>
                <li id="menu-item-3952" class="menu-item">
                    <a href="{{ path('cons_clima') }}"><span>Clima</span></a>
                </li>
                <li id="menu-item-3842" class="menu-item">
                    <a href="{{ path('cons_liderazgo') }}"><span>Liderazgo</span></a>
                </li>
            </ul>
        </li>
        <li class="menu-item {% if section == 'capacitacion' %}current_page_item{% endif %}">
            <a href=""><span>Capacitación</span></a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="{{ path('cap_programa_taller') }}"><span>Programas y Talleres</span></a>
                </li>
            </ul>
        </li>
        <li class="menu-item {% if section == 'curso' %}current_page_item{% endif %}">
            <a href="{{ path('conferencia_virtual') }}"><span>Conferencias</span></a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}"><span>Gestión del Tiempo</span></a>
                </li>
            </ul>
        </li>

    </ul>
</nav>