{% block kayue_wordpress_bundle_content %}
    <div class="one_first related-art">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h3 class="widgettitle"><b>Artículos Relacionados</b></h3>
            <ul>
                {% for post in relatedPosts %}
                    <li>
                        <a href="{{ path("blog_get", {id:post.id}) }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>

    <div class="one_first related-art">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h3 class="widgettitle"><b>Entradas recientes</b></h3>
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ path("blog_get", {id:post.id}) }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>

{% endblock %}