{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'about' %}
{% block container %}

    <style>
        label {
            font-weight: normal;
        }

        .shareaholic-share-buttons-container.wrapped{
            float: none;
        }
    </style>

    <div class="cmsms_breadcrumbs">
        <a href="../" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Nosotros</span>
    </div>

    <div class="content_wrap r_sidebar">
        <section id="content" role="main" class="mission-col">
            <div class="entry">
                <h1>Acerca de 3C Consultores en Cultura Corporativa</h1>

                <p> Trabajamos con nuestros clientes para implementar soluciones
                    a la medida de sus necesidades en temas de Cultura y Clima,
                    Liderazgo y Talento.</p>

                <iframe width="100%" height="315" src="http://blog.3ccultura.com/wp-content/uploads/2015/11/Video-Institucional.mp4" frameborder="0" allowfullscreen></iframe>


                <!--Social Buttons-->
                <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                     data-title='Conferencias Virtuales'
                     data-link='{{ app.request.getBaseURL() }}{{ url('about') }}'
                     data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                </div>

                <p><br>
                    Asimismo, ofrecemos conferencias virtuales, enfocadas en la mejora de la productividad personal, y
                    profesional, tanto para empresas como para el público en general.</p>

                <p>Somos un equipo multidiscipliniario de consultores con amplia experiencia nacional e internacional en
                    la gestión de personas.</p>

                <h2>Misión</h2>

                <p>Ayudarlos a lograr la cultura y clima organizacional que le permitan aumentar su
                    rentabilidad; contar con líderes que inspiren, motiven y dirijan al talento hacia la
                    meta. </p>

                <h2>Visión</h2>

                <p>Ser reconocidos como la empresa más confiable y eficiente en el Perú en lograr cambios
                    culturales, mejorar del clima y fortalecer a sus líderes.</p>

                <h2>Valores</h2>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img class=" wp-image-3853 alignleft" style="margin-right: 10px;"
                             alt="compromiso"
                             src="{{ asset('assets/img/valores/compromiso.jpg') }}">
                    </div>
                    <div class="col-md-9">
                        <h4><b>Integridad</b></h4>
                        <p>Garantizamos confidencialidad honestidad y transparencia en todo nuestro quehacer.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class=" wp-image-3855 alignleft" style="margin-right: 10px;"
                             alt="innovacion"
                             src="{{ asset('assets/img/valores/innovacion.jpg') }}">
                    </div>
                    <div class="col-md-9">
                        <h4><b>Innovación</b></h4>
                        <p>Nuestras estratégias rompen con los modelos tradicionales. Usamos métodos e instrumentos de
                            última generación.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class=" wp-image-3854 alignleft"
                             style="margin-right: 10px;"
                             alt="flexibilidad"
                             src="{{ asset('assets/img/valores/flexibilidad.jpg') }}">
                    </div>
                    <div class="col-md-9">
                        <h4><b>Adaptabilidad</b></h4>
                        <p>Trabajamos
                            junto con nuestro cliente para crear un vínculo a partir de la realidad
                            de la empresa y, a partir de ello, llevarla hacia el éxito.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class=" wp-image-3852 alignleft"
                             style="margin-right: 10px;" alt="analisis"
                             src="{{ asset('assets/img/valores/analisis.jpg') }}">
                    </div>
                    <div class="col-md-9">
                        <h4><b>Análisis</b></h4>
                        <p>En todo nuestro trabajo buscamos llegar a la raíz de los problemas y
                            abordar los problemas de fondo para lograr mejoras sostenibles.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class=" wp-image-3856 alignleft"
                             style="margin-right: 10px;"
                             alt="rentabilidad"
                             src="{{ asset('assets/img/valores/rentabilidad.jpg') }}">
                    </div>
                    <div class="col-md-9">
                        <h4><b>Compromiso</b></h4>
                        <p>Cuando aceptamos a un cliente, este se convierte en nuestra razón de ser y no
                            descansamos hasta que logre sus objetivos.</p>
                    </div>
                </div>
            </div>

        </section>

        {% block sidebar %}
            <section id="sidebar" role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}" style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="one_first">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_first">
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_third">
                    <aside id="text-10" class="widget widget_text">
                        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                        <div class="textwidget text-center">
                            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                <iframe frameborder="0" height="390" width="100%"
                                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>
                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </section>
        {% endblock %}

        {% block prefooter %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </div>
    <hr>
    <br>
    <br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>

{% endblock %}
