{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'capacitacion' %}
{% block container %}
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index' ) }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="#" class="cms_home">Capacitación</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Programas y Talleres </span>
    </div>

    <div class="content_wrap r_sidebar">
        <section id="content" role="main" class="mission-col">
            <div class="entry text-justify">

                <h2><b>Programas y Talleres</b></h2>

                <p>El reto de toda organización es que cada uno de sus colaboradores cuente con el
                    conocimiento, la habilidad y la motivación para hacer su trabajo de forma excelente.</p>
                <img src="{{ asset('bundles/app/img/programas-talleres.png') }}" style="width: 100%;">
                <br>
                <br>

                <p>Mientras más y mejores resultados logre el colaborador, mayor rentabilidad logrará la
                    empresa y el propio colaborador se sentirá empoderado y motivado. Este círculo virtuoso requiere que
                    la organización invierta en mantener a su gente aprendiendo continuamente</p>

                <p>Los principales mecanismos de aprendizaje se generan en la propia empresa a través del
                    ejemplo, la retroalimentación, trabajando con colegas más experimentados y en
                    entrenamientos internos, etc. Sin embargo, en algunas ocasiones dichos mecanismos de desarrollo
                    requieren ser
                    complementados con nuevos conocimientos. Para esos casos estamos nosotros.</p>

                <p>Contamos con una gran variedad de <strong>Programas y Talleres</strong> enfocados en el
                    desarrollo de “habilidades blandas” y “sensibilización”.</p>

                <p>Utilizamos metodologías participativas y motivadoras combinando el análisis individual
                    con técnicas grupales, lúdicas, analíticas y vivenciales, especialmente diseñadas para
                    el aprendizaje de adultos. Nos basamos en dos conceptos claves:</p>
                <ul class="list-descripcion">
                    <li><strong>Constructivismo:</strong> valora los conocimientos que tienen todas las
                        personas. Sus ideas previas son el punto de partida de cualquier temática
                        que se quiera desarrollar. Así, a partir de las experiencias individuales, se construyen
                        conjuntamente nuevos conocimientos. La adecuada
                        facilitación ayuda a transformar la experiencia grupal en nuevos conocimientos
                        individuales más ricos y complejos.
                    </li>
                    <li><strong>Psicología positiva:</strong> La Psicología Positiva es la llamada “Ciencia
                        de la Felicidad”. Consiste en un enfoque donde en lugar de centrarse en la
                        remediación de problemas, se centra en el logro de metas.
                    </li>
                </ul>

                <p>Cada <strong>Programa</strong> puede incluir diversos <strong>Talleres</strong> que se
                    conjugan según la necesidad del cliente.</p>

                <h3 class="program-list"><strong>Programas:</strong></h3>

                <h4 class="program-list"><strong>Liderazgo:</strong></h4>

                <div class="row">
                    <div class="col-lg-5">
                        <ul class="list-descripcion">
                            <li>Liderazgo situacional</li>
                            <li>Estilos de liderazgo</li>
                            <li>Gestión del desempeño</li>
                            <li>Retroalimentación constructiva</li>
                            <li>Motivación del equipo</li>
                        </ul>
                    </div>
                    <div class="col-lg-7">
                        <ul class="list-descripcion">
                            <li>Gestión del cambio</li>
                            <li>Liderazgo en seguridad y salud en el trabajo</li>
                            <li>Formación y desarrollo de equipos de trabajo</li>
                            <li>Manejo de conflictos en el equipo</li>
                            <li>Técnicas de entrevistas basadas en competencias</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong> Habilidades Interpersonales:</strong></h4>

                <div class="row">
                    <div class="col-lg-5">
                        <ul class="list-descripcion">
                            <li>Comunicación efectiva</li>
                            <li>Inteligencia emocional</li>
                            <li>Construcción de confianza</li>
                            <li>Gestión del tiempo</li>
                            <li>Manejo del estrés</li>
                            <li>Autoestima</li>
                            <li>Reuniones Efectivas</li>
                        </ul>
                    </div>
                    <div class="col-lg-7">
                        <ul class="list-descripcion">
                            <li>Balance vida / trabajo</li>
                            <li>Finanzas personales</li>
                            <li>Jubilación exitosa</li>
                            <li>Manejo del cambio</li>
                            <li>Habilidades de persuasión</li>
                            <li>Solución de problemas</li>
                            <li>Formación de formadores</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Servicio al Cliente:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Primeras impresiones y lenguaje corporal</li>
                            <li>Escucha activa y empatía</li>
                            <li>Manejo de clientes difíciles</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Salud y Seguridad en el Trabajo:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Desarrollo de nuevos hábitos</li>
                            <li>Desarrollo de actitud preventiva</li>
                            <li>Comprensión de variables psicolaborales</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Excelencia Operacional:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Círculos de mejora continua y calidad total</li>
                            <li>Reducción de costos</li>
                            <li>Mejora de procesos</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Innovación:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Aprendizaje organizacional</li>
                            <li>Creatividad y riesgos</li>
                            <li>Empatía y diversidad</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Responsabilidad Social:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Concepto, estándares y práctica de responsabilidad social</li>
                            <li>Sociedad civil, derechos y ciudadanía</li>
                            <li>Conceptos básicos de ciencia política</li>
                            <li>Comprensión de conflictos sociales</li>
                            <li>Encadenamientos productivos</li>
                        </ul>
                    </div>
                </div>

                <h4 class="program-list"><strong>Inclusión y Diversidad:</strong></h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-descripcion">
                            <li>Retos y oportunidades de la diversidad</li>
                            <li>Comprensión y desarrollo de equidad de género</li>
                            <li>Práctica de liderazgo inclusivo</li>
                            <li>Generaciones en el trabajo</li>
                            <li>Retos y oportunidades de trabajar interculturalmente</li>
                        </ul>
                    </div>
                </div>
            </div>



        </section>
        {% block sidebar %}
            <section id="sidebar" role="complementary">
                <div class="one_first">
                    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
                        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}" style="pointer-events: none;"></object>
                    </a>
                </div>
                <div class="one_first">
                    <aside id="search-2" class="widget widget_search">
                        <div class="search_line">
                            <form method="get" action="#">
                                <p>
                                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                           type="text">
                                    <input value="" type="submit">
                                </p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_first">
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p>No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="one_third">
                    <aside id="text-10" class="widget widget_text">
                        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                        <div class="textwidget text-center">
                            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                                <iframe frameborder="0" height="390" width="100%"
                                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>
                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </section>
        {% endblock %}
        {% block prefooter %}
        {% endblock %}
        {% block footer %}
        {% endblock %}


    </div>
    <hr>
    <br>
    <br>
{% endblock %}