{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'about' %}
{% block container %}
    <div class="cmsms_breadcrumbs">
        <a href="../inicio/" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="../nosotros/" class="cms_home">Nosotros</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Consultores </span>
    </div>
    <div class="content_wrap fullwidth">

        <section id="middle_content" role="main">
            <div class="entry">
            </div>
            <br>
            <div class="cmsms_cc">
                <div class="one_first first_column" data-folder="column" data-type="">
                    <div data-folder="tab" data-type="tour">
                        <div class="tour_content">
                            <ul class="tour">
                                <li><a href="#"><span>Iris Reyna Sánchez Aizcorbe</span></a></li>
                                <li><a href="#"><span>Juan Carlos Paz</span></a></li>
                                <li><a href="#"><span>Javier Carpio</span></a></li>
                                <li><a href="#"><span>Raymond Feeney Doherty</span></a></li>
                                <li><a href="#"><span>Martín Vargas Estrada</span></a></li>
                                <li><a href="#"><span>Andrés Hernani Gómez</span></a></li>
                                <li><a href="#"><span>Lynn Rutter</span></a></li>
                                <li><a href="#"><span>María Elizabeth Lita Vargas Valente</span></a></li>
                            </ul>

                            <div class="tour_box_content hidden-xs">
                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class=" wp-image-3924 alignleft" alt="iris_reyna"
                                                 src="{{ asset('assets/img/consultores/iris_reyna.jpg') }}" height="114"
                                                 width="90"></h4>
                                        <h4>Iris Reyna Sánchez Aizcorbe</h4>

                                        <p style="text-align: justify;">Especialista en Gestión de Cultura y Clima
                                            Organizacional con más de 25 años de experiencia en sectores tales como:
                                            industria manufacturera, hidrocarburos, minería, retail, consumo masivo,
                                            servicios, salud y organizaciones no gubernamentales; tanto en Sudamérica
                                            como en Asia. Los últimos 17 años ha ocupado posiciones de gerencia en
                                            recursos humanos para Perú y Sudamérica; principalmente en ExxonMobil, Oxfam
                                            Gran Bretaña y en Hipermercados Tottus S.A., Compañía Embotelladora del
                                            Pacífico</p>

                                        <p style="text-align: justify;">Actualmente es Directora Ejecutiva de 3C
                                            Consultores en Cultura Corporativa y profesora de Centrum Católica y
                                            Universidad San Ignacio de Loyola en cursos de Cambio Cultural. Cuenta con
                                            amplia experiencia en recursos humanos, gestión del cambio y desarrollo del
                                            talento y liderazgo. Asimismo, desde 1994 facilita talleres en el desarrollo
                                            de habilidades blandas.</p>

                                        <p style="text-align: justify;">En cuanto a su formación académica es Psicóloga,
                                            Master en Dirección de Empresas por la Universidad de Piura y Master en
                                            Ciencia Política y Relaciones Internacionales por la Pontificia Universidad
                                            Católica del Perú. Domina inglés y español, portugués intermedio y francés
                                            básico </p>


                                    </div>
                                </div>

                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class="size-full wp-image-4038 alignleft" alt="javier_carpio"
                                                 src="{{ asset('assets/img/consultores/javier_carpio.jpg') }}"
                                                 height="116" width="90">Javier Carpio</h4>


                                        <p style="text-align: justify;">Especialista en procesos de transformación de
                                            negocios con más de 25 años de experiencia principalmente en sectores de
                                            minería y petróleo, retail, productos de consumo masivo, servicios
                                            financieros y telecomunicaciones.</p>

                                        <p style="text-align: justify;">Ha trabajado en firmas de consultoría globales
                                            como Accenture (Andersen Consulting), Arthur Andersen, BearingPoint (KPMG
                                            Consulting) y Ernst & Young, desarrollado proyectos en corporaciones en más
                                            de una docena de países en el continente americano tales como Toyota,
                                            Panasonic, Microsoft, Procter & Gamble, Unilever, Goodyear, Allied Domecq,
                                            Televisa, Femsa, Oxxso, CANTV, Compañía Minera Antamina, Compañía Minera
                                            Raura, Empresa Minera Los Quenuales, Minera Barrick Misquichilca, Minera
                                            Yanacocha, Newmont Perú, Pan American Silver, Shougang Hierro Peru, Southern
                                            Peru Copper Corporation, ENAP Chile, Banco de Credito del Peru, Republic
                                            Bank LTD, EXSA, Fima, Grupo Romero, Grupo Wiese, Alicorp, Belcorp, Pure
                                            Biofuels, Supermercados Peruanos, Tiendas Wong, Supermercados Carulla
                                            Vivero, Grupo Carvajal, Eckerd Peru Inkafarma, Grupo Gloria, Nestle Perú,
                                            AJE Group, Santiago Queirolo, Tribunal Fiscal, Ministerio de Educación,
                                            Gobierno Municipal de San Juan Puerto Rico, Telefónica, Grupo Hochschild, BF
                                            Goodrich, Textil del Pacifico, Textil Amazonas, Consorcio Textil Exportador,
                                            Ransa, Serlipsa Swissport, Tecnológica de Alimentos, Copeinca, Vermi Verde
                                            Puro, Camposol, America TV, Rimac Seguros, Grupo Centenario, Laboratorios
                                            Roche, entre otros.</p>

                                        <p style="text-align: justify;">Actualmente es Socio Director de 360 Consulting
                                            y Consultor Asociado de 3C Consultores en Cultura Corporativa.</p>

                                        <p style="text-align: justify;">En cuanto a su formación, es Ingeniero
                                            Industrial por la Universidad de Lima, Master en Dirección de Empresas por
                                            la Universidad de Piura – IESE y ha seguido programas de formación de
                                            consultores de cuatro años en Perú y USA por Andersen Consuting (hoy
                                            Accenture). Habla español e inglés con fluidez y portugués a nivel
                                            negocios.</p>


                                    </div>
                                </div>

                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class="wp-image-3928 alignleft" alt="raymond_feeney"
                                                 src="{{ asset('assets/img/consultores/raymond_feeney.jpg') }}"
                                                 height="123" width="95">Raymond Feeney Doherty</h4>

                                        <p style="text-align: justify;">Especialista en formación y capacitación,
                                            gestión organizacional, responsabilidad social empresarial, y desarrollo
                                            social con más de 30 años de experiencia internacional. Amplia trayectoria
                                            como capacitador, asesor y coach, en temas de desarrollo personal, cultura
                                            organizacional, planificación y gestión de proyectos, a diversas audiencias.
                                            Múltiples estudios aplicados para empresas privadas de los sectores de
                                            minería, energía, construcción, comercio, servicios, y el Estado, en el
                                            campo licencia social, responsabilidad social empresarial y cultura
                                            organizacional. Ha realizado consultorías para las empresas: Endesa, Graña y
                                            Montero, Jinzhao Mining, Macroconsult, Misean Cara (Irlanda), Ministerio de
                                            Trabajo, entre otras, en países como Perú, Argentina, Brasil, Bolivia, El
                                            Salvador, Guatemala, y Honduras. Recientemente ha sido integrante de la
                                            Secretaría Técnica en Concurso inaugural de Buenas Prácticas Laborales del
                                            Ministerio de Trabajo.</p>

                                        <p style="text-align: justify;">En cuanto a su formación académica, es Bachiller
                                            en Filosofía y Teología por St. Patrick’s University, Maynooth, Irlanda,
                                            Magister en Antropología por la Pontificia Universidad Católica del Perú,
                                            Master of Science in Development Management de la Open University, Reino
                                            Unido y Coach miembro de la International Coach Federation (ICF). Domina
                                            inglés y español, conocimiento básico de quechua.</p></div>
                                </div>

                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class="wp-image-3927 alignleft" alt="martin_vargas"
                                                 src="{{ asset('assets/img/consultores/martin_vargas.jpg') }}"
                                                 height="120" width="90">Martín Vargas Estrada</h4>

                                        <p style="text-align: justify;">Especialista en psicología organizacional con
                                            más de 16 años de experiencia en los diversos aspectos de la gestión de
                                            personas en empresas; en especial, la detección, desarrollo y promoción de
                                            habilidades en los trabajadores. Ha trabajado con algunas de las empresas
                                            más importantes del país como Minera Yanacocha, Seguro Social del Perú,
                                            Compañía Embotelladora del Pacífico, entre otras.</p>

                                        <p style="text-align: justify;">Entre sus principales investigaciones están “La
                                            relación entre bienestar y desempeño”, “Correlación entre uso de fortalezas
                                            y percepción de clima laboral” y la validación de un inventario de calidad
                                            de vida aplicado a peruanos. Asimismo cuenta con experiencia en coaching
                                            ontológico, elaboración de encuestas a los trabajadores a la medida de la
                                            necesidad del cliente, sistematización de procesos, etc.</p>

                                        <p style="text-align: justify;">En cuanto a su formación académica, es Magíster
                                            en Dirección Estratégica de Empresas por Centrum (Pontificia Universidad
                                            Católica) y Licenciado en Psicología Social por la Pontificia Universidad
                                            Católica, con especialización en Psicología Organizacional (Universidad
                                            Ricardo Palma) y Coaching Ontológico (Pontificia Universidad Católica).</p>

                                        <p style="text-align: justify;">Es director del Instituto Peruano de Psicología
                                            Positiva y miembro de la Sociedad Interamericana de Psicología, la
                                            International Positive Psychology Association (IPPA) y el Colegio de
                                            Psicólogos del Perú.</p></div>
                                </div>

                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class=" wp-image-3923 alignleft" alt="andres_hernani"
                                                 src="{{ asset('assets/img/consultores/andres_hernani.jpg') }}"
                                                 height="118" width="90">Andrés Hernani Gómez</h4>

                                        <p style="text-align: justify;">Especialista en diseño de actividades de
                                            formación utilizando técnicas y metodologías que conducen al grupo en forma
                                            amena y dinámica, logrando a la vez el cambio deseado de manera sostenible.
                                            Cuenta con 35 años de experiencia profesional en los sectores público y
                                            privado tanto en empresas como en organismos internacionales, principalmente
                                            como consultor y catedrático. Destaca su experiencia en el diseño de
                                            talleres de aprendizaje, programas educativos, formatos tipo “train the
                                            trainer” y virtuales, así como, en la formación de formadores.</p>

                                        <p style="text-align: justify;">Entre sus experiencias más relevantes están las
                                            consultorías para empresas tales como Mobil Oil, Grupo Wong y ADE
                                            (Asociación para el Desarrollo Educativo) donde ha diseñado, planificado,
                                            organizado e implementado programas educativos y conducido talleres
                                            vivenciales de servicio al cliente.</p>

                                        <p style="text-align: justify;">En cuanto a su formación académica, es Magister
                                            en Docencia de Nivel Superior por la Universidad de San Marcos y en
                                            Estadística por el Centro Interamericano de Enseñanza Estadística de Chile,
                                            es Bachiller en Matemáticas y en Pedagogía por la Universidad de San Marcos.
                                            Asimismo, cuenta con amplia experiencia en su carrera de estadística,
                                            teniendo consultorías realizadas para organismos internacionales como FAO
                                            (Food and Agriculture Organization of the United Nations), BM (World Bank) y
                                            ASDI (Agencia Sueca para el Desarrollo Internacional), entre otros.</p>

                                        <p style="text-align: justify;">Actualmente es consultor para las Naciones
                                            Unidas y docente en diversas universidades nacionales.</p></div>
                                </div>


                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class=" wp-image-3925 alignleft" alt="lynn_rutter"
                                                 src="{{ asset('assets/img/consultores/lynn_rutter.jpg') }}"
                                                 height="124" width="90">Lynn Rutter</h4>

                                        <p style="text-align: justify;">Profesional senior de recursos humanos y
                                            entrenamiento transcultural, con 34 años de experiencia en empresas
                                            multinacionales del sector público y privado y con organizaciones no
                                            gubernamentales. Ha desarrollado posiciones de liderazgo corporativo en
                                            organizaciones como British Telecom, donde era responsabe de RH para el
                                            grupo de compañías, incluyendo subsidiarias en los Estados Unidos. En Nokia,
                                            donde reportaba a la presidencia siendo responsable de promover la cultura
                                            corporativa de Nokia globalmente, tanto al interior de la organización, como
                                            a los inversionistas y los medios.</p>

                                        <p style="text-align: justify;">En los últimos años ha trabajado como consultora
                                            para grandes organizaciones como Oxfam Gran Bretaña, el Royal Bank of
                                            Scotland, People in Aid, Serco Middle East Dubai Metro, entre otros,
                                            especializándose en entrenamiento transcultural, estrategia de RH y gestión
                                            del cambio.</p>

                                        <p style="text-align: justify;">Su experiencia multinacional la ha llevado a
                                            trabajar con diversas culturas y en diversos lugares tales como Finlandia,
                                            Tailandia, Sudáfrica, Zambia, Perú, Mexico, Indonesia, Kenia, Ethiopia,
                                            Emiratos Árabes, entre otros, además de su mayor experiencia en el Reino
                                            Unido. Asimismo, ha trabajado en gran variedad de situaciones tales como
                                            fusiones, adquisiciones, crecimiento acelerado, apertura de mercados
                                            internacionales, privatizaciones y respuestas de emergencia tal como la del
                                            Sunami en Indonesia.</p>

                                        <p style="text-align: justify;">Es Fellow del Chartered Institute of Personnel
                                            and Development (CIPD) y Calificada en los test psicométricos (OPQ) de
                                            Saville &amp; Holdsworth Ltd.</p></div>
                                </div>


                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class="wp-image-3926 alignleft" alt="maria_lita"
                                                 src="{{ asset('assets/img/consultores/maria_lita.jpg') }}" height="117"
                                                 width="90">María Elizabeth Lita Vargas Valente</h4>

                                        <p style="text-align: justify;">Especialista en educación de adultos con amplia
                                            experiencia en consultoría e investigación a nivel nacional e internacional
                                            en temas como: género, diversidad, inclusión, interculturalidad, superación
                                            de la discriminación, calidad en el servicio, salud, entre otros. Co autora
                                            y autora de diversos libros y manuales de capacitación, los cuales han
                                            ganado: el Premio Especial de Soliloquio Hiperbreve, el Concurso
                                            Internacional de Micro ficción “Garzón Céspedes” 2008 y Premios de Narración
                                            Breve Julio Cortázar 1995-2005.</p>

                                        <p style="text-align: justify;">Ha desarrollado talleres participativos con
                                            audiencias de todo tipo: desde comunidades nativas e indígenas hasta
                                            directivos, gerentes y empleados, tanto del sector privado como público y de
                                            zonas urbanas y rurales. También ha realizado consultorías para diversas
                                            instituciones nacionales e internacionales: UNFPA Perú y Guatemala;
                                            Cooperación alemana (GTZ); PLAFAM Venezuela; CMP Flora Tristán; Manuela
                                            Ramos; Instituto Peruano de Paternidad Responsable (INPPARES), Pathfinder
                                            International, International Parenthood Family Planning (IPPF), Ministerio
                                            de Salud (MINSA), Ministerio de Educación, entre otras, y ha presentado
                                            ponencias en diversos países.</p>

                                        <p style="text-align: justify;">En la actualidad es presidenta de la Asociación
                                            para el Desarrollo y la Cultura, está desarrollando una consultoría sobre
                                            violencia contra las mujeres en cuatro comunidades matsiguengas del Bajo
                                            Urubamba y es Consultora Asociada en 3C Consultores en Cultura
                                            Corporativa.</p>

                                        <p style="text-align: justify;">En cuanto a su formación académica fue realizada
                                            en la Pontificia Universidad Católica del Perú, en la especialidad de
                                            Educación Artística y, como segunda especialidad, Educación de Adultos, en
                                            la Facultad de Educación. La combinación de ambas le ha permitido el
                                            desarrollo de enfoques muy creativos en la educación.</p></div>
                                </div>
                                <div class="tour_box">
                                    <div class="tour_box_inner">
                                        <h4><img class="wp-image-3926 alignleft" alt="carlos paz"
                                                 src="{{ asset('assets/img/consultores/carlos-paz.jpeg') }}" height="117"
                                                 width="90">Juan Carlos Paz</h4>

                                        <p style="text-align: justify;">Especialista en planeamiento estratégico, diseño organizacional y gestión de recursos humanos con más de 20 años de experiencia en entidades públicas y privadas.  Sus principales clientes han sido Compañía de Minas Buenaventura, Financiera Confianza, Agroempaques, Federación Peruana de Cajas Municipales, BDO Consulting, Instituto Peruano de Seguridad Social (hoy EsSalud), los Ministerios de Transportes y Comunicaciones y de Agricultura, Promperú, Poder Judicial, Iris Center y la Cooperación Alemana GIZ.</p>

                                        <p style="text-align: justify;">Se ha desempeñado como Gerente Central de Recursos Humanos en Instituto Peruano de Seguridad Social, Gerente Comercial en Telvent Energía Sucursal Perú, Jefe de Marketing en Novoimport, Jefe del Gabinete de Asesores del Ministerio de Trabajo y Promoción del Empleo, Gerente de Infraestructura Vial y Ferroviaria y Miembro del Directorio en OSITRAN, Gerente General del Congreso de la República, Gerente General del Instituto Metropolitano Protransporte y Director General de Transporte Acuático en el Ministerio de Transportes y Comunicaciones, entre otros cargos.</p>

                                        <p style="text-align: justify;">Actualmente es docente de la Maestría en Supply Chain Management de la Universidad del Pacífico, de los Programas Regionales de la Universidad ESAN y de la Maestría en Administración Portuaria y Naviera de la Escuela Nacional de Marina Mercante.</p>

                                        <p style="text-align: justify;">En cuanto a su formación es Oficial de Marina Mercante, Magíster en Administración de Negocios de ESAN y Magíster en Finanzas de la Universidad del Pacífico.</p></div>
                                </div>
                            </div>
                            <div class="cl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cl"></div>
    </div>
    <hr>
{% endblock %}
{% block prefooter %}

    <section id="prefooter">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8 ">
                <aside id="text-10" class="widget widget_text">
                    <h3 class="widgettitle">Contáctate con Nosotros.</h3>

                    <div class="textwidget text-center">
                        <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                            <iframe frameborder="0" height="390"
                                    src="http://www.3ccultura.com/formulario/index.php"></iframe>
                        </div>
                    </div>
                </aside>

                {% include '@App/AppTemplate/related_articles.html.twig' %}
            </div>
        </div>

    </section>
{% endblock prefooter %}
