{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset("bundles/app/css/magnific-popup.css") }}" rel="stylesheet"/>
    <link type="text/css" href="{{ asset("assets/css/jquery.realperson.css") }}" rel="stylesheet"/>
{% endblock %}

{% block container %}
    <section id="top">
        <a class="youtube" href="http://blog.3ccultura.com/wp-content/uploads/2015/11/Video-Institucional.mp4">

        <div class="bg-test">
            <!--<div class="mitad">
                <a class="youtube" href="http://blog.3ccultura.com/wp-content/uploads/2015/11/Video-Institucional.mp4">
                    <img src="{{ asset('assets/img/youTube-logo-play-icon.png') }}">
                </a>
            </div>-->
        </div>
        </a>
        <div class="subscribe-zone">
            {% include 'AppBundle:Site:subscribe_form.html.twig' %}
        </div>
    </section>
    <div class="cl"></div>
    <hr>
    <section id="middle_content client-section" role="main">

        <div class="content_wrap fullidth">
            <h2 class="index-subtitle">Nuestros Clientes</h2>

            <div class="row client-row text-center">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/yanacocha.jpg') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/komatsu-mitsui.gif') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/tottus.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/pbf_logo.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/sandvik.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/vina_oro.gif') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/san-martin.jpg') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/petro_logo.jpg') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/isarep-logo.gif') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/natclar.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/cesel.jpg') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/agroempaques.png') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/savechildren.jpg') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/frenesius.gif') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/avansys.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/hoja_redonda.jpg') }}"/>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/centria.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/Ibc.jpg') }}"/>
                </div>
             <!--   <div class="col-xs-6 col-sm-4 col-md-offset-2 col-md-2">
                    <img src="{{ asset('bundles/app/img/home/tacp.jpg') }}"/>
                </div>

                
                <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-offset-0 col-md-2">

                </div>-->
            </div>
        </div>
    </section>

    <div class="cl"></div>
    <hr>
    <section id="middle_content service-section" role="main">
        <div class="content_wrap fullwidth">
            <h2 class="index-subtitle">Nuestros Servicios</h2>

            <div class="cmsms_cc">
                <div class="one_third first_column banner consultoria-border text-center" data-folder="column"
                     data-type="">
                    <div>
                        <a class="" href="{{ path('cons_cultura_organizacional') }}"><img
                                    class="img-responsive center-block"
                                    src="{{ asset('bundles/app/img/home/consultoria.png') }}"></a>
                    </div>
                    <h4 class="bottom consultoria-botton">
                        Consultoría
                    </h4>
                </div>
                <div class="one_third banner capacitacion-border text-center" data-folder="column" data-type="">
                    <div>
                        <a class="" href="{{ path('cap_programa_taller') }}"><img class="img-responsive center-block"
                                                                                  src="{{ asset('bundles/app/img/home/capacitacion.png') }}"></a>
                    </div>
                    <h4 class="bottom capacitacion-botton">
                        Capacitación
                    </h4>
                </div>
                <div class="one_third banner conferencia-border text-center" data-folder="column" data-type="">
                    <div>
                        <a class="" href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}">
                            <img class="img-responsive center-block"
                                 src="{{ asset('assets/img/conferencia_virtual.jpg') }}"></a>
                    </div>
                    <h4 class="bottom conferencia-botton">
                        Conferencias
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="cl"></div>
    <hr>
    <section role="main" id="middle_content news-section">
        <div class="content_wrap fullwidth">

            <h2 class="index-subtitle">Nuestros Últimos Artículos</h2>
            <br>

            <div class="row posts-row">
                {% block kayue_wordpress_bundle_content %}
                {% for post in posts %}
                {% set attachment = wp_find_featured_image_by_post(post) %}

                    <div class="col-xs-12 col-sm-6 col-md-3 news-post">
                        <div class="imgholder">
                            {% if attachment is not null %}
                                <a href="http://blog.3ccultura.com/{{ post.slug }}" class=""><img
                                            src="{{ wp_url~'/wp-content/uploads/'~attachment.url }}"/></a>
                            {% else %}
                                {% for meta in post.metas %}
                                    {% if meta.key == 'pyre_video' %}
                                        {{ meta.value|raw }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <h4>{{ post.title }}</h4>
                        <p>
                            {% autoescape false %}
                            {% set content = post.content %}
                            {{ content | easyadmin_truncate(150, true) }}
                            {% endautoescape %}
                        </p>
                        <a href="http://blog.3ccultura.com/{{ post.slug }}" title=""
                           class="cmsms_more">Leer Más</a>
                    </div>
                {% endfor %}
                {% endblock %}
            </div>
            <div class="row col-xs-12">
                <br><a href="http://blog.3ccultura.com">...Todas las Publicaciones</a>
            </div>
        </div>
    </section>
    <div class="cl"></div>
    <hr>
    {% if (message == "1") %}
        <script>alert("Mensaje Enviado, gracias por tu consulta");</script>
    {% endif %}
    {% if (message == "2") %}
        <script>alert("El Código captcha ingresado no fue el correcto, intente de nuevo");</script>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.magnific-popup.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/jquery.flexslider-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.plugin.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.realperson.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/home-page.js') }}" type="text/javascript"></script>
{% endblock %}