{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block container %}
    <style>
        .requerido {
            color: red;
        }
    </style>


    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Libro de Reclamaciones</span>
    </div>
    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">

            {% if mensaje != "" %}
                <div class="alert alert-success" role="alert">{{ mensaje }}</div>
            {% endif %}
            <div class="">
                <br>
                <br>
                <form id="reclaForm" action="" method="POST" class="" role="form">
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Nombre y Apellido <span class="requerido">*</span></label>
                            <input type="text" name="reclaNombreApellido" id="reclaNombreApellido" class="form-control">
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Doc. Identidad <span class="requerido">*</span></label>
                            <select class="form-control" name="reclaDocIdentidad">
                                <option></option>
                                <option>DNI</option>
                                <option>RUC</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Nro de Doc. Identidad <span class="requerido">*</span></label>
                            <input type="text" class="form-control" name="reclaNroDocIdent">
                        </div>

                        <!-- col-md-pull-4 -->
                        <div class="form-group col-md-12 col-xs-12 ">
                            <label class="control-label">Dirección</label>
                            <textarea class="form-control" rows="3" name="reclaDireccion"></textarea>
                        </div>

                        <div class="clearfix"></div>
                        <div class="clearfix"></div>

                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Email <span class="requerido">*</span></label>
                            <input type="text" class="form-control" name="reclaEmail">
                        </div>
                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Teléfono</label>
                            <input type="text" class="form-control" name="reclaTelefono">
                        </div>
                        <div class="form-group col-md-4 col-xs-12">
                            <label class="control-label">Celular</label>
                            <input type="text" class="form-control" name="reclaCel">
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label">Descripción <span class="requerido">*</span></label>
                            <textarea class="form-control" rows="3" name="reclaDesc"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <!-- <div class="col-sm-10 col-sm-offset-2"> -->
                        <button type="submit" class="btn btn-primary btn-lg btn-rspnsive">Enviar Reclamación</button>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
            <div class="clearifix"></div>
            <br>
        </section>
        <div class="clearifix"></div>
        <div class="cl"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>
    <script>
        $("#reclaForm").validate({
            errorClass: 'errorSubmit',
            rules: {
                reclaNombreApellido: {
                    required: true
                },
                reclaDocIdentidad: {
                    required: true
                },
                reclaNroDocIdent: {
                    required: true,
                    digits: true
                },
                reclaEmail: {
                    required: true,
                    email: true
                },
                reclaDesc: {
                    required: true
                }

            },
            messages: {
                reclaNombreApellido: "Campo requerido",
                reclaDocIdentidad: "Campo requerido",
                reclaNroDocIdent: {
                    required: "Campo requerido",
                    digits: "Escriba un email válido"
                },
                reclaEmail: {
                    required: "Campo requerido",
                    email: "Escriba un email válido"
                },
                reclaDesc: "Campo requerido"
            }
        });
    </script>

{% endblock %}