<div class="one_first">
    <a href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}" style="display: block;">
        <object class="text-center" width="100%" height="250" data="{{ asset('assets/banner.swf') }}" style="pointer-events: none;"></object>
    </a>
</div>
<div class="one_first">
    <aside id="search-2" class="widget widget_search">
        <div class="search_line">
            <form method="get" action="#">
                <p>
                    <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                           type="text">
                    <input value="" type="submit">
                </p>
            </form>
        </div>
    </aside>
</div>
<div class="one_first">
    <aside id="text-13" class="widget widget_text formulario-int">

        <div class="textwidget">
            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  class="validate" target="_blank" novalidate>
                <input type="hidden" name="id" value="364fdbb796">

                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                <p>
                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                           placeholder="Ingresa tu Nombre" required><br>
                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                           placeholder="Ingresa tu E-mail" required><br>
                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                </p>

                <p>No Spam ¡Prometido!</p>
            </form>
        </div>
    </aside>
</div>
<div class="one_third">
    <aside id="text-10" class="widget widget_text">
        <h3 class="widgettitle">Contáctate con Nosotros.</h3>

        <div class="textwidget text-center">
            <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                <iframe frameborder="0" height="390" width="100%"
                        src="http://www.3ccultura.com/formulario/index.php"></iframe>
            </div>
            <hr>
            <img src="{{ asset("bundles/app/img/home/contacto.png") }}" />
        </div>
    </aside>
</div>
<div class="one_first">
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h3 class="widgettitle">Entradas recientes</h3>

        {% block kayue_wordpress_bundle_content %}
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ path("blog_get", {id:post.id}) }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </aside>
</div>