{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block container %}

<style>
    .togg+.togg{margin-top:0;border-top:1px solid #ddd}
    .entry-content p, li {
        line-height: 16px;
    }
    .cmsms_cc .media_box {
    padding-bottom: 10px;
    }
    .cmsms_cc footer {
        padding: 0 0 10px;
    }
    .curso-precio{
        padding: 10px 0;
        font-weight: normal;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }
    .curso-precio .precio-titulo{
        font-size: 18px;
    }
    .curso-precio .precio-valor{
        text-align: center;
        font-size: 44px;
    }
    .curso-precio .precio-valor span{
        line-height: 0.8;
    }
    .btn-pagar{
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

    }
    .button_medium {
        padding: 5px 50px 5px;
        font-size: 18px;
    }
</style>

<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Cursos</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Detalle de curso</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="">
                            <h2 class="heading_title_nomg">{{ curso.nombre }}</h2>
                        </div>
                    </div>

                    <div class="one_half first_column" data-folder="column" data-type="">
                        <article id="post-341" class="post-341 project type-project status-publish has-post-thumbnail hentry format-video isotope-item" data-category="branding hi-tech">
                            <div class="media_box"><figure>
                                    <!-- <a href="#http://halsey.cmsmasters.net/project/multiple-media/" class="preloader" title="Multiple Media" style="background-image: none;"> -->
                                        <span class="image_container_img">
                                            <span id="img1" class="p_img_container">
                                                <img src="{{ asset('img_cursos/'~ curso.img) }}" title="Multiple Media" alt="Multiple Media" class="fullwidth wp-post-image" style="opacity: 1;">
                                                <span class="image_rollover"></span>
                                            </span>
                                        </span>
                                    <!-- </a> -->
                                </figure>
                            </div>
                            <footer class="entry-meta">
                                <span class="cmsms_category">
                                    <a href="#http://halsey.cmsmasters.net/pj-sort-categs/branding/" rel="tag">Branding</a>
                                     |
                                     <a href="#http://halsey.cmsmasters.net/pj-sort-categs/hi-tech/" rel="tag">Hi-tech</a>
                                </span>
                            </footer>

                            <div class="entry-content">
                                <p style="text-align: justify;">&nbsp;</p>
                                <p style="text-align: justify;">
                                    <!-- <span class="dropcap">A</span>
                                    <strong>drop cap</strong>
                                    initially sits within the margins and runs several lines deep into the paragraph, indenting some normal-sized text in these lines. This keeps the left and top margins of the paragraph flush. Using Dropcaps shortcode you can easily emphasize you text content appearance and drive more attention to its separate parts. -->
                                    {{ curso.descripcion }}
                                </p>
                            </div>
                        </article>

                    </div>

                    <div class="one_half" data-folder="column" data-type="">
                        <div data-folder="text" data-type="">
                            <div class="curso-precio">
                                <div class="precio-titulo">Comprar el curso por: </div>
                                <div class="precio-valor">
                                    <span>S/. {{ curso.precio }}</span>
                                </div>
                            </div>
                            <div class="btn-pagar">
                                    <a class="button_medium btn btn-success" href="{{ path('curso_registro', {'curso': curso.id}) }}">Comprar Curso</a>
                            </div>
                        </div>

                        <div data-folder="tab" data-type="toggle">
                            <div class="toggles">
                                <div class="togg">
                                    <a href="#" class="tog current" style="padding: 5px 0 5px 40px;">
                                        <span class="cmsms_plus" style="left: 0px;"><span class="vert_line"></span><span class="horiz_line"></span></span>HORARIOS
                                    </a>
                                    <div class="tab_content" style="display:block;">
                                        <div data-folder="text" data-type="">
                                            <!-- <ul>
                                                <li>WYSIWYG Editor</li>
                                                <li>Drag'n'Drop Content Composer</li>
                                                <li>Form Builder</li>
                                                <li>2 Sliders included</li>
                                                <li>King Size Shortcodes pack</li>
                                                <li>Rich Widget collection</li>
                                                <li>Professional SEO<br><br></li>
                                            </ul> -->
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Día</th>
                                                        <th>Hora Inicio</th>
                                                        <th>Hora Final</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for horario in horario %}
                                                <tr>
                                                    <td>{{ horario.dia}}</td>
                                                    <td>{{ horario.horaInicio|date('H:i') }}</td>
                                                    <td>{{ horario.horaFin|date('H:i') }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="togg">
                                    {% if curso.conferencista.id %}
                                    <a href="#" class="tog" style="padding: 5px 0 5px 40px;">
                                        <span class="cmsms_plus" style="left: 0px;"><span class="vert_line"></span><span class="horiz_line"></span></span>CONFERENCISTA
                                    </a>
                                    <div class="tab_content">
                                        <h3>{{ curso.conferencista }}</h3>
                                        <p class="text-justify">{{ curso.conferencista.descripcion }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="one_first first_column" data-folder="divider" data-type="divider"><div class="divider"></div></div>

                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="">
                            <h4>Cursos relacionados</h4>
                        </div>
                    </div>


                </div>
            </div>

            <div class="clearfix"></div>

        </section>
        <div class="cl"></div>
    </div>
</section>
{% endblock %}

