{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block container %}

<style>
    .btn-pagar{
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

    }
    .button_medium {
        padding: 8px 60px 9px;
    }

    a img {
        max-width: 100%;
        display: inline;
        border: 0;
    }
</style>

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<section id="middle" class="portfolio_page">

    <div class="headline">
        <h2>Cursos</h2>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Cursos</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Detalles del servicio</span>
    </div>

    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="">
                        {% if app.user %}

                         {% endif %}

                        </div>
                    </div>

                    <div class="one_first first_column" data-folder="column" data-type="">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-success">
                                    <div class="panel-body" style="padding:10px 30px;">
                                        <h4>Detalle de compra:</h4>
                                        <table class="table table-bordered table-responsive table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; width: 50px;">Código</th>
                                                    <th>Nombre del curso</th>
                                                    <th style="text-align: center; width: 50px;">Cantidad</th>
                                                    <th style="text-align: center; width: 150px;">Precio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center; width: 50px;">{{ codigo_curso }}</td>
                                                    <td>{{ nombre_curso }}</td>
                                                    <td style="text-align: center; width: 50px;">{{ cantidad }}</td>
                                                    <td style="text-align: center; width: 150px;">{{ simbolo_moneda }} {{ importe_curso }}</td>
                                                </tr>
                                                <tr class="active text-right">
                                                    <td colspan="3" style="text-align: right;">SUBTOTAL:</td>
                                                    <td style="text-align: center; width: 150px;">{{ simbolo_moneda }} {{ importe_curso }}</td>
                                                </tr>
                                                <tr class="success">
                                                    <td colspan="3" style="text-align: right;">
                                                        <h4 style="margin: 0px;">
                                                            <b>TOTAL:</b>
                                                        </h4>
                                                    </td>
                                                    <td style="text-align: center; width: 150px;">
                                                        <h4 style="margin: 0px;">
                                                            <b>{{ simbolo_moneda }} {{ importe_curso }}</b>
                                                        </h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    {{ form_start(form) }}
                                        <div class="form-group">
                                            <div class="pull-right">
                                            {{ form_widget(form.save, { 'attr': {'class': 'btn-success', 'style': 'max-width: 120px;min-width: 120px;font-size: 18px;'} }) }}
                                            </div>
                                        </div>
                                    {{ form_end(form) }}

                                        <div class="clearfix"></div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br><br>
                                <div class="pull-right" style="padding:0px 30px;">
                                    Medios de pago:
                                    <a href="https://www.seguripago.pe/" target="_black">
                                        <img src="{{ asset('bundles/app/img/sp_logo.png') }}" style="max-width: 90px;">
                                    </a>
                                    <a href="http://www.visanet.com.pe/" target="_black">
                                        <img src="{{ asset('bundles/app/img/visa.png') }}">
                                    </a>
                                    <a href="http://www.mastercard.com/pe/consumidores/index.html" target="_black">
                                        <img src="{{ asset('bundles/app/img/mastercard_90x40.png') }}">
                                    </a>
                                    <img src="{{ asset('bundles/app/img/bbva_90X40.png') }}">
                                    <img src="{{ asset('bundles/app/img/bcp_90X40.png') }}">
                                    <img src="{{ asset('bundles/app/img/scotiabank_90X40.png') }}">
                                </div>
                                <div class="clearfix"></div>
                                <br><br>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}

