{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block container %}
    <div class="headline">
        <h1>Conferencias Virtuales</h1>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="#">Conferencias Virtuales</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Calendario de Conferencias</span>
    </div>
        {#<div class="pj_sort_block">
            <div class="pj_options_loader" style="display: none;"></div>
            <div class="pj_options_block" style="display: block;">
                <div class="pj_sort">
                    <a name="pj_name" title="Name" href="##" class="button_small">
                        <span>Name</span>
                    </a>
                    <a name="pj_date" title="Date" href="##" class="button_small current reversed">
                        <span>Date</span>
                    </a>
                </div>
                <div class="pj_filter">
                    <div class="pj_filter_container">
                        <a class="pj_cat_filter button_small" data-filter="article.project" title="All Categories" href="##">
                            <span>All Categories</span>
                        </a>
                        <ul class="pj_filter_list">
                            <li class="current">
                                <a data-filter="article.project" title="All Categories" href="##" class="current">All Categories</a>
                            </li>
                            <li>
                                <a href="##" data-filter="article.project[data-category~='branding']" title="Branding">Branding</a>
                            </li>
                            <li>
                                <a href="##" data-filter="article.project[data-category~='hi-tech']" title="Hi-tech">Hi-tech</a>
                            </li>
                            <li>
                                <a href="##" data-filter="article.project[data-category~='typography']" title="Typography">Typography</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cl"></div>
            </div>
        </div>#}
        <div class="content_wrap fullwidth">

            
            <section id="middle_content" role="main">
                <div class="entry-summary">
                    {% for cursos in curso %}
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="text-center"><strong>{{ cursos.nombre }}</strong></h4>
                                    <a href="{{ path('curso_detalle', {'id': cursos.id }) }}">
                                        <img src="{{ asset('img_cursos/'~ cursos.img )}}" title="" alt="" class="fullwidth wp-post-image" style="opacity: 1;">
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <div class="conf-desc" style="height: 50px;">
                                        {{ cursos.descripcion }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-center">
                                    <br>
                                        <a href="{{ path('curso_detalle', {'id': cursos.id }) }}" class="btn btn-primary">Ver Información</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Conferencias No Disponibles</strong> Por el momento no hay conferencias.
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                    <!-- <ul class="page-numbers">
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#?paged=2">2</a></li>
                        <li><a class="next page-numbers" href="#?paged=2">&gt;</a></li>
                    </ul> -->
                    <div class="clearfix"></div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}