<div class="row">
    <div class="col-sm-5 text-center">
        <div class="formulario-p">
            <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  action="http://www.3ccultura.com/formulario/index.php" method="post">
                <input type="hidden" name="id" value="364fdbb796">

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control"
                                   placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control email"
                                   placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="1" name="message" id="message"
                                      placeholder="Solicita Información"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="padding-left: 3em;">
                        <div class="captcha">
                            <input type="text" id="defaultReal" name="defaultReal" class="form-group" placeholder="">
                            <input type="hidden" name="fromBanner" value="1"/>&nbsp;&nbsp;
                            <button class="btn btn-info" type="submit" name="submit">Enviar</button>
                        </div>
                    </div>
                </div>


            </form>
            <!--<div class="row">
                <div class="col-xs-4">
                    <a href="" data-toggle="tooltip" data-placement="right" title="(+51) 4219030"><i
                                class="fa fa-phone fa-2x"></i></a>
                </div>
                <div class="col-xs-4">
                    <a href="mailto:3c@3ccultura.com"><i class="fa fa-envelope fa-2x"></i></a>
                </div>

                <div class="col-xs-4">
                    <a href="" data-toggle="tooltip" data-placement="right" title="948 948 538"><i
                                class="fa fa-whatsapp fa-2x"></i></a>
                </div>
            </div>-->
        </div>

    </div>
    <div class="col-sm-7 cd-testimonials-wrapper cd-container">


        <ul class="cd-testimonials">
            {% for testimonial in testimonios %}
                {% set footer = testimonial.footer|split('<br>') %}
                <li>
                    <div class="col-lg-12">
                        {% autoescape %}
                        <p class="quote"> &ldquo;{{ testimonial.texto|raw }}&rdquo;</p>
                        <p class="name-testimonial">{{ (footer[0]~"<br>"~footer[1])|raw }}</p>
                        <p class="company-testimonial">{{ footer[2]|raw }}</p>
                        {% endautoescape %}
                    </div>

                </li>
            {% endfor %}
        </ul>
        <!-- cd-testimonials -->


    </div>
</div>
