{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = '' %}
{% block container %}
    <div class="headline">
        <h1>Términos y Condiciones</h1>
    </div>
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index' )}}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Términos y Condiciones</span>
    </div>
    <div class="content_wrap r_sidebar">
        <section id="content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="one_first first_column" data-folder="column" data-type="">
                        <div data-folder="text" data-type="" class="content-justify">
                            <h3>DISPONIBILIDAD DEL SERVICIO</h3>

                            <p>Si por algún motivo de fuerza mayor (Ejemplo: Falta de Fluido Eléctrico, Desastre Natural, Problemas con el Proveedor de Internet, etc.) la conferencia 
                            no se realizase Ud. recibirá un nuevo acceso para programar otra fecha.</p>

                            <h3>DISPONIBILIDAD DEL USUARIO</h3>

                            <p>Si Ud. no pudiese atender la conferencia virtual por algún motivo de fuerza mayor, tiene derecho a solicitar por única vez un nuevo acceso para reprogramar su asistencia.</p>
                            
                            <h3>PAGOS</h3>
                            <p>- Usted puede optar por cualquiera de los Medios de Pago disponibles en la Plataforma de SeguriPago, los cuales pueden ser SeguriCrédito (Tarjetas de Crédito VISA y MASTERCARD), Seguricash ( que incluye pagos en Ventanilla, Agentes o Banca Electrónica) y SeguriDébito ( para tarjetas Débito VISA de los bancos BCP, BBVA, Interbank y de La Nación).</p>
                            <p>- Usted recibirá un comprobante electrónico por su compra (Factura o Boleta) en la casilla de correo desde la cual se registró.</p>
                            <p>- El comprobante de pago lo recibirá dentro de los 15 días calendario desde el momento que hizo la compra.</p>

                            <h3>DEVOLUCIONES</h3>
                            <p>- Si Ud. se siente insatisfecho con la conferencia (por cualquier motivo justo) puede solicitar la devolución de su dinero enviando un correo en el cual indica el motivo de su descontento a la casilla <a href="mailto:reclamos@3ccultura.com" target="blank">reclamos@3ccultura.com</a> . Así también debe indicar un número de cuenta bancaria al que desea se le deposite el monto correspondiente a la devolución.</p>
                            <p>- Ud. tiene un plazo de 48 horas después de tomada la conferencia para solicitar la devolución de su dinero.</p>
                            <p>- La devolución  se realizará en un plazo no mayor a 7 días calendario.</p>

                            <h3>MODIFICACIONES</h3>

                            <p>3C Cultura se reserva el derecho de modificar o reemplazar estos Términos y Condiciones de Uso en cualquier momento.</p>

                            <h3>PROTECCION DE DATOS</h3>

                            <p>La EMPRESA garantiza la confidencialidad de los datos suministrados por los USUARIOS de acuerdo con la Ley N° 29733.</p>

                            <h3>PROPIEDAD INTELECTUAL</h3>

                            <p>Las marcas, nombres comerciales, lemas comerciales, gráficos, diseños, dibujos, fotografías, música, videos, textos, y en general todos los elementos de propiedad intelectual contenidos en el WEBSITE, incluyendo el software utilizado en el mismo, son de titularidad exclusiva de la EMPRESA u ostenta los derechos de explotación de estos a través de acuerdos con terceros y, por lo tanto, se encuentran protegidos de conformidad con las disposiciones vigentes en materia de propiedad industrial y derechos de autor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
{% endblock %}