{% extends '::base.html.twig' %}


{% block body %}

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
          <fieldset>

            <div class="form-group text-center">
                <h1>Confirmación de cuenta</h1>
                <p>Por favor, elija un nombre de usuario y una contraseña.</p>
            </div>

            <div class="row">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                  <div id="mostrar-errores" class="alert alert-success col-xs-10 col-xs-offset-1">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage|raw }}
                  </div>
                {% endfor %}
            </div>
            <div class="row">
                {% if not form.vars.valid %}
                  <div class="alert alert-danger  col-xs-10 col-xs-offset-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  aria-hidden="true"> &times;</button>
                    Por favor corrige los siguientes errores:
                    {{ all_form_errors(form_full) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group ">
                <label class="col-xs-5"><span class="requerido" title="El campo es obligatorio.">* </span>
                        Email
                </label>
                <div class="col-xs-7">
                    <input type="text" class=" form-control" disabled value="{{ user.email }}">
                </div>
            </div>

            {% set isError = form.username.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(form.username, '', {'label_attr': {'class': 'col-xs-5'}}) }}
                <div class="col-xs-7">
                    {{ form_widget(form.username) }}
                    <div class="icon-result">
                        {{ form_errors(form.username) }}
                    </div>
                </div>
            </div>

            {% set isError = form.plainPassword.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(form.plainPassword, '', {'label_attr': {'class': 'col-xs-5'}}) }}
                <div class="col-xs-7">
                    {{ form_widget(form.plainPassword) }}
                    <div class="icon-result">
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
            </div>

            <div class="form-group pull-right">
                <div class="col-xs-12">
                {{ form_widget(form.save, { 'attr': {'class': 'btn-success  btn-md'} }) }}
                </div>
            </div>

          </fieldset>

        {{ form_end(form) }}

      </div>
    </div>

{% endblock body %}
