{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block container %}
<style type="text/css">
    .alert {
        padding: 8px 10px;
    }
    .login-register-header{
        font-size: 20px;
        text-align: center;
    }
</style>
<section id="middle" class="portfolio_page">

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Login</span>
    </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <div class="content_wrap fullwidth">
        <section id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">

                    <div class="one_first first_column" data-folder="column" data-type="">

                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="row">
                                {% if error %}
                                        <div class="alert alert-danger col-xs-8 col-xs-offset-2">
                                            {{ error|trans }}
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <div class="login-form-content">

                                    <div class="form-group text-left">
                                        <div class="clearfix">
                                            <h4 class="register-title text-center">Ingresa con tu
                                                cuenta</h4>
                                        </div>
                                    </div>
                                    <form class="form form-login text-center" action="{{ path("fos_user_security_check") }}" method="post" accept-charset="UTF-8" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-login"  id="username" name="_username" placeholder="E-mail" />
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-login" id="password" name="_password" required="required" placeholder="Contraseña" />
                                        </div>
                                        <button type="submit" class="btn btn-success btn-inscrib">Iniciar sesión</button>

                                        <div class="checkbox text-left">
                                            <label>
                                              <input type="checkbox" id="remember_me" name="_remember_me" > Recordarme
                                            </label>
                                        </div>
                                        <div class="form-group text-center">
                                            <a href="{{ path('fos_user_resetting_request') }}" class=""><b>¿Has olvidado tu contraseña?</b></a>
                                        </div>

                                        <div class="form-group text-center">
                                            Si no tienes cuenta inscríbete <a href="{{ path('curso_registro') }}" class=""><b>AQUÍ</b></a>
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                        <input type="hidden" name="_target_path" value="{{ path('conferencia_virtual') }}" />

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <br>
            <br>
            <br>
        </section>
        <div class="cl"></div>
    </div>
</section>

{% endblock container %}

