{% extends "SBTUsuarioBundle::layout.html.twig" %}

{% block sbt_user_content %}
{#     {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %} #}

    <div class="container-login">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="login-form-content">

                    <form class="form form-login text-center" action="" method="post" accept-charset="UTF-8" role="form">

                        <div class="form-group text-left">
                            <h1>¿Has olvidado tu contraseña?</h1>
                            <p>Introduce tu dirección de correo para restablecer tu contraseña. Puede que tengas que comprobar tu carpeta de spam.
                            </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-login"  id="username" name="_username" placeholder="Correo electrónico" />
                        </div>

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Enviar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock sbt_user_content %}

