{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}

  {% block breadcrum %}
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Crear Conferencia

        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
          <li class="active">Conferencias</li>
        </ol>
      </section>

  {% endblock breadcrum %}


  {% block content %}

  {% form_theme form 'AppBundle:Form:fields.html.twig' %}
  {% form_theme form.estado 'AppBundle:Form:fields_checkbox.html.twig' %}

    <!-- Main content -->
    <section class="content">

   {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="box box-primary">
      <div class="box-header">
        <span class="">Los campos marcados con (<span class="requerido">*</span>) son obligatorios.</span>
      </div>
      <div class="box-body">

        <div class="row">
          <div class="col-md-12">

            <div class="form-group field-hide">
                {{ form_label(form.fid_img) }}
                <div class="form-widget">
                    {{ form_widget(form.fid_img, { 'id': 'fid-img' }) }}
                </div>
            </div>

            {{ form_widget(form.estado) }}
            
            {% set isError = form.nombre.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(form.nombre, '', {'label_attr': {'class': 'control-label required'}}) }}
                <div class="form-widget">
                    {{ form_widget(form.nombre) }}
                    <div class="icon-result">
                        {{ form_errors(form.nombre) }}
                    </div>
                </div>
            </div>
            <div id="plupload" data-url="{{ path('admin_upload_file') }}">

                {% if logo_url is not empty %}
                    <span id="background_image_preview" class="image-preview" style = "background-image: url( {{ logo_url }} )"></span>
                {% else %}
                    <span id="background_image_preview" class="image-preview" ></span>
                {% endif %}

                <div class="uploader-tools">
                    <a class="btn btn-default btn-xs" id="browser" href="javascript:;">Subir Foto</a>
                    <p class="display-file-requirement">Tamaño máximo: 500Kb</p>
                    <p class="display-file-requirement">Formatos: JPG, PNG</p>
                    <p class="display-file-requirement">Medidas sugeridas: 90x90 px</p>
                    <p id="display-file-progress"></p>
                    <p id="display-file-error"></p>
                    <p class="display-file-name hidden"></p>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            {% set isError = form.descripcion.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(form.descripcion, '', {'label_attr': {'class': 'control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(form.descripcion, {'id':'textarea-wysihtml5', 'style':'height: 300px'}) }}
                    <div class="icon-result">
                        {{ form_errors(form.descripcion) }}
                    </div>
                </div>
            </div>
         </div>
        </div>

      </div><!-- /.box-body -->

      <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
        {{ form_widget(form.save, { 'attr': {'class': 'btn-primary'} }) }}
      </div>
      <a href="{{ path('conferencia') }}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
      </div>

 
  {{ form_end(form) }}
  
    </section><!-- /.content -->


  {% endblock content %}

{% endblock content_page %}