

<div class="modal-content-form">
    
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="modalContentLabel">Detalle de Orden</h4>
  </div>
  
  <div class="modal-body">

        <!-- Main content -->
        <section class="">
          <div class="row invoice-info">
            <div class="col-sm-8 invoice-col">
              <address>
                <strong>{{ usuarioPerfil.nombre }} {{ usuarioPerfil.apellidopaterno }} {{ usuarioPerfil.apellidopaterno }}</strong><br>
                Tipo de Usuario: {{ usuarioPerfil.tipousuario }}<br>
                DNI/RUC: {{ usuarioPerfil.dniruc }}<br>
                Teléfono: {{ usuarioPerfil.telefonomovil }}<br>
                Email: {{ usuario.email }}<br>
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <address>

                <strong>Orden: #{{ orden.id }}</strong><br>
                Estado de Pago: <small class="label bg-{{ orden.estadopago == 'Pagado' ? 'green' : 'red' }}">{{ orden.estadopago }}</small><br>
                Fecha Vcto: {{ orden.fechavcto|date("m/d/Y") }}<br>
              </address>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Qty</th>
                    <th>Conferencia</th>
                    <th>Horario</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                
                {% set total = 0 %}

                {% for detalle in ordenDetalle %}
                  <tr>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.conferencia.nombre }}</td>
                    <td>{{ detalle.horario.fecharegistro|date("m/d/Y h:m") }}</td>
                    <td>{{ detalle.precio }}</td>
                    {% set total = detalle.precio + total %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
              <p class="lead">Método de Pago:</p>
              <img src="{{ asset('bundles/app/img/sp_logo.png') }}" style="max-width: 120px;">
              </p>
            </div><!-- /.col -->
            <div class="col-xs-6">
              <p class="lead">Monto a Pagar</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th style="width:50%">Subtotal:</th>
                    <td>S/. {{ total }}</td>
                  </tr>
                  <tr>
                    <th>IGV (18.0%)</th>
                    <td>S/. 00.00</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>S/. {{ total }}</td>
                  </tr>
                </table>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

               
  </div>

</div>



