.puzzleGridContainer {
	position:relative;
	display:block;
	}

.puzzleGridContainer .panel {
	position:absolute;
	display:block;
	box-sizing:border-box;
	}


.section {
    /*padding:80px 0px;*/
    /*text-align:center;*/
    margin:0px auto;
    max-width:1200px;
   /* padding-left: 2.1em;*/
}

.postList .panel {
    background:#fff;
    border-radius:2px;
    padding:10px;
    -webkit-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    max-width: 350px !important;
}

.postList .panel .imgholder {
    margin:-10px -10px 10px -10px;

}

.postList .panel .imgholder img {
    width:100%;
    height:auto;
}

.post-list{
    padding: 14px 30px 13px;
}