{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admin/css/select2/select2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/admin/js/pickadate/lib/themes/default.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/admin/js/pickadate/lib/themes/default.date.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_page %}

    {% block breadcrum %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ordenes
                <small>Lista de ordenes</small>
            </h1>
            <form class="form-inline" action="{{ path('admin_exportar_excel_orden_detalle') }}" method="post">
                <div class="form-group">
                    Filtrar Reporte por:
                    <input name="registrationDate" id="registrationDate" class="form-control"
                           placeholder="Fecha de Registro"/>

                    <div id="container"></div>
                </div>

                <div class="form-group payment-status">
                    <label class="sr-only" for="paymentState">Password</label>
                    <select class="form-control" id="paymentState" name="paymentState">
                        <option value=""></option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Pagado">Pagado</option>
                        <option value="Denegado">Denegado</option>
                    </select>
                </div>
                <small>
                    <!--<a class="btn btn-primary" style="margin-right: 5px;" href="{{ path('admin_exportar_excel_orden_detalle') }}"><i class="fa fa-download"></i> Generar Excel</a>-->
                    <button class="btn btn-primary" type="submit" style="margin-right: 5px;"><i
                                class="fa fa-download"></i> Generar Excel
                    </button>
                </small>
            </form>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
                <li class="active">Ordenes</li>
            </ol>
        </section>

    {% endblock breadcrum %}

    {% block content %}
        <!-- Main content -->

        <section class="content">

            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body">
                            <table id="table-conferencistas" class="table table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th class="numeracion">#</th>
                                    <th>Código Pago</th>
                                    <th>Método Pago</th>
                                    <th>Tipo Modena</th>
                                    <th>Importe</th>
                                    <th>Fecha Registro</th>
                                    <th>Fecha Vencimiento</th>
                                    <th>Fecha Pago</th>
                                    <th>Estado Pago</th>
                                    <th>certificado</th>
                                    <th>Detalle</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section><!-- /.content -->

        <!-- Modal -->
        <div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalContentLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    {% endblock content %}

{% endblock content_page %}

{% block before_js %}
    <script>

        (function ($, window, document, undefined) {

            $(function () {

                var table = $('#table-conferencistas').dataTable({
                    'ajax': "{{ path('orden_lista') }}",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
                    },
                    'columns': [
                        {'data': 'key'},
                        {'data': 'codigo_pago'},
                        {'data': 'metodopago'},
                        {'data': 'tipo_moneda'},
                        {'data': 'importe'},
                        {'data': 'fecharegistro'},
                        {'data': 'fechavcto'},
                        {'data': 'fechapago'},
                        {'data': 'estado_pago'},
                        {'data': 'certificado'},
                        {'data': 'acciones'}
                    ],
                    paging: true,
                    ordering: true,
                    searching: true,
                    info: false,
                    aoColumnDefs: [
                        {'bSortable': false, "aTargets": [0, 1, 5]}
                    ],
                    language: {
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "Buscar:",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "Siguiente",
                            sPrevious: "Anterior"
                        },
                        oAria: {
                            sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sSortDescending: ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });

                $('body').on('click', '.btn-ver, .btn-editar, .btn-eliminar', function (event) {

                    var a = $(this),
                            e = a.attr("data-url"),
                            d = a.attr("data-target"),
                            b = $(d),
                            c = b.find(".modal-content");

                    b.modal({
                        keyboard: !1,
                        show: !1
                    });

                    ('' == c.html()) && (c.addClass("wait"), c.load(e + ' .modal-content-form', function () {
                        c.removeClass("wait");
                        activarWidgets(b);

                    }));

                });

                $('.modal').on('submit', function (event) {

                    var valid = true;

                    $("input, select, textarea", "form").each(function () {
                        $this = $(this);
                        valid = validarFormulario($this) && valid;
                    });

                    if (valid) {

                        $.ajaxSetup({
                            'beforeSend': function (xhr) {
                                xhr.setRequestHeader('X-CSRF', "window.csrf");
                            }
                        });

                        var a = $(this);
                        var c = $(this).attr('data-content');
                        var d = $(this).find('.modal-content');
                        var $form = $(this).find("form");

                        var href = $form.attr('action');
                        var formdata = $form.serialize();
                        $.ajax({
                            type: "POST",
                            url: href,
                            data: formdata,
                            cache: false,
                            success: function (data) {
                                if (data.status == "eliminar") {

                                    a.modal('hide');
                                }
                                else if (data.status == "error") {
                                    d.html(data.mensaje);
                                }
                                else {
                                    // form_errors = $(data).find('.modal-content-form');
                                    d.html(data);
                                    activarWidgets(a);
                                }
                            },
                            error: function () {
                            },
                            complete: function () {
                            }

                        });

                        return false;

                    }

                    return valid;

                });

                function activarWidgets(b) {
                    b.removeClass("wait");

                    b.find('[data-dismiss="modal"]').on("click", function () {
                        b.modal("hide");
                        b.find(".modal-content").html("");
                    });

                    b.modal("show");

                    b.on("hidden.bs.modal", function () {
                        b.find(".modal-content").html("");
                        b.find('.mensaje').html("");
                        b.find('.modal-dialog').removeClass('modal-sm');
                        $('.bootstrap-datetimepicker-widget').removeClass('inmodal-widget');

                        table.api().ajax.reload(null, false);

                    });
                    b.find('.btn-cancelar').each(function () {
                        b.find('.modal-dialog').addClass('modal-sm');
                    });

                    b.find('.btn-cancelar').on("click", function () {
                        b.modal("hide");
                        b.find('.modal-content').html("");
                    });

                    a = b.find('.mensaje').html();
                    if (a != undefined) {
                        $.notify(a, {globalPosition: "top center", style: 'bootstrap', className: 'success'});
                    }

                    b.find('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue'
                    });
                }
            });
        })(jQuery, window, document);

    </script>
{% endblock before_js %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/js/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/pickadate/lib/picker.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/pickadate/lib/picker.date.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/pickadate/lib/legacy.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/pickadate/lib/translations/es_ES.js') }}"></script>

    <script>
        var mainObj = function () {
            MainClass.apply(this, arguments); // Call parent class constructor
        };

        mainObj.prototype = MainClass.prototype;
        mainObj.prototype.initSelect2("#horarioId", "Horario de Curso");
        mainObj.prototype.initSelect2("#paymentState", "Estado de Pago     ");
        mainObj.prototype.initPickadate("#registrationDate");

    </script>
{% endblock %}