{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Orden</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fecharegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechavcto</th>
                <td>{{ entity.fechavcto|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechapago</th>
                <td>{{ entity.fechapago|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Metodopago</th>
                <td>{{ entity.metodopago }}</td>
            </tr>
            <tr>
                <th>Codigo_pago</th>
                <td>{{ entity.codigopago }}</td>
            </tr>
            <tr>
                <th>Estado_pago</th>
                <td>{{ entity.estadopago }}</td>
            </tr>
            <tr>
                <th>Tipo_moneda</th>
                <td>{{ entity.tipomoneda }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ entity.importe }}</td>
            </tr>
            <tr>
                <th>Certificado</th>
                <td>{{ entity.certificado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('orden') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('orden_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
