{% trans_default_domain "EasyAdminBundle" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="generator" content="EasyAdmin" />

        <title>{% block page_title %}{{ block('content_title') }}{% endblock %}</title>

        {% block head_stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/admin_3c.css') }}">
        {% endblock %}

        {% for css_asset in config.assets.css %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}

        <link rel="shortcut icon" type="image/png" href="/favicon.png">

        {% block head_javascript %}{% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="wrapper" class="container">
        <div id="header" class="col-lg-2">
            <div id="header-contents" class="row">
                <div id="header-logo" class="col-xs-6 col-md-2 col-lg-12">
                    <a href="{{ path('admin') }}">{{ config.site_name|raw }}</a>
                </div>

                <div id="header-nav" class="col-xs-12 col-md-8 col-lg-12">
                    <div class="visible-xs visible-sm">
                        <a href="#header-menu" class="header-nav-open">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                    <ul id="header-menu">
                        {% for item in config.entities %}
                            <li class="{{ item.name|lower == app.request.get('entity')|lower ? 'active' : '' }}">
                                <a href="{{ path('admin', { entity: item.name, action: 'list' }) }}">
                                    {{ item.label }}
                                </a>
                            </li>
                        {% endfor %}
                            <li class="visible-xs visible-sm header-nav-close">
                                <a href="#header">{{ 'header.close' | trans }}</a>
                            </li>
                    </ul>
                </div>

                <div id="header-footer">
                    {% if app.user %}
                        <div id="header-security" class="col-xs-12 col-md-2 col-lg-12">
                            <p>
                                <small><i class="fa fa-lock"></i> <span>{{ 'header.logged_in_as' | trans }}</span></small>
                                {{ app.user.username|default('Unnamed User') }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="content" class="col-lg-10 col-lg-offset-2">
            {% block content %}
                <div class="row">
                    <div id="content-header" class="col-sm-12">
                        {% block content_header %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                                </div>
                            </div>
                        {% endblock %}
                    </div>

                    <div id="main" class="col-sm-9">
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

    {% block body_javascript %}
        <script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/easyadmin/javascript/admin.js') }}"></script>
    {% endblock %}
    {% for js_asset in config.assets.js %}
        <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}
</body>
</html>
