{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% block container %}

    <style>
        label {
            font-weight: normal;
        }

        h4.title-datos {
            font-size: 18px;
        }

        .requerido {
            color: red;
        }

        .icon-result {
            color: #a94442;
        }
    </style>

    {% form_theme form 'AppBundle:Form:fields.html.twig' %}

    <section id="middle" class="portfolio_page">
        <div class="cmsms_breadcrumbs">
            <a href="{{ path('index') }}" class="cms_home">Inicio</a>
            <span class="breadcrumbs_sep"> / </span>
            <a href="{{ path('index') }}" class="cms_home">Cursos</a>
            <span class="breadcrumbs_sep"> / </span>
            <span>Registro</span>
        </div>

        <div class="content_wrap fullwidth">
            <section id="middle_content" role="main">
                <div class="entry">
                    <div class="cmsms_cc">
                        <div class="col-lg-12">
                            <div class="panel ">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 reg-zone">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                                {% if(valid) %}
                                                    <li role="presentation" class="active"><a href="#profile"
                                                                                              aria-controls="profile"
                                                                                              role="tab"
                                                                                              data-toggle="tab">Ingresa</a>
                                                    </li>
                                                    <li role="presentation"><a href="#home"
                                                                               aria-controls="home"
                                                                               role="tab"
                                                                               data-toggle="tab">Regístrate</a>
                                                    </li>
                                                {% else %}
                                                    <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                               role="tab" data-toggle="tab">Ingresa</a>
                                                    </li>
                                                    <li role="presentation" class="active"><a href="#home"
                                                                                              aria-controls="home"
                                                                                              role="tab"
                                                                                              data-toggle="tab">Regístrate</a>
                                                    </li>
                                                {% endif %}

                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                {% if(valid) %}
                                                    <div role="tabpanel" class="tab-pane active" id="profile">
                                                        <div class="" id="loginZone">
                                                            <form method="post"
                                                                  action="{{ path('fos_user_security_check') }}">

                                                                <h4 class="register-title text-center">Ingresa con tu
                                                                    cuenta</h4>

                                                                <div class="form-group ">
                                                                    <div class="form-widget">
                                                                        <input type="email" id="username"
                                                                               name="_username"
                                                                               placeholder="E-mail"
                                                                               class=" form-control"
                                                                               required="required">

                                                                        <div class="icon-result">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="form-widget">
                                                                        <input type="password" id="password"
                                                                               name="_password" placeholder="Contraseña"
                                                                               class=" form-control"
                                                                               required="required">

                                                                        <div class="icon-result">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox text-left">
                                                                    <label>
                                                                        <input type="checkbox" id="remember_me"
                                                                               name="_remember_me">
                                                                        Recordarme
                                                                    </label>
                                                                </div>


                                                                <div class="form-group text-center">
                                                                    <button type="submit" id="usuario_creado_ingresar"
                                                                            name="usuario_creado[ingresar]"
                                                                            class="btn btn-success btn-inscrib">
                                                                        <b>Ingresar</b>
                                                                    </button>

                                                                    <div class="form-group text-center">
                                                                        <br>
                                                                        <a href="{{ path('fos_user_resetting_request') }}"
                                                                           class=""><b>¿Has
                                                                                olvidado tu contraseña?</b></a>
                                                                    </div>
                                                                    <input type="hidden" name="_target_path"
                                                                           value="{{ url_registrar }}"/>
                                                                    <input type="hidden" name="_csrf_token"
                                                                           value="{{ csrf_token }}"/>
                                                                </div>

                                                                <div class="form-group">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="home">


                                                        {{ form_start(form) }}
                                                        <h4 class="register-title text-center">¡Regístrate y accede de
                                                            inmediato!</h4>

                                                        {% set isError = form.nombre.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.nombre, {'attr': {'placeholder': 'Nombres Completos' }}
                                                                ) }}
                                                                <div class="icon-result">
                                                                    {{ form_errors(form.nombre) }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% set isError = form.user.email.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.user.email, {'attr': {'placeholder': 'E-mail' }}
                                                                ) }}
                                                                <div class="icon-result">
                                                                    {{ form_errors(form.user.email) }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% set isError = form.user.plainPassword.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.user.plainPassword, {'attr': {'placeholder': 'Crear Password' }}
                                                                ) }}
                                                                <div class="icon-result">
                                                                    {{ form_errors(form.user.plainPassword) }}
                                                                </div>
                                                            </div>
                                                            <p class="help-block text-center">
                                                                <small><b>NOTA: La contraseña es personal y es para
                                                                        proteger tu información</b></small>
                                                            </p>
                                                        </div>

                                                        <div class="form-group text-center">
                                                            {{ form_widget(form.save, { 'attr': {'class': 'btn-success btn-inscrib'} }) }}

                                                            <p class="help-block">
                                                                <small>Al hacer click en "Regístrate", aceptas los
                                                                    <br><a
                                                                            href="{{ path('termino_condicion') }}"
                                                                            target="_blank"><b>Términos y
                                                                            condiciones.</b></a></small>
                                                            </p>
                                                        </div>

                                                        {{ form_end(form) }}
                                                    </div>
                                                {% else %}
                                                    <div role="tabpanel" class="tab-pane" id="profile">
                                                        <div class="" id="loginZone">
                                                            <form method="post"
                                                                  action="{{ path('fos_user_security_check') }}">

                                                                <h4 class="register-title text-center">Ingresa con tu
                                                                    cuenta</h4>

                                                                <div class="form-group ">
                                                                    <div class="form-widget">
                                                                        <input type="email" id="username"
                                                                               name="_username"
                                                                               placeholder="E-mail"
                                                                               class=" form-control"
                                                                               required="required">

                                                                        <div class="icon-result">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="form-widget">
                                                                        <input type="password" id="password"
                                                                               name="_password" placeholder="Contraseña"
                                                                               class=" form-control"
                                                                               required="required">

                                                                        <div class="icon-result">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox text-left">
                                                                    <label>
                                                                        <input type="checkbox" id="remember_me"
                                                                               name="_remember_me">
                                                                        Recordarme
                                                                    </label>
                                                                </div>


                                                                <div class="form-group text-center">
                                                                    <button type="submit" id="usuario_creado_ingresar"
                                                                            name="usuario_creado[ingresar]"
                                                                            class="btn btn-success btn-inscrib">
                                                                        <b>Ingresar</b>
                                                                    </button>

                                                                    <div class="form-group text-center">
                                                                        <br>
                                                                        <a href="{{ path('fos_user_resetting_request') }}"
                                                                           class=""><b>¿Has
                                                                                olvidado tu contraseña?</b></a>
                                                                    </div>
                                                                    <input type="hidden" name="_target_path"
                                                                           value="{{ url_registrar }}"/>
                                                                    <input type="hidden" name="_csrf_token"
                                                                           value="{{ csrf_token }}"/>
                                                                </div>

                                                                <div class="form-group">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane active" id="home">
                                                        {{ form_start(form) }}
                                                        <h4 class="register-title text-center">¡Regístrate y accede de
                                                            inmediato!</h4>

                                                        {% set isError = form.nombre.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.nombre, {'attr': {'placeholder': 'Nombres Completos' }}
                                                                ) }}
                                                                <div class="icon-result">
                                                                    {{ form_errors(form.nombre) }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% set isError = form.user.email.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.user.email, {'attr': {'placeholder': 'E-mail' }}
                                                                ) }}
                                                                <div class="icon-result text-center">
                                                                    {{ form_errors(form.user.email) }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% set isError = form.user.plainPassword.vars.errors|length %}
                                                        <div class="form-group {{ isError ? 'has-error': '' }}">
                                                            <div class="form-widget">
                                                                {{ form_widget(form.user.plainPassword, {'attr': {'placeholder': 'Crear Password' }}
                                                                ) }}
                                                                <div class="icon-result">
                                                                    {{ form_errors(form.user.plainPassword) }}
                                                                </div>
                                                            </div>
                                                            <p class="help-block text-center">
                                                                <small><b>NOTA: La contraseña es personal y es para
                                                                        proteger tu información</b></small>
                                                            </p>
                                                        </div>

                                                        <div class="form-group text-center">
                                                            {{ form_widget(form.save, { 'attr': {'class': 'btn-success btn-inscrib'} }) }}

                                                            <p class="help-block">
                                                                <small>Al hacer click en "Regístrate", aceptas los
                                                                    <br><a
                                                                            href="{{ path('termino_condicion') }}"
                                                                            target="_blank"><b>Términos y
                                                                            condiciones.</b></a></small>
                                                            </p>
                                                        </div>

                                                        {{ form_end(form) }}
                                                    </div>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<p class="corporativas" style="display:none;">Para compras corporativas enviar un
                                    correo a 3c@3cultura.com</p>-->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br>


            </section>
            {% block prefooter %}
            {% endblock %}

            <div class="cl"></div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#hereClick").on("click", function (e) {
            e.preventDefault();
            $("#loginZone").show();

            $('html, body').animate({
                scrollTop: $("#loginZone").offset().top
            }, 1000);
        });
    </script>
{% endblock %}

