.page-info-wc{
  font-size: 11px;
 } 
 .requerido{
  color: red;
 }
 .modal-body {
  padding: 10px;
}

#plupload #browser {
  border: 1px solid #bbbbbb;
  text-decoration: none;
}
#plupload .image-preview {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccd6dd;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
  box-shadow: 0 0 10px #dddddd;
  margin-bottom: 20px;
}
#plupload .uploader-tools {
  margin-left: 100px;
}
#plupload .uploader-tools p {
  color: #8899a6;
  font-size: 11px;
  margin: 0px;
}
#plupload .uploader-tools p#display-file-progress {
  color: #48cfad;
}
#plupload .uploader-tools p#display-file-error {
  color: #e9573f;
}
#plupload .uploader-cv {
  margin-left: 0px;
}
#plupload .uploader-cv p {
  color: #8899a6;
  font-size: 11px;
  margin: 0px;
}
#plupload .uploader-cv p#display-file-progress {
  color: #48cfad;
}
#plupload .uploader-cv p#display-file-error {
  color: #e9573f;
}

.checkbox label, .radio label {
  padding-left: 0px; 
}

.field-hide{
  display: none;
}

.acciones{
  width: 120px;
  text-align: center;
}
.numeracion{
  width: 30px;
  text-align: center;
}
.row-nombre{
  width: 200px;

}
span.logo-table {
  float: left;
  width: 25px;
  height: 25px;
  background-color: #ccd6dd;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-shadow: 1px 1px 3px #dddddd;
}