{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="modal-content-form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            {% if entity.estado %}
                {% set texto_accion = 'Bloquear usuario' %}
            {% else %}
                {% set texto_accion = 'Activar usuario' %}
            {% endif %}
                        
            <h4 class="modal-title ">{{ texto_accion }}</h4>
    </div>
    <div class="modal-body">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <p>A tener en cuenta:</p>

                        {% if entity.estado %}
                            <ul>
                                <li>Los <b>Usuario</b> no seran visibles en el sitio.</li>
                            </ul>
                        {% else %}
                            <ul>
                                <li>Los <b>Usuario</b> seran visibles en el sitio.</li>
                            </ul>
                        {% endif %}
                        
                        <p>¿Está seguro que desea realizar esta acción?</p>
                    </div>
                </div>
            </div>
                    
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        {% set classBtn = entity.estado ? 'btn-danger' : 'btn-success' %}
                        {{ form_widget(form.eliminar, { 'attr': {'class': classBtn ~'  btn-md'} }) }}
                        {{ form_widget(form.cancelar, { 'attr': {'class': 'btn-default btn-cancelar btn-md'} }) }}
                    </div>
                </div>
            </div>

        {{ form_end(form) }}

    </div>

</div>

