{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}

  {% block breadcrum %}
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Usuarios
          <small>Lista de usuarios</small>

          <small>
            <a href="{{ path('usuarioperfil_new') }}" class="btn btn-block btn-primary btn-xs"><i class="fa fa-plus-circle"></i> Agregar</a>
          </small>

        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
          <li class="active">Usuarios</li>
        </ol>
      </section>

  {% endblock breadcrum %}

  {% block content %}

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-body">
              <table id="table-conferencistas" class="table table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th class="numeracion">#</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Tipo usuario</th>
                    <th>DNI/Ruc</th>
                    <th>Estado</th>
                    <th class="acciones">Acciones</th>
                  </tr>
                </thead>
              </table>
            </div><!-- /.box-body -->
          </div>

        </div>
      </div>

    </section><!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalContentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

  {% endblock content %}

{% endblock content_page %}

{% block before_js %}
<script>

(function($, window, document, undefined){

    $(function(){

      var table = $('#table-conferencistas').dataTable({
          'ajax': "{{ path('usuarioperfil_lista') }}",
          'columns': [
              { 'data': 'key' },
              { 'data': 'imagen' },
              { 'data': 'nombre' },
              { 'data': 'email' },
              { 'data': 'telefonomovil' },
              { 'data': 'tipo_usuario' },
              { 'data': 'dni_ruc' },
              { 'data': 'estado' },
              { 'data': 'accion' }
          ],
          paging: true,
          ordering: true,
          searching: true,
          info:     false,
          aoColumnDefs: [
                { 'bSortable': false, "aTargets": [ 0, 1, 8 ]  }
             ],
          language: {
              sProcessing: "Procesando...",
              sLengthMenu: "Mostrar _MENU_ registros",
              sZeroRecords: "No se encontraron resultados",
              sEmptyTable: "Ningún dato disponible en esta tabla",
              sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
              sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
              sInfoPostFix: "",
              sSearch: "Buscar:",
              sUrl: "",
              sInfoThousands: ",",
              sLoadingRecords: "Cargando...",
              oPaginate: {
                  sFirst: "Primero",
                  sLast: "Último",
                  sNext: "Siguiente",
                  sPrevious: "Anterior"
              },
              oAria: {
                  sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                  sSortDescending: ": Activar para ordenar la columna de manera descendente"
              }
          }
      });

        $('body').on('click', '.btn-ver, .btn-editar, .btn-eliminar', function(event){

            var a = $(this),
            e = a.attr("data-url"),
            d = a.attr("data-target"),
            b = $(d),
            c = b.find(".modal-content");

            b.modal({
                keyboard: !1,
                show: !1
            });

            ('' == c.html()) && (c.addClass("wait"), c.load(e + ' .modal-content-form', function() {
                c.removeClass("wait");
                activarWidgets(b);

            }));

        });

        $('.modal').on('submit',function(event){

            var valid = true;

            $("input, select, textarea", "form").each(function(){
                $this = $(this);
                valid = validarFormulario($this) && valid;
            });

            if(valid){

                $.ajaxSetup({
                  'beforeSend': function(xhr) {
                    xhr.setRequestHeader('X-CSRF', "window.csrf");
                  }
                });

                var a = $(this);
                var c = $(this).attr('data-content');
                var d = $(this).find('.modal-content');
                var $form = $(this).find("form");

                var href = $form.attr('action');
                var formdata = $form.serialize();
                $.ajax({
                    type: "POST",
                    url: href,
                    data: formdata,
                    cache: false,
                    success: function(data){
                        if(data.status == "eliminar") {
                            
                            a.modal('hide');
                        }
                        else if(data.status == "error") {
                            d.html(data.mensaje);
                        }
                        else{
                            // form_errors = $(data).find('.modal-content-form');
                            d.html(data);
                            activarWidgets(a);
                        }
                    },
                    error: function(){},
                    complete: function(){},

                });

                return false;

            }

            return valid;

        });

        function activarWidgets(b){
            b.removeClass("wait");

            b.find('[data-dismiss="modal"]').on("click", function() {
                b.modal("hide");
                b.find(".modal-content").html("");
            });

            b.modal("show");

            b.on("hidden.bs.modal", function() {
                b.find(".modal-content").html("");
                b.find('.mensaje').html("");
                b.find('.modal-dialog').removeClass('modal-sm');
                $('.bootstrap-datetimepicker-widget').removeClass('inmodal-widget');

                table.api().ajax.reload( null, false );

            });
            b.find('.btn-cancelar').each(function() {
                b.find('.modal-dialog').addClass('modal-sm');
            });

            b.find('.btn-cancelar').on("click", function() {
                b.modal("hide");
                b.find('.modal-content').html("");
            });

            a = b.find('.mensaje').html();
            if(a != undefined){
              $.notify(a, { globalPosition:"top center", style:'bootstrap', className:'success' });
            }

            b.find('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
            });

        }


    });


})(jQuery, window, document);

</script>
{% endblock before_js %}
