{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UsuarioPerfil</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ entity.apellidopaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ entity.apellidomaterno }}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ entity.telefonomovil }}</td>
            </tr>
            <tr>
                <th>Dni_ruc</th>
                <td>{{ entity.dniruc }}</td>
            </tr>
            <tr>
                <th>Tipo_usuario</th>
                <td>{{ entity.tipousuario }}</td>
            </tr>
            <tr>
                <th>Fid_img</th>
                <td>{{ entity.fidimg }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuarioperfil') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuarioperfil_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
