{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block socialmeta %}
    <meta property="og:title" content="3C Cultura - Conferencias Virtuales"/>
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.3ccultura.com/assets/img/conferencia/fbook-conf.png"/>
    <meta property="og:url" content="{{ app.request.getBaseURL() }}{{ url('conferencia_virtual') }}"/>
    {% autoescape false %}
    <meta property="og:description" content="Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos"/>
    {% endautoescape %}
{% endblock %}

{% set section = 'curso' %}
{% block container %}
    <style>
        label {
            font-weight: normal;
        }

        h4.title-datos {
            font-size: 18px;
        }

        .requerido {
            color: red;
        }

        .icon-result {
            color: #a94442;
        }

        .shareaholic-share-buttons-container.wrapped{
            float: none;
        }
    </style>

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Conferencias Virtuales</span>
    </div>

    <section id="middle_content service-section" role="main">
        <div class="content_wrap fullwidth">

            {% if registroSuccess == "1" %}
                  <!--  <div class="alert alert-success" role="alert">Gracias por registrate, recibirás un correo electrónico donde obtendrás tu encuesta!</div>-->
            {% endif %}
            <h1><b>Conferencias Virtuales</b></h1>
            <div class="row">
                <div class="col-xs-12 col-md-6 text-justify">
                    <p style="padding: 0 0 0px">
                        Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad
                        personal y profesional.
                    </p>
                    <p style="padding: 0 0 0px">
                        Nuestras conferencias abordan necesidades actuales del mundo laboral
                        explicadas por expertos en cada tema que desarrollamos.
                    </p>
                    <p style="padding: 0 0 0px"> Al participar de nuestras conferencias tienes los siguientes beneficios:</p>

                    <ul class="conf-checks">
                        <li><b>Accede de inmediato, </b> o en el horario que más te acomode, desde cualquier lugar con internet.</li>
                        <li><b>Te brindamos información de reconocidas fuentes </b> como Harvard, MIT, Standford, Mindtools, McKinsey, Mercer, etc.</li>
                        <li><b>Recibe un Certificado </b>y materiales de participación.</li>
                        <li><b>Ahorra</b> en traslado, estacionamientos, y costos de una conferencia presencial.</li>
                        <li><b>Por solo $25</b> esta conferencia puede cambiar tu vida.</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2S8gJ9xr5oQ" style="max-height: 350px;"
                        allowfullscreen></iframe>
                    </div>
                    <!--Social Buttons-->
                    <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                         data-title='Conferencias Virtuales'
                         data-link='{{ app.request.getBaseURL() }}{{ url('conferencia_virtual') }}'
                         data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                    </div>
                    <!--Social Buttons-->
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-md-4 mission-col news-post">
                    <h3><b>Conferencias Virtuales</b></h3>

                    <article class="conf-article">
                        <h5>Gestión del Tiempo</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vcbw0G1IldQ" allowfullscreen style="max-height: 350px;"></iframe>
                        </div>
                        <div class="conf-quote text-right">
                            <div class="text-justify">Aprender a gestionar tu tiempo puede duplicar tu productividad,
                                liberarte del estrés y llevarte a alcanzar tus metas
                            </div>
                            <br>
                            <div class="row text-center">
                                <a class="btn btn-primary" href="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}">Ver más</a>
                                &nbsp;&nbsp;&nbsp;
                                {% if app.user %}
                                    <a class="btn btn-custom"
                                       href="{{ path('cart') }}">Tomar Conferencia</a>
                                {% else %}
                                    <a class="btn btn-custom" href="{{ path('curso_registro', {'id': 'gestion-del-tiempo'}) }}">Tomar Conferencia</a>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-md-4 mission-col news-post">
                    <h3><b>Testimonios</b></h3>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“Descubrí que esta modalidad de conferencias me ahorra tiempo y
                                dinero, la calidad del material es A1”
                            </div>
                            - Francisco Sanchez -
                        </div>
                    </article>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“En Estados Unidos solia asistir a webinars de prestigiosas
                                universidades y me preguntaba si habia material de esa calidad disponible en español, no
                                tengo que buscar más! “
                            </div>
                            - Ximena Parodi -
                        </div>
                    </article>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“Asistí a la Conferencia Virtual sobre “Gestión del Tiempo” y
                                quedé muy satisfecho con los consejos de Iris Reyna”
                            </div>
                            - Orlando Jara -
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-md-4 conf-cols text-center news-post">
                    <!--<div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.facebook.com/Iris.Reyna.Conferencia.Virtual" target="_blank">
                                <img src="{{ asset("assets/img/iris-page.jpg") }}"/>
                                <h4>¡Visita el fan page de Conferencias Virtuales!</h4>
                            </a>
                        </div>
                    </div>
                    <h3><b>¿Cómo me registro?</b></h3>
                    <br>
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8L8-MpXlPo0" allowfullscreen style="max-height: 350px; width: 100%; height: 300px;"></iframe>
                    <hr>-->
                    <h3><b>Contáctanos</b></h3>
                    <div style="text-align: center">
                        <a class="btn btn-primary email-us" href="mailto:3c@3ccultura.com"><i class="fa fa-envelope-o fa-2x"></i></a> <span class="email-us">/ Escríbenos</span>
                        <br>
                        <br>
                        <img src="{{ asset("assets/img/conferencia/whatsapp.png") }}" /><span class="email-us">&nbsp;&nbsp;/ 959158742</span>
                        <!--<img src="{{ asset("bundles/app/img/home/contacto.png") }}" style="height: 95px;"/>-->
                        <br>
                        <br>
                        <aside id="search-2" class="widget widget_search">
                            <div class="search_line">
                                <form method="get" action="#">
                                    <p>
                                        <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                               type="text">
                                        <input value="" type="submit">
                                    </p>
                                </form>
                            </div>
                        </aside>
                    </div>

                    <br>
                    <hr>
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p class="text-left">No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>
                </div>


            </div>
            <div class="row conf-client">
                <div class="panel panel-default">
                    <div class="panel-body client-row">
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_ccl.jpeg') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2  text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_hbr.png') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2  text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_mind_tools.png') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_seguripago.jpg') }}"/>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/paypal-logo-color.png') }}"/>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/credibility_pci-logo.png') }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-3c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Regístrese</h4>
                </div>
                <div class="modal-body">

                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-12">
                            Los campos marcados con (<span class="requerido">*</span>) son
                            obligatorios.</span>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            {% set isError = form.nombre.vars.errors|length %}
                            <div class="form-group {{ isError ? 'has-error': '' }}">
                                <span class="requerido"
                                      title="El campo es obligatorio.">* </span>
                                {{ form_label(form.nombre, '', {'label_attr': {'class': 'control-label required', 'id':'txt_nombre' }}
                                ) }}
                                <div class="form-widget">
                                    {{ form_widget(form.nombre) }}
                                    <div class="icon-result">
                                        {{ form_errors(form.nombre) }}
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-md-6">
                            {% set isError = form.user.email.vars.errors|length %}
                            <div class="form-group {{ isError ? 'has-error': '' }}">
                                <span class="requerido"
                                      title="El campo es obligatorio.">* </span>
                                {{ form_label(form.user.email, '', {'label_attr': {'class': 'control-label required' }}
                                ) }}
                                <div class="form-widget">
                                    {{ form_widget(form.user.email) }}
                                    <div class="icon-result">
                                        {{ form_errors(form.user.email) }}
                                    </div>
                                </div>
                            </div>

                            {% set isError = form.user.plainPassword.vars.errors|length %}
                            <div class="form-group {{ isError ? 'has-error': '' }}">
                                <span class="requerido"
                                      title="El campo es obligatorio.">* </span>
                                {{ form_label(form.user.plainPassword, '', {'label_attr': {'class': 'control-label required' }}
                                ) }}
                                <div class="form-widget">
                                    {{ form_widget(form.user.plainPassword) }}
                                    <div class="icon-result">
                                        {{ form_errors(form.user.plainPassword) }}
                                    </div>
                                </div>
                                <h6>NOTA
                                    <br>
                                    La contraseña es personal y es para proteger su información
                                </h6>

                            </div>

                        </div>
                    </div>
                    <p class="corporativas" style="display:none;">Para compras corporativas enviar un
                        correo a 3c@3cultura.com</p>

                    <p>Al hacer click en <b>Registrarme</b> Ud. acepta los <a
                                href="{{ path('termino_condicion') }}" target="_blank">Términos y
                            condiciones.</a></p>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="fromBanner" value="1" />
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% block prefooter %}
    {% endblock %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(window).bind("load", function () {
            // code here
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });

        $(window).resize(function () {
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });
    </script>


    <script src="{{ asset('bundles/app/js/conf-page.js') }}" type="text/javascript"></script>
    <script>
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>

{% endblock %}