{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block container %}

    <style>
        label {
            font-weight: normal;
        }

        .shareaholic-share-buttons-container.wrapped {
            float: none;
        }
    </style>

    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('conferencia') }}">Conferencias Virtuales</a>
        <span class="breadcrumbs_sep"> / </span>
        <span>Gestión del Tiempo</span>

    </div>

    <section id="middle_content service-section" role="main">
        <div class="content_wrap fullwidth">
            <h1><b>Conferencia Virtual: Gestión del Tiempo</b></h1>

            <div class="row">
                <div class="col-xs-12 col-md-6 text-justify">
                    <p>
                        Auméntale horas a tu día administrando eficazmente tú tiempo. Duplica tu productividad, libérate
                        del estrés y ¡logra tus metas! Aprendiendo de la mano de <a href="{{ path("consultant") }}"><b>Iris
                                Reyna</b></a>, psicóloga especialista en efectividad personal
                    </p>
                    <ul class="conf-checks">
                        <li><b>Descubre técnicas y herramientas</b> para liberar tiempo en tu agenda</li>
                        <li><b>Siente la libertad </b> de ¡vivir sin estrés!.</li>
                        <li><b>Recibe un Certificado </b>y materiales de participación.</li>
                        <li><b>Por solo $25</b> esta conferencia puede cambiar tu vida.</li>
                    </ul>
                    <br>

                    <div class="text-center">
                        {% if app.user %}
                            <a href="{{ path('cart') }}"
                               class="btn btn-custom btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomar Conferencia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        {% else %}
                            <a href="{{ path('curso_registro', {'id': 'gestion-del-tiempo'}) }}"
                               class="btn btn-custom btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomar Conferencia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        {% endif %}
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bY7e-Cie3pA"
                                style="max-height: 350px;"
                                allowfullscreen></iframe>
                    </div>
                    <!--Social Buttons-->
                    <div class='shareaholic-canvas text-center' data-app='share_buttons' data-app-id='7824021'
                         data-title='Conferencias Virtuales'
                         data-link='{{ app.request.getBaseURL() }}{{ url('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}'
                         data-summary='Encuentra técnicas y herramientas que podrás utilizar de inmediato para mejorar tu efectividad personal y profesional. Nuestras conferencias abordan necesidades actuales del mundo laboral explicadas por expertos en cada tema que desarrollamos'>
                    </div>
                    <!--Social Buttons-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 mission-col news-post">
                    <h3>Temario</h3>
                    <br>
                    <ul style="margin-left: 1.4em;">
                        <li>¿Qué es gestión del tiempo y por qué es tan importante para aumentar nuestra productividad,
                            liberarse del estrés y lograr nuestras metas?
                        </li>
                        <li>Las trampas que nos llevan a malgastar nuestro tiempo y estresarnos.</li>
                        <li>Lo que NO debes hacer si quieres sacar el máximo provecho de tu tiempo</li>
                        <li>Técnicas y recomendaciones para priorizar y dar orden a la avalancha de actividades
                            pendientes
                        </li>
                        <li>Los ladrones del tiempo, internos y externos. Cuáles son y cómo manejarlos.</li>
                        <li>La importancia de persuadir y su impacto en la gestión del tiempo</li>
                        <li>La importancia de persistir y generar hábitos rentables</li>
                    </ul>
                    <br>
                    {% block kayue_wordpress_bundle_content %}
                        <div class="one_first related-art">
                            <aside id="recent-posts-2" class="widget widget_recent_entries">
                                <h3 class="widgettitle"><b>Artículos Relacionados</b></h3>
                                <ul>
                                    {% for post in relatedPosts %}
                                        <li>
                                            <a href="{{ path("blog_get", {id:post.id}) }}">{{ post.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        </div>



                    {% endblock %}

                </div>
                <div class="col-xs-12 col-md-4 mission-col news-post">
                    <h3>Testimonios</h3>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“La conferencia acerca Gestion del Tiempo de Iris Reyna me ha
                                servido mucho, gracias a ella ahora disfruto más tiempo con mis hijos”
                            </div>
                            - Juan Parra -
                        </div>
                    </article>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“Asistí por insitencia de mi jefe, ahora puedo por fin salir a las
                                5 en punto del trabajo“
                            </div>
                            - Laura Schultz -
                        </div>
                    </article>
                    <article class="testim-article">
                        <div class="testim-quote text-right">
                            <div class="text-justify">“Como quisiera haber escuchado estas recomendaciones antes, me ha
                                servido muchísimo para ordenarme”
                            </div>
                            - Adrián Martel -
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-md-4 news-post">
                    <!--<div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.facebook.com/pages/Gesti%C3%B3n-del-Tiempo/422768604570363?fref=ts" target="_blank">
                                <img src="{{ asset("assets/img/conferencias.png") }}"/>
                                <h4>¡Visita el fan page de Gestión del Tiempo!</h4>
                            </a>
                        </div>
                    </div>

                    <h3><b>¿Cómo me registro?</b></h3>
                    <br>
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8L8-MpXlPo0"
                            allowfullscreen style="max-height: 350px; width: 100%; height: 300px;"></iframe>
                    <hr>-->
                    <h3><b>Contáctanos</b></h3>

                    <div style="text-align: center">
                        <a class="btn btn-primary email-us" href="mailto:3c@3ccultura.com"><i
                                    class="fa fa-envelope-o fa-2x"></i></a> <span class="email-us">/ Escríbenos</span>
                        <br>
                        <br>
                        <img src="{{ asset("assets/img/conferencia/whatsapp.png") }}"/><span class="email-us">&nbsp;&nbsp;/ 959158742</span>
                        <!--<img src="{{ asset("bundles/app/img/home/contacto.png") }}" style="height: 95px;"/>-->
                        <br>
                        <br>
                        <aside id="search-2" class="widget widget_search">
                            <div class="search_line">
                                <form method="get" action="#">
                                    <p>
                                        <input name="s" id="error_search" placeholder="Escribe lo que buscas" value=""
                                               type="text">
                                        <input value="" type="submit">
                                    </p>
                                </form>
                            </div>
                        </aside>
                    </div>

                    <br>
                    <hr>
                    <aside id="text-13" class="widget widget_text formulario-int">

                        <div class="textwidget">
                            <form action="//3ccultura.us8.list-manage.com/subscribe/post?u=9a89fe16526903ae9e84bd495&amp;id=364fdbb796"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <input type="hidden" name="id" value="364fdbb796">

                                <p>Únete a Nosotros. Cada quincena te enviaremos un tip totalmente Gratis:</p>

                                <p>
                                    <input type="text" name="MERGE2" id="MERGE2" class="nombre"
                                           placeholder="Ingresa tu Nombre" required><br>
                                    <input type="text" name="MERGE0" id="MERGE0" class="email"
                                           placeholder="Ingresa tu E-mail" required><br>
                                    <input type="submit" name="submit" class="boton" value="Subscríbete">
                                </p>

                                <p class="text-left">No Spam ¡Prometido!</p>
                            </form>
                        </div>
                    </aside>

                </div>
            </div>
            <div class="row conf-client">
                <div class="panel panel-default">
                    <div class="panel-body client-row">
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_ccl.jpeg') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_hbr.png') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_mind_tools.png') }}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/logo_seguripago.jpg') }}"/>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/paypal-logo-color.png') }}"/>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-2 text-center">
                            <img class="conf-logos" src="{{ asset('bundles/app/img/credibility_pci-logo.png') }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 text-center">
                    {% if app.user %}
                        <a href="{{ path('cart') }}"
                           class="btn btn-custom btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomar
                            Conferencia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% else %}
                        <a href="{{ path('curso_registro', {'id': 'gestion-del-tiempo'}) }}"
                           class="btn btn-custom btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomar
                            Conferencia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}
                </div>
            </div>


        </div>
    </section>

    {% block prefooter %}
    {% endblock %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(window).bind("load", function () {
            // code here
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });

        $(window).resize(function () {
            var heights = $(".news-post").map(function () {
                        return $(this).height();
                    }).get(),

                    maxHeight = Math.max.apply(null, heights);
            $(".news-post").height(maxHeight);
        });
    </script>

    <script src="{{ asset('bundles/app/js/conf-page.js') }}" type="text/javascript"></script>
    <script>
        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>
{% endblock %}