{% extends "AppBundle:AppTemplate:main.html.twig" %}

{% block socialmeta %}
    <meta property="og:title" content="3C Cultura - Conferencia Gestión del Tiempo"/>
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ asset("bundles/app/img/home/tiempo.png") }}"/>
    <meta property="og:url" content="{{ path('conferencia_detalle', {'uri': 'gestion-del-tiempo'})  }}"/>
    {% autoescape false %}
    <meta property="og:description" content="Gestionar nuestro tiempo estratégicamente es una ciencia que nadie nos enseña. En esta conferencia conocerás las claves para duplicar tu productividad, liberarte del estrés y lograr tus metas"/>
    {% endautoescape %}
{% endblock %}

{% set section = 'curso' %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        .togg + .togg {
            margin-top: 0;
            border-top: 1px solid #ddd
        }

        .entry-content p, li {
            line-height: 16px;
        }

        .cmsms_cc .media_box {
            padding-bottom: 10px;
        }

        .cmsms_cc footer {
            padding: 0 0 10px;
        }

        .curso-precio {
            padding: 2em 0;
            font-weight: normal;
            border-top: 1px solid #ddd;
            overflow: hidden;
            text-align: center;
            font-size: 18px;
        }

        .curso-precio .precio-titulo {
            font-size: 18px;
        }

        .curso-precio .precio-valor {
            text-align: center;
            font-size: 44px;
        }

        .curso-precio .precio-detalle {
            text-align: center;
            font-size: 14px;
        }

        .curso-precio .precio-valor span {
            line-height: 0.8;
        }

        .btn-pagar {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

        }

        .button_medium {
            padding: 5px 50px 5px;
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Conferencias</a>
        <span class="breadcrumbs_sep"> / </span>
        <span> Gestión del Tiempo</span>
    </div>

    <div class="col-md-12"><h1 class="">{{ conferencia.nombre }}</h1></div>
    <div class="col-md-8">
        <article class="panel panel-default" style="border-radius: 0px;">
            <div class="panel-body">
                {% autoescape %}
                <p class="text-justify">{{ conferencia.descripcion|raw }}</p>
                {% endautoescape %}
                <span><b>Para acceder a al conferencia siga los siguientes pasos:</b></span>
                <hr>

                <h4>
                    <div class="well-sm text-center" id="steps">
                        <a href="{{ path('curso_registro', {'id': conferencia.uri }) }}"
                           class="btn btn-{{ not app.user ? 'primary' : 'default' }} btn-lg" {{ not app.user ? '' : 'disabled' }}><i
                                    class="fa fa-list-alt"></i> 01. Regístrese</a> &gt;&gt;
                        <a href="{{ path('cart_horario', {'uri': conferencia.uri }) }}"
                           class="btn btn-{{ not app.user ? 'default' : 'primary' }} btn-lg" {{ not app.user ? 'disabled' : '' }}>
                            <i class="fa fa-user"></i> 02. Seleccione Horario
                        </a>
                        &gt;&gt;
                        <button class="btn btn-default btn-lg disabled"><i class="fa fa-credit-card"></i> 03. Pague
                        </button>
                    </div>
                </h4>

                <div class="text-center">
                    <div class="col-lg-4" style="margin-top: 3.5em;">
                        Gracias por Compartir:
                    </div>
                    <div class="col-lg-8">
                        <!--Social Buttons-->
                        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='7824021'
                             data-title='Conferencia Virtual: Gestión del Tiempo'
                             data-link='{{ url('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}'
                             data-summary=''></div>
                        <!--Social Buttons-->
                        <br>
                    </div>
                </div>
            </div>
        </article>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3><b>Avance Conferencia Virtual "Gestión del Tiempo"</b></h3>
            </div>
            <div class="col-lg-12 text-center">
                <iframe width="100%" height="394" src="https://www.youtube.com/embed/zGR_1go_DKI" frameborder="0" allowfullscreen></iframe>
                <div class='shareaholic-canvas' data-app-id='8b22b322b04e39ba991559270b2097fb' data-app='share_buttons'
                     data-title='Avance Conferencia Virtual "Gestión del Tiempo'
                     data-link='https://www.youtube.com/watch?v=Vcbw0G1IldQ'
                     data-summary='Trailer Gestión del Tiempo'></div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        {% if conferencia.conferencista.id is defined %}
            <h3>CONFERENCISTA</h3>
            <div class="panel panel-default">
                <div class="panel-body text-justify">
                    <h3>{{ conferencia.conferencista }}</h3>
                    {% autoescape false %}
                    {{ conferencia.conferencista.descripcion }}
                    {% endautoescape %}
                </div>
            </div>
        {% endif %}

        <aside id="text-10" class="widget widget_text">
            <h3 class="widgettitle">Contáctate con Nosotros.</h3>
            <div class="textwidget text-center">
                <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                    <iframe frameborder="0" height="390" width="100%"
                            src="http://www.3ccultura.com/formulario/index.php"></iframe>
                </div>
                <hr>
                <img src="{{ asset("bundles/app/img/home/contacto.png") }}" />
            </div>
        </aside>
    </div>

    {#{% endfor %}#}
    <div class="clearfix"></div>

    {% block prefooter %}
    {% endblock %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set.
                        _.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?30n734TN5Bou4t8I8Fer8j6rg93S4yyF";
            z.t = +new Date;
            $.
                    type = "text/javascript";
            e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zopim Live Chat Script-->

    <script>
        $(function () {
            $("#btnPagar").on('click', function () {
                var horario = $('input[name=horario]:checked').val();
                if (horario) {
                    var route = "{{ path('cart_add_item', { 'id': 'PLACEHOLDER' }) }}";
                    window.location = route.replace("PLACEHOLDER", horario);

                }
                else {
                    alert('Seleccione un horario.');
                }

            });

            {% if app.user %}
                $('html, body').animate({
                    scrollTop: $("#steps").offset().top
                }, 1000);
            {% endif %}



        });

        (function ($, window, document, undefined) {

            $(function () {

                var table = $('#table-horarios').dataTable({
                    paging: true,
                    ordering: true,
                    searching: false,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    aoColumnDefs: [
                        {'bSortable': false}
                    ],
                    language: {
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "Buscar:",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "<i class='fa fa-chevron-right'></i>",
                            sPrevious: "<i class='fa fa-chevron-left'></i>"
                        },
                        oAria: {
                            sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sSortDescending: ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
            });

        })(jQuery, window, document);


        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded')
                    return;
                var site_id = '8b22b322b04e39ba991559270b2097fb';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>
    </script>

{% endblock %}