{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        .togg + .togg {
            margin-top: 0;
            border-top: 1px solid #ddd
        }

        .entry-content p, li {
            line-height: 16px;
        }

        .cmsms_cc .media_box {
            padding-bottom: 10px;
        }

        .cmsms_cc footer {
            padding: 0 0 10px;
        }

        .curso-precio {
            padding: 2em 0;
            font-weight: normal;
            border-top: 1px solid #ddd;
            overflow: hidden;
            text-align: center;
            font-size: 18px;
        }

        .curso-precio .precio-titulo {
            font-size: 18px;
        }

        .curso-precio .precio-valor {
            text-align: center;
            font-size: 44px;
        }

        .curso-precio .precio-detalle {
            text-align: center;
            font-size: 14px;
        }

        .curso-precio .precio-valor span {
            line-height: 0.8;
        }

        .btn-pagar {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

        }

        .button_medium {
            padding: 5px 50px 5px;
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="cmsms_breadcrumbs">
        <a href="{{ path('index') }}" class="cms_home">Inicio</a>
        <span class="breadcrumbs_sep"> / </span>
        <a href="{{ path('index') }}" class="cms_home">Conferencias</a>
        <span class="breadcrumbs_sep"> / </span>
        <span> Gestión del Tiempo</span>
    </div>

    <div class="col-md-12"><h1 class="">{{ conferencia.nombre }}</h1></div>
    <div class="col-md-8">
        <article class="panel panel-default" style="border-radius: 0px;">
            <div class="panel-body">
                {% autoescape %}
                <p class="text-justify">{{ conferencia.descripcion|raw }}</p>
                {% endautoescape %}
                <hr>

                <h4>
                    <div class="well-sm text-center" id="steps">
                        <a href="{{ path('curso_registro', {'id': app.request.uri }) }}"
                           class="btn btn-{{ not app.user ? 'primary' : 'default' }} btn-lg" {{ not app.user ? '' : 'disabled' }}><i
                                    class="fa fa-list-alt"></i> 01. Regístrese</a> &gt;&gt;
                        <button class="btn btn-{{ not app.user ? 'default' : 'primary' }} btn-lg" {{ not app.user ? 'disabled' : '' }}>
                            <i class="fa fa-user"></i> 02. Seleccione Horario
                        </button>
                        &gt;&gt;
                        <button id="btnPagar"
                                class="btn btn-{{ not app.user ? 'primary' : 'default' }} btn-lg" {{ not app.user ? '' : 'disabled' }}><i
                                    class="fa fa-credit-card"></i> 03. Pague
                        </button>
                    </div>
                </h4>
                {% if app.user %}

                    {% for flashMessage in app.session.flashbag.get('registration_done') %}
                        {% if loop.index == 1 %}
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-thumbs-o-up fa-2x"></i> &nbsp; FELICIDADES!!, Ya te has registrado, ahora selecciona el horario en que te gustaría participar
                            </div>
                        {% endif %}
                    {% endfor %}

                    <h3>Para acceder a la conferencia seleccione un horario:</h3>
                    <table class="table table-bordered table-hover" id="table-horarios">
                        <thead>
                        <tr>
                            <th colspan="2">Fecha de Conferencia</th>
                            <th>Hora Inicio</th>
                            <th>Hora Final</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if horario is defined %}
                            {% for horario in horario %}
                                <tr>
                                    <td width="20px">
                                        {% set cart = app.session.get('cart') %}
                                        {% set checked = '' %}

                                        {% if (cart != null ) %}
                                            {% if (cart.id_horario == horario.id ) %}
                                                {% set checked = 'checked' %}
                                            {% endif %}
                                        {% endif %}
                                        <input id="{{ horario.id }}" type="radio" name="horario" value="{{ horario.id }}" {{ checked }}>
                                    <td>
                                        {{ horario.fecharegistro|date('d/m/Y') }}
                                    </td>
                                    <td>
                                        {{ horario.horaInicio|date('H:i') }}
                                    </td>
                                    <td>
                                        {{ horario.horaFin|date('H:i') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                {% endif %}

                <div class="curso-precio">Precio de Conferencia Virtual (incluido IGV):
                    <b>S/. {{ conferencia.precio }}</b>

                    <div class="precio-detalle">
                        Para ventas corporativas escribir a: <b>3c@3ccultura.com</b>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-lg-4" style="margin-top: 3.5em;">
                        Gracias por Compartir:
                    </div>
                    <div class="col-lg-8">
                        <!--Social Buttons-->
                        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='7824021'
                             data-title='Conferencia Virtual: Gestión del Tiempo'
                             data-link='{{ url('conferencia_detalle', {'uri': 'gestion-del-tiempo'}) }}'
                             data-summary=''></div>
                        <!--Social Buttons-->
                        <br>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-4">
        {% if conferencia.conferencista.id is defined %}
            <h3>CONFERENCISTA</h3>
            <div class="panel panel-default">
                <div class="panel-body text-justify">
                    <h3>{{ conferencia.conferencista }}</h3>
                    {% autoescape false %}
                    {{ conferencia.conferencista.descripcion }}
                    {% endautoescape %}
                </div>
            </div>
        {% endif %}

        <div>
            <br>
            <h3>Trailer conferencia virtual "Gestión del Tiempo"</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/Vcbw0G1IldQ"
                    frameborder="0" allowfullscreen></iframe>
            <br>
            <br>
        </div>

        <aside id="text-10" class="widget widget_text">
            <h3 class="widgettitle">Contáctate con Nosotros.</h3>
            <div class="textwidget">
                <div class="wpcf7" id="wpcf7-f3900-p3488-o1">
                    <iframe frameborder="0" height="390" width="100%"
                            src="http://www.3ccultura.com/formulario/index.php"></iframe>
                </div>
            </div>
        </aside>
    </div>

    {#{% endfor %}#}
    <div class="clearfix"></div>

    {% block prefooter %}
    {% endblock %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
       /* window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set.
                        _.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?30n734TN5Bou4t8I8Fer8j6rg93S4yyF";
            z.t = +new Date;
            $.
                    type = "text/javascript";
            e.parentNode.insertBefore($, e)
        })(document, "script");*/
    </script>
    <!--End of Zopim Live Chat Script-->

    <script>

        $(function () {

            setTimeout( function(){
                // Do something after 1 second
                $(".confirm").append("<div class='col-sm-6 text-right'><button id='btnPagar' class='btn btn-success'> <i class='fa fa-check'></i>&nbsp; Confirmar Horario</button></div>")
            }  , 500 );

            $("#btnPagar").live('click', function () {
                var horario = $('input[name=horario]:checked').val();
                if (horario) {
                    var route = "{{ path('cart_add_item', { 'id': 'PLACEHOLDER' }) }}";
                    window.location = route.replace("PLACEHOLDER", horario);

                }
                else {
                    alert('Seleccione un horario.');
                }

            });

            {% if app.user %}
                $('html, body').animate({
                    scrollTop: $("#steps").offset().top
                }, 1000);
            {% endif %}
        });

        (function ($, window, document, undefined) {

            $(function () {

                var table = $('#table-horarios').dataTable({
                    paging: true,
                    ordering: true,
                    searching: false,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    aoColumnDefs: [
                        {'bSortable': false}
                    ],
                    dom:
                    "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row confirm'<'col-sm-6'p>>",
                    language: {
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "Buscar:",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "<i class='fa fa-chevron-right'></i>",
                            sPrevious: "<i class='fa fa-chevron-left'></i>"
                        },
                        oAria: {
                            sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sSortDescending: ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
            });

        })(jQuery, window, document);


        //<![CDATA[
        (function () {
            var shr = document.createElement('script');
            shr.setAttribute('data-cfasync', 'false');
            shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
            shr.type = 'text/javascript';
            shr.async = 'true';
            shr.onload = shr.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs && rs != 'complete' && rs != 'loaded') return;
                var site_id = '6933432167e0953b76ef3dcc43763b35';
                try {
                    Shareaholic.init(site_id);
                } catch (e) {
                }
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(shr, s);
        })();
        //]]>

    </script>

{% endblock %}