{% extends "AppBundle:AppTemplate:main.html.twig" %}
{% set section = 'curso' %}
{% block container %}
    <style>
        .btn-pagar {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

        }

        .button_medium {
            padding: 8px 60px 9px;
        }

        a img {
            max-width: 100%;
            display: inline;
            border: 0;
        }

        @media screen and (max-width: 767px) {
            .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
                white-space: normal;
            }
        }
    </style>
    {% form_theme form 'AppBundle:Form:fields.html.twig' %}
    <section id="middle" class="portfolio_page">
        <div class="headline">
            <h2>Cursos</h2>
        </div>
        <div class="cmsms_breadcrumbs">
            <a href="{{ path('index') }}" class="cms_home">Inicio</a>
            <span class="breadcrumbs_sep"> / </span>
            <a href="{{ path('index') }}" class="cms_home">Conferencias Virtuales</a>
            <span class="breadcrumbs_sep"> / </span>
            <span>Detalles del servicio</span>
        </div>

        <div class="content_wrap fullwidth">
            <section id="middle_content" role="main">
                <div class="entry">
                    <div class="cmsms_cc">
                        <div class="one_first first_column" data-folder="column" data-type="">
                            <div data-folder="text" data-type="">
                                {% if app.user %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="one_first first_column" data-folder="column" data-type="">
                            <div class="row">
                                <div class="col-lg-12">


                                    {% for flashMessage in app.session.flashbag.get('course_done') %}
                                        {% if loop.index == 1 %}
                                            <div class="alert alert-info" role="alert">
                                                <i class="fa fa-check fa-2x"></i> &nbsp; EXCELENTE!!! ya te has
                                                registrado, solo queda un paso y estamos listos
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Confirme tu pago</h3>
                                                </div>
                                                <div class="panel-body confirm-zone">

                                                    <ul class="list-group">
                                                        <li class="list-group-item">Conferencia Virtual: <span
                                                                    class="pull-right" id="priceConf">S/. 89</span></li>
                                                        <li class="list-group-item">Total (incluido impuestos): <span
                                                                    class="pull-right" id="priceConfTotal">S/. 89</span></li>
                                                    </ul>

                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                                        <li role="presentation" class="active"><a href="#seguripago"
                                                                                                  aria-controls="seguripago"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">Seguripago</a>
                                                        </li>
                                                        <li role="presentation"><a href="#paypal" aria-controls="paypal"
                                                                                   role="tab"
                                                                                   data-toggle="tab">Paypal</a></li>
                                                    </ul>

                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active text-center"
                                                             id="seguripago">
                                                            <br>
                                                            {{ form_start(form) }}
                                                            <button type="submit"
                                                                    class="btn btn-success first-pay-btn btn-inscrib"
                                                                    data-button="spago">Pagar con Seguripago
                                                            </button>
                                                            <p class="help-block">
                                                                <small>Serás redigirido a la página de Seguripago; cuando
                                                                    completes el pago, recibirás un email con los
                                                                    accessos a la conferencia
                                                                </small>
                                                            </p>
                                                            {{ form_end(form) }}
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane text-center" id="paypal">
                                                            <br>
                                                            <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
                                                                   method="post" target="_top">
                                                                 <input type="hidden" name="cmd" value="_s-xclick">
                                                                 <input type="hidden" name="hosted_button_id"
                                                                        value="EA6KVE5BWUEB8">
                                                                 <input type="image" id="paypalBtn"
                                                                        src="https://www.sandbox.paypal.com/es_ES/i/btn/btn_buynowCC_LG.gif"
                                                                        border="0" name="submit"
                                                                        alt="PayPal - The safer, easier way to pay online!">
                                                                 <img alt="" border="0"
                                                                      src="https://www.sandbox.paypal.com/es_ES/i/scr/pixel.gif"
                                                                      width="1" height="1">
                                                             </form>-->
                                                            <form action="https://www.paypal.com/cgi-bin/webscr"
                                                                  method="post" target="_top">
                                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                                <input type="hidden" name="hosted_button_id"
                                                                       value="LE6UBQ4XRA3W6">

                                                                <button type="submit" name="submit"
                                                                        class="btn btn-success first-pay-btn btn-inscrib">
                                                                    Pagar con Paypal
                                                                </button>
                                                                <img alt="" border="0"
                                                                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                                                     width="1" height="1">

                                                                <p class="help-block">
                                                                    <small>Serás redigirido a la página de Paypal; cuando
                                                                        completes el pago, recibirás un email con los
                                                                        accessos a la conferencia
                                                                    </small>
                                                                </p>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 text-center">
                                                        <div class="medio-pago">
                                                            <img src="{{ asset('bundles/app/img/visa.png') }}">
                                                            <img src="{{ asset('bundles/app/img/mastercard_90x40.png') }}">
                                                            <img src="{{ asset('bundles/app/img/bbva_90X40.png') }}">
                                                            <img src="{{ asset('bundles/app/img/bcp_90X40.png') }}">
                                                            <img src="{{ asset('bundles/app/img/scotiabank_90X40.png') }}">&nbsp;
                                                            <img src="{{ asset('bundles/app/img/sp_logo.png') }}" style="max-width: 90px;">&nbsp;&nbsp;
                                                            <img src="{{ asset('bundles/app/img/paypal.jpg') }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                        <p class="text-right">
                                            Si tiene alguna dificultad para efectuar su pago online, haga
                                            <b>
                                                <a class="click-here" href="#" data-toggle="modal"
                                                   data-target="#alternativeModal">Click aquí</a>
                                            </b>
                                        </p>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="alternativeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-3c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Problemas para Pagar?</h4>
                </div>
                <div class="modal-body">
                    <p>De presentarse algun inconveniente con el pago online, por favor enviar un correo electrónico a
                        <b>3c@3ccultura.com</b>, o un whatsapp a 948 948 538</p>

                    <p>En caso de residir en el Perú, como alternativa, usted puede realizar su
                        deposito en cuenta o transferencia bancaria directamente a 3C Consultores en Cultura Corporativa
                        S.A.C al siguiente Nro. de Cuenta</p>

                    <p>
                        <b>BCP
                            <br>
                            Cuenta Corriente en Nuevos Soles
                            <br>
                            Nro. :193-2042216-0-43
                            <br>
                            Código Interbancario: 00219300204221604310
                        </b>
                    </p>
                    <p>y enviarnos constancia de pago a <b>3c@3ccultura.com</b> con su nombre y correo electrónico</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="copy-button" class="btn btn-default"
                            data-clipboard-text="BCP. Cuenta Corriente en Nuevos Soles Nro. :193-2042216-0-43 Código Interbancario: 00219300204221604310">
                        <i class="fa fa-paperclip"></i> Copiar cuenta al portapapeles
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/app/js/validation/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/clipboard/ZeroClipboard.min.js') }}"></script>
    <script>

        $("#errorSubmit").hide();
        $("#boletaFields").hide();
        $("#facturaFields").hide();
        $("#exteriorFields").hide();

        var showBtnPaypal = false;
        /*
         $(".first-pay-btn").on("click", function (e) {

         if ($(this).data("button") == "paypal")
         showBtnPaypal = true;
         else
         showBtnPaypal = false;

         $("#country-payment").show();

         $('html, body').animate({
         scrollTop: $("#country-payment").offset().top
         }, 500);

         });*/

        /* $('input:radio[name="paymentOption"]').change(
         function () {

         $("#errorSubmit").hide();

         if ($(this).is(':checked')) {

         //$("#paymentButtonsOptions").hide();

         if ($(this).val() == "boleta") {
         $("#boletaFields").show();
         $("#facturaFields").hide();
         $("#exteriorFields").hide();

         }

         if ($(this).val() == "factura") {
         $("#boletaFields").hide();
         $("#facturaFields").show();
         $("#exteriorFields").hide();
         // $("#paymentButtonsOptions").show();
         }

         /*if ($(this).val() == "exterior") {
         $("#boletaFields").hide();
         $("#facturaFields").hide();
         $("#exteriorFields").show();
         }*/

        //$("#paymentButtonsOptions").show();


        /*      if (showBtnPaypal) {
         $("#paypalDiv").show();
         $("#spagoBtn").hide();
         }
         else {
         $("#paypalDiv").hide();
         $("#spagoBtn").show();
         }


         }
         }
         );*/


        /* $("#exteriorPais").on("change", function () {

         //  $("#paymentButtonsOptions").hide();

         if ($(this).val() == "PE") {
         $("input:radio[name='paymentOption']").prop('checked', false);
         $("#docOptionsPeruRow").show();
         $("#boletaFields").hide();
         $("#facturaFields").hide();
         $("#exteriorFields").hide();
         $("#paypalDiv").hide();
         $("#spagoBtn").hide();
         }
         else {

         if ($(this).val() == "") {
         $("#docOptionsPeruRow").hide();
         $("#boletaFields").hide();
         $("#facturaFields").hide();
         $("#exteriorFields").hide();
         $("#spagoBtn").hide();
         $("#paypalDiv").hide();
         // $("#paymentButtonsOptions").hide();
         }
         else {
         $("#docOptionsPeruRow").hide();
         $("#boletaFields").hide();
         $("#facturaFields").hide();
         $("#exteriorFields").show();
         //  $("#paymentButtonsOptions").show();
         /*$("#spagoBtn").hide();
         $("#paypalDiv").show();*/


        /*  if (showBtnPaypal) {
         $("#paypalDiv").show();
         $("#spagoBtn").hide();
         }
         else {
         $("#paypalDiv").hide();
         $("#spagoBtn").show();
         }


         }
         }
         });*/

        /* $("#paypalBtn").on("click", function (e) {
         //e.preventDefault();

         $("form[name=form]").validate();

         if ($("form[name=form]").valid()) {
         $.ajax({
         method: "POST",
         url: "save-session",
         data: $("form[name=form]").serialize()
         })
         .done(function (msg) {

         console.log(msg);
         //return false;
         //alert( "Data Saved: " + msg );
         // return true;
         });
         }
         else {
         return false;
         }


         });*/

        var client = new ZeroClipboard(document.getElementById("copy-button"));
        client.on("ready", function (readyEvent) {
        });

        // validate signup form on keyup and submit
        /*   $("form[name=form]").validate({
         ignore: ":hidden",
         rules: {
         boletaDni: {
         required: true,
         digits: true
         },
         boletaNombreCompleto: "required",
         facturaDirecc: "required",
         facturaRazonSocial: "required",
         facturaRUC: {
         required: true,
         digits: true
         },
         exteriorNombre: "required",
         exteriorDirecc: "required",
         paymentOption: "required"
         /* exteriorPais: "required"*/
        /*      },
         errorClass: 'errorSubmit',
         messages: {
         boletaDni: "Ingrese un DNI",
         boletaNombreCompleto: "Ingrese un Nombre",
         facturaDirecc: "Ingrese una Dirección",
         facturaRazonSocial: "Ingrese una Razon Social",
         facturaRUC: "Ingrese un RUC",
         exteriorNombre: "Ingrese un Nombre",
         exteriorDirecc: "Ingrese una Dirección",
         exteriorPais: "Seleccione un Pais",
         paymentOption: "Seleccione un tipo de comprobante"
         },
         submitHandler: function (form) {
         $.ajax({
         method: "POST",
         url: "save-session",
         data: $("form[name=form]").serialize()
         })
         .done(function (msg) {

         console.log("valor = " + msg);
         // return false;
         //alert( "Data Saved: " + msg );
         // return true;
         });

         form.ajaxSubmit();
         }
         });*/

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab

            if (target=="#paypal"){
                $("#priceConf").html("$ 25");
                $("#priceConfTotal").html("$ 25");
            }
            else{
                $("#priceConf").html("S/. 89");
                $("#priceConfTotal").html("S/. 89");
            }

        });

    </script>

{% endblock %}