
{% extends "AdminBundle:Base:admin_base.html.twig" %}

{% block content_page %}


{% form_theme edit_form 'AppBundle:Form:fields.html.twig' %}
{% form_theme edit_form.estado 'AppBundle:Form:fields_checkbox.html.twig' %}
<div class="modal-content-form">
    
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="modalContentLabel">Editar Conferencia</h4>
  </div>
  
  {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
  <div class="modal-body">

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
      <div class="mensaje field-hide">{{ flashMessage }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <p class="page-info-wc">
                Los campos marcados con (<span class="requerido">*</span>) son obligatorios.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12">

            {{ form_widget(edit_form.estado) }}

            <div class="form-group field-hide">
                {{ form_label(edit_form.fid_img) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.fid_img, { 'id': 'fid-img' }) }}
                </div>
            </div>

            {% set isError = edit_form.nombre.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(edit_form.nombre, '', {'label_attr': {'class': 'control-label required'}}) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.nombre) }}
                    <div class="icon-result">
                        {{ form_errors(edit_form.nombre) }}
                    </div>
                </div>
            </div>

            {% set isError = edit_form.uri.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(edit_form.uri, '', {'label_attr': {'class': 'control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.uri) }}
                    <div class="icon-result">
                        {{ form_errors(edit_form.uri) }}
                    </div>
                </div>
            </div>

            {% set isError = edit_form.descripcion.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(edit_form.descripcion, '', {'label_attr': {'class': 'control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.descripcion) }}
                    <div class="icon-result">
                        {{ form_errors(edit_form.descripcion) }}
                    </div>
                </div>
            </div>
            
            <div id="plupload">

                    <span id="background_image_preview" class="image-preview" ></span>

                <div class="uploader-tools">
                    <a class="btn btn-default btn-xs" id="browser" href="javascript:;">Subir Foto</a>
                    <p class="display-file-requirement">Tamaño máximo: 500Kb</p>
                    <p class="display-file-requirement">Formatos: JPG, PNG</p>
                    <p class="display-file-requirement">Medidas sugeridas: 90x90 px</p>
                    <p id="display-file-progress"></p>
                    <p id="display-file-error"></p>
                    <p class="display-file-name hidden"></p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-xs-6">
            {% set isError = edit_form.conferencista.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(edit_form.conferencista, '', {'label_attr': {'class': 'control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.conferencista) }}
                    <div class="icon-result">
                        {{ form_errors(edit_form.conferencista) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            {% set isError = edit_form.precio.vars.errors|length %}
            <div class="form-group {{ isError ? 'has-error': '' }}">
                {{ form_label(edit_form.precio, '', {'label_attr': {'class': 'control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(edit_form.precio) }}
                    <div class="icon-result">
                        {{ form_errors(edit_form.precio) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6">

          {% set isError = edit_form.fecha_inicio.vars.errors|length %}
          <div class="form-group {{ isError ? 'has-error': '' }}">
              {{ form_label(edit_form.fecha_inicio, 'Inicio', {'label_attr': {'class': 'control-label'}}) }}
              <div id='fechainicio' class="input-group input-group-nopadding-date date" >
                  {{ form_widget(edit_form.fecha_inicio) }}
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                  <div class="icon-result">
                      {{ form_errors(edit_form.fecha_inicio) }}
                  </div>
              </div>
          </div>
        </div>
        <div class="col-xs-6">

          {% set isError = edit_form.fecha_fin.vars.errors|length %}
          <div class="form-group {{ isError ? 'has-error': '' }}">
              {{ form_label(edit_form.fecha_fin, 'Fin', {'label_attr': {'class': 'control-label'}}) }}
              <div id='fechafin' class="input-group input-group-nopadding-date date" >
                  {{ form_widget(edit_form.fecha_fin) }}
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                  <div class="icon-result">
                      {{ form_errors(edit_form.fecha_fin) }}
                  </div>
              </div>
          </div>

        </div>
    </div>


  </div>
  <div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                {{ form_widget(edit_form.save, { 'attr': {'class': 'btn-primary'} }) }}
            </div>
        </div>
    </div>
  </div>

  {{ form_end(edit_form) }}

</div>

{% endblock %}

    {% block before_js %}

<script>
(function($, window, document, undefined){

    $(function(){

        $('#fechainicio').datetimepicker({language: 'es',pickTime: false,useStrict: true});

    });

})(jQuery, window, document);

</script>
    {% endblock %}