{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Conferencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Fid_img</th>
                <td>{{ entity.fidimg }}</td>
            </tr>
            <tr>
                <th>Fecha_inicio</th>
                <td>{{ entity.fechainicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha_fin</th>
                <td>{{ entity.fechafin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ entity.uri }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('conferencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('conferencia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
